<div id="about">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Компания</span>
			</div>
			<div class="title">
				<h2>Компания</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<h4>О компании</h4>
				</li>
				<li>
					<a href="/news">
						<h4>Новости</h4>
					</a>
				</li>
				<li>
					<a href="/hire">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<a href="/contacts">
						<h4>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>
		
	</section>
	<section class="infob">
		<div class="container">
			<div class="cards media2 ct_2 cts_1">
				<div class="card empty2">
					<h4 class="card_title">
						Мы проектируем, строим и запускаем цифровые продукты, как для клиентов,
						так и для наших собственных предприятий.
					</h4>
					<p class="card_text">
						Компания "Русские информационные технологии" работает на рынке правового поля и ИТ-решений для бизнеса с 2004 года.
						Группа компаний "РИТ" предлагает вам программные средства для автоматизации работы в различных сферах бизнеса,
						а также юридические услуги высочайшего качества в сфере банкротства,
						ликвидации и урегулирования задолженности. Став нашим клиентом, вы сможете получить оперативную устную и письменную юридическую помощь,
						 а также техническую и правовую поддержку программных продуктов нашей компании.
					</p>
				</div>
				<div class="card empty2">
					<div class="card_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
				</div>
			</div>
			<div class="cards cts_1">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
			</div>

			<div class="title">
				<h3>Команда</h3>
			</div>
			<div class="s_container">
				<div class="about_text">
					<p>
						В компании работает более 3800 сотрудников в 83 городах России.
						Мы приветствуем и поощряем инициативу: количество задач всегда больше, чем свободных рук, поэтому мы заинтересованы в том,
						чтобы работники могли попробовать себя в новом качестве. Компания вкладывается в профессиональный рост и обучение сотрудников,
						а они отвечают ей новыми идеями и интересными проектами.
					</p>
				</div>

			</div>
		</div>
	</section>

	<section class="short_info bg-gray">
		<div class="container">
			<div class="cards ct_4 cts_2">
				<div class="card empty">
					<div class="card_body_c">
						<h3 class="card_title">60</h3>
						<p class="card_text">сотрудников</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<h3 class="card_title">27,3</h3>
						<p class="card_text">средний возраст</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<h3 class="card_title">98%</h3>
						<p class="card_text">с высшим образованием</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<h3 class="card_title">4.5</h3>
						<p class="card_text">средний стаж сотрудников</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="leadership">
		<div class="container">
			<div class="title">
				<h3>Руководство</h3>
			</div>
			<div class="cards media3 ct_5 cts_2 ctm_3">
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Иван Клабуков
						</h4>
						<p class="card_text">
							Директор
						</p>
					</div>
					<div class="social">
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">t</a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Дмитрий Коновалов
						</h4>
						<p class="card_text">
							Исполнительный директор
						</p>
					</div>
					<div class="social">
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">t</a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Виктор Вагин
						</h4>
						<p class="card_text">
							Технический директор
						</p>
					</div>
					<div class="social">
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">t</a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Олег Кравцов
						</h4>
						<p class="card_text">
							Руководитель отдела веб-разработки
						</p>
					</div>
					<div class="social">
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">t</a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Кирилл Фролов
						</h4>
						<p class="card_text">
							Руководитель отдела мобильной разработки
						</p>
					</div>
					<div class="social">
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">t</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="neva">
		<div class="container">
			<div class="cards company_info">
				<div class="card empty2 w_3_5 ws_a wm_2_3 news">
					<div class="title">
						<h3><a href="/news">Новости</a></h3>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">Профи-версия "Печати конвертов!" теперь и на одно рабочее место</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">С международным женским днем!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">День рождения! РИТ исполнилось 12 лет!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">24 августа - вебинар по эффективному использованию "Помошник АУ"</a>
					</div>
				</div>
				<div class="card empty2 w_2_5 ws_a wm_1_3 vacancies">
					<div class="title">
						<h3><a href="/vacancies">Вакансии</a></h3>
					</div>
					<a href="#" class="vacancies_link">iOS-разработчик</a>
					<a href="#" class="vacancies_link">Веб-дизайнер</a>
					<a href="#" class="vacancies_link">.NET-разработчик</a>
					<a href="#" class="vacancies_link">Менеджер проектов</a>
				</div>
			</div>
		</div>
	</section>
</div>