<div id="about">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a>
				/
				<span>Компания</span>
			</div>

		</div>
	</section>
	<section class="menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<h5>О компании</h4>
				</li>
				<li>
					<a href="/hire">
						<h5>Вакансии</h4>
					</a>
				</li>
				<li>
					<a href="/contacts">
						<h5>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>

	</section>
	<section class="infob block_content">
		<div class="container">
		<div class="row between-xs">
			    <div id="main_img_block">
                    <img src="images/best_viz-2.png">
            	</div>
				<div id="main_text_block" class="middle-xs row">
                    <div id="main_text">
                        <h2>
                            О компании
                        </h2>
                        <p id="text1">
                            Русские информационные технологии— одновременно продуктовая и сервисная компания.
                            На протяжении 15 лет мы разрабатываем и сопровождаем информационные системы разного уровня.
                        </p>
                        <p id="text2">
                           В нашем портфолио успешные истории создания собственных продуктов: «Помощник арбитражного управляющего», F-анализ, HUDWAY, а также десятки сложных заказных веб-сервисов для клиентов со всего мира.
                        </p>
                    </div>
				</div>
        </div>
	        <div class="gallery">
				<div id="other_comp_img_block" class="row between-xs">
					<div id="img_block1" class="img_blocks">
						<img src="images/snimok.png">
					</div>
					<div id="img_block2" class="img_blocks">
						<img src="images/snimok2.jpg">
					</div>
					<div id="img_block3" class="img_blocks">
						<img src="images/snimok3.jpg">
					</div>
				</div>

				<div id="rectangle_block" class="row center-xs">
	                <div class="rectangles"><a href="#"></a></div>
	                <div class="rectangles"></div>
	                <div class="rectangles"></div>
	                <div class="rectangles"></div>
	                <div class="rectangles"></div>
				</div>
	        </div>

		</div>
	</section>
    <section class="team block_content">
    	<div class="container">
	        <div class="title" id="title_team">
	            <h4>Команда</h4>
	        </div>
	        <div class="s_container">
	            <div class="about_text">
	                <p class="about_text_p">
	                    Сегодня в нашей команде 60 профеессионалов: опытные разработчики, тестировщики, проектные менеджеры, менеджеры по продажам и другие специалисты.
	                </p>
	                <p class="about_text_p">
	                    Мы ценим каждого сотрудника и строим планы опираясь на людей - на их профессиональные качества, навыки и умения. Политика компании - дать возможность каждому сотруднику развивать свои профессиональные таланты!
	                    И мы всегда рады принять хороших специалистов в нашу дружную команду!
	                </p>
	            </div>
	    	</div>
        </div>
	</section>

	<section class="short_info">
		<div class="container">
			<div class="row short_info_list around-xs">
					<div class="card_body_c" id="card_body_1">
					    <div id="card_body_1_text" class="card_body_texts">
                            <div class="text_big_2">60</div>
                            <p class="card_text">сотрудников</p>
						</div>
					</div>

					<div class="card_body_c" id="card_body_2">
					    <div id="card_body_2_text" class="card_body_texts">
                            <div class="text_big_2">27,3</div>
                            <p class="card_text">средний возраст</p>
						</div>
					</div>

					<div class="card_body_c" id="card_body_3">
					    <div id="card_body_3_text" class="card_body_texts">
                            <div class="text_big_2">98%</div>
                            <p class="card_text">с высшим образованием</p>
						</div>
					</div>

					<div class="card_body_c" id="card_body_4">
					    <div id="card_body_4_text" class="card_body_texts">
                            <div class="text_big_2">4.5</div>
                            <p class="card_text">средний стаж сотрудников</p>
						</div>
					</div>
			</div>
		</div>
	</section>

	<section class="block_content leadership">
		<div class="container">
			<div class="title">
				<h3>Руководство</h3>
			</div>
			<div class="cards media3 ct_5 cts_2 ctm_3">
				<div class="card empty2">
					<div class="card_u_photo">
						<img style="height:227px" src="images/ivan_klabukov.jpg">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Иван Клабуков
						</h4>
						<p class="card_text" id="card_text1">
							Директор
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="images/dmitry_konovalov.jpg">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Дмитрий Коновалов
						</h4>
						<p class="card_text" id="card_text2">
							Исполнительный директор
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="images/viktor_vagin.png">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Виктор Вагин
						</h4>
						<p class="card_text" id="card_text3">
							Технический директор
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="images/oleg_kravtsov.png" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Олег Кравцов
						</h4>
						<p class="card_text" id="card_text4">
							Руководитель отдела веб-разработки
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="images/kirill_frolov.png" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Кирилл Фролов
						</h4>
						<p class="card_text" id="card_text5">
							Руководитель отдела мобильной разработки
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="block_content company bg-gwhite">
		<div class="container">
			<div class="cards link_items ct_2 cts_1 company_info">
				<div class="card rows m_column news">
					<div class="title_block">
						<h3>Новости компании:</h3>
					</div>
					<div class="social">
						<a target="_blank" href="https://www.instagram.com/russian_it" class="social_btn"><span class="social_btn_icon in"></span></a>
						<a target="_blank" href="https://www.facebook.com/rusinfotech/?ref=bookmarks" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a target="_blank" href="https://vk.com/rit_soft" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>

				</div>
				<div class="card rows m_column vacancy">
					<div class="title_block">
						<h3>Вакансии</h3>
					</div>
					<div class="vacancy_info">
						<p>Сейчас открыто 5 вакансий.</p>
					</div>
					<div class="btn btn-outline">Подробнее</div>

				</div>
			</div>
		</div>
	</section>
</div>