<div id="about">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Компания</span>
			</div>
			<div class="title">
				<h2>Компания</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<h4>О компании</h4>
				</li>
				<li>
					<a href="/news">
						<h4>Новости</h4>
					</a>
				</li>
				<li>
					<a href="/hire">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<a href="/contacts">
						<h4>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>
		
	</section>
	<section class="infob">
		<div class="container">
			<div class="cards media2 ct_2 cts_1">
				<div class="card empty2 text">
					<div class="title">
						<h4>
							Мы проектируем, строим и запускаем цифровые продукты, как для клиентов,
							так и для наших собственных предприятий.
						</h4>
					</div>
					<p>
						Компания "Русские информационные технологии" работает на рынке правового поля и ИТ-решений для бизнеса с 2004 года.
						Группа компаний "РИТ" предлагает вам программные средства для автоматизации работы в различных сферах бизнеса,
						а также юридические услуги высочайшего качества в сфере банкротства,
						ликвидации и урегулирования задолженности. Став нашим клиентом, вы сможете получить оперативную устную и письменную юридическую помощь,
						 а также техническую и правовую поддержку программных продуктов нашей компании.
					</p>
				</div>
				<div class="card empty2">
					<div class="card_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
				</div>
			</div>
			<div class="cards ct_3 cts_1">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<a href="#" class="card_link"><span></span></a>
				</div>
			</div>

			<div class="title">
				<h3>Команда</h3>
			</div>
			<div class="s_container">
				<div class="about_text">
					<p>
						В компании работает более 3800 сотрудников в 83 городах России.
						Мы приветствуем и поощряем инициативу: количество задач всегда больше, чем свободных рук, поэтому мы заинтересованы в том,
						чтобы работники могли попробовать себя в новом качестве. Компания вкладывается в профессиональный рост и обучение сотрудников,
						а они отвечают ей новыми идеями и интересными проектами.
					</p>
				</div>

			</div>
		</div>
	</section>

	<section class="short_info bg-gray">
		<div class="container">
			<div class="cards ct_4 cts_2">
				<div class="card empty">
					<div class="card_body_c">
						<div class="text_big_2">60</div>
						<p class="card_text">сотрудников</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<div class="text_big_2">27,3</div>
						<p class="card_text">средний возраст</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<div class="text_big_2">98%</div>
						<p class="card_text">с высшим образованием</p>
					</div>
				</div>
				<div class="card empty">
					<div class="card_body_c">
						<div class="text_big_2">4.5</div>
						<p class="card_text">средний стаж сотрудников</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>

	<section class="block_content leadership">
		<div class="container">
			<div class="title">
				<h3>Руководство</h3>
			</div>
			<div class="cards media3 ct_5 cts_2 ctm_3">
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Иван Клабуков
						</h4>
						<p class="card_text">
							Директор
						</p>
					</div>
					<div class="social social_min">
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Дмитрий Коновалов
						</h4>
						<p class="card_text">
							Исполнительный директор
						</p>
					</div>
					<div class="social social_min">
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Виктор Вагин
						</h4>
						<p class="card_text">
							Технический директор
						</p>
					</div>
					<div class="social social_min">
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Олег Кравцов
						</h4>
						<p class="card_text">
							Руководитель отдела веб-разработки
						</p>
					</div>
					<div class="social social_min">
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_u_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="card_body_u">
						<h4 class="card_title">
							Кирилл Фролов
						</h4>
						<p class="card_text">
							Руководитель отдела мобильной разработки
						</p>
					</div>
					<div class="social social_min">
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="block_content company">
		<div class="container">
			<div class="cards link_items ct_2 ctm_1 company_info">
				<div class="card rows m_column news">
					<div class="title_block">
						<h3>Новости компании:</h3>
					</div>
					<div class="social">
						<a href="#" class="social_btn"><span class="social_btn_icon in"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon tw"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
					
				</div>
				<div class="card rows m_column vacancy">
					<div class="title_block">
						<h3>Вакансии</h3>
					</div>
					<div class="vacancy_info">
						<p>Сейчас открыто 5 вакансий.</p>
					</div>
					<div class="btn btn-outline">Подробнее</div>

				</div>
			</div>
		</div>
	</section>
</div>