<div id="buy">
	<div class="header header_product h-top">
			<div class="container">
				<div class="menu">
					<a href="/">
						<div class="logo">
							<!-- <img src="images/logo.png" class="holder_image"> -->
						</div>
					</a>
					<a href="#" class="menu_mobile"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></a>
					<nav class="menu_topr">
						<div class="hidden-bm close"></div>
						<ul>
							<li><a href="#" class="link">Возможности</a></li>
							<li><a href="#" class="link">Цены</a></li>
							<li><a href="#" class="link">Обзор</a></li>
							<li><a href="#" class="link">Отзывы</a></li>
							<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
							<li><a href="/buy" class="btn btn-blue">Купить</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	<section class="block_content buy">
		<div class="container">
			<div class="title">
				<h3>
					Купить "Помошник арбитражного управляющего"
				</h3>
			</div>
			<div class="about x_container">
				<p>Чтобы купить "Помошник арбитражного управляющего" необходимо зарегистрироваться, либо
				<a href="#">войти в личный кабинет</a></p>
			</div>
		</div>
	</section>
			<div class="bg-gray buy_navigation">
				<nav class="buy_nav x_container">
					<ul>
						<li class="empty"></li>
						<li class="active">
							<h3><span>
								Шаг 1 из 4. Контактная информация
							</span></h3>
						</li>
						<li class="noactive">
							<h3><span>
								Шаг 2 из 4. Выбор версии
							</span></h3>
						</li>
					</ul>
				</nav>
			</div>
	<section class="buy_steps">
		<div class="x_container">
			<div class="step">
				<form action="" class="form">
					<div class="row">
						<div class="form_title"><label for="name">Имя</label></div>
						<div class="form_input"><input type="text" id="name"></div>
					</div>
					<div class="row">
						<div class="form_title"><label for="phone">Телефон</label></div>
						<div class="form_input"><input type="text" id="phone" placeholder="+7(___)___-__-__"></div>
					</div>
					<div class="row">
						<div class="form_title"><label for="email">Эл. почта</label></div>
						<div class="form_input"><input type="text" id="email"></div>
					</div>
					<div class="row">
						<div class="form_title"></div>
						<div class="form_input">
							<button class="btn btn-blue">Далее</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</section>

</div>