<div id="blog_content">
	<section class="cnews">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/about">Компания</a> 
				/
				<span>Новости</span>
			</div>
			<div class="title">
				<h2>Новости</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<h4>Новости</h4>
				</li>
				<li>
					<a href="/vacancies">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<a href="/contacts">
						<h4>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="cnewsb">
		<div class="container">
			<div class="news_info">
				<div class="news_date">
					<p class="date">21/03</p>
				</div>
				<div class="m_container">
					<div class="title">
						<h3>Профи-версия "Печати конвертов!" теперь и на одно рабочее место</h3>
						<div class="hr"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="text">
		<div class="s_container">
			<div class="news_photo">
				<img src="holder.js/100px100p" class="holder_image">
			</div>
		</div>
		<div class="m_container">
			<div class="news_body">
				<p class="news_text">
					Неограниченная база контрагентов, любое количетсов пользовательских шаблонов, никакой рекламы и электронная рассылка! Все возможности Профи-версии в конфигурации на одно рабочее место по выгодной цене - 4980 рублей.
					<br/>
					<br/>
					Узнать больше и оформить заказ можно у наших специалистов, позвонив по телефонам +7 (3412) 43-03-37, 43-38-85 или отправив письмо на электронный адрес нашей компании: info@russianit.ru
					<br/>
					<br/>
					Приятной работы!
				</p>
			</div>
		</div>
		<div class="m_container">
			<div class="arrows">
				<a href="#" class="link left">< Предыдущая новость</a>
				<a href="/news" class="link center">Вернуться к новостям</a>
				<a href="#" class="link right">Следующая новость ></a>
			</div>
		</div>
	</section>
</div>