<div id="contacts">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Контакты</span>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about	">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<a href="/hire">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<h4>Контакты</h4>
				</li>
			</ul>
		</nav>
		
	</section>
	<section class="infob">
		<div class="container">
			<div class="text_center">
				<div class="title_bold">
					<h2>Контакты</h2>
				</div>
			</div>
			<div class="row contact_list">
				<div class="col-xs-12 col-md-4">
					<p class="text_bold">
						426035, Россия, Ижевск<br/>ул. В. Сивкова, 279, эт. 2
					</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="text">
						<p>
							По общим вопросам:<br/>
							<span class="text_bold">+7 (3412) 27-16-17</span>
						</p>
						<p>
							Поддержка, отдел продаж:<br/>
							<span class="text_bold">+7 (499) 673-03-37</span><br/>
							<span class="text_bold">+7 (3412) 43-57-88</span>
						</p>
						
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="email_list">
						<p>
							<a href="#">info@russianit.ru</a><br/>
							<a href="#">support@russianit.ru</a>
							
						</p>
					</div>
					<div class="social_list">
						<div class="social_item in">
							<a href="#">
								<div class="icon"></div>
							</a>
						</div>
						<div class="social_item fb">
							<a href="#">
								<div class="icon"></div>
							</a>
						</div>
						<div class="social_item tw">
							<a href="#">
								<div class="icon"></div>
							</a>
						</div>
						<div class="social_item vk">
							<a href="#">
								<div class="icon"></div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="map">
		<div class="container">
			<div class="map_area">
				<img src="/upload/images/contacts_map.jpg" class="map_area_photo">
			</div>
		</div>
	</section>
</div>