<div id="contacts">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Контакты</span>
			</div>
			<div class="title">
				<h2>Контакты</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about	">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<a href="/news">
						<h4>Новости</h4>
					</a>
				</li>
				<li>
					<a href="/hire">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<h4>Контакты</h4>
				</li>
			</ul>
		</nav>
		
	</section>
	<section class="infob">
		<div class="container">
			<div class="cards ctm_2 cts_1">
				<div class="card empty2 text_center">
					<p>
						+7 (3412) 43-48-89
						<br/>
						<br/>
						Отдел продаж<br/>
						+7 (3412) 43-48-89<br/>
						+7 (3412) 43-48-89
					</p>
				</div>
				<div class="card empty2 text_center">
					<a href="#" class="link">info@russianit.ru</a>
					<br/>
					<a href="#" class="link">support@russianit.ru</a>

					<div class="social">
						<a href="#" class="social_btn">vk</a>
						<a href="#" class="social_btn">f</a>
						<a href="#" class="social_btn">in</a>
					</div>
				</div>
				<div class="card empty2 text_center">
					<p>
						4326035, Россия, Ижевск, <br>
						ул. Авангардная, дом 6а, офис 2
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="map">
		<div class="container">
			<div class="title">
				<h3>Как добраться?</h3>
			</div>
			<div class="map_area">
				<img src="holder.js/100px350" class="holder_image">
			</div>
		</div>
	</section>
</div>