<div id="about">
	<section class="about">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Контакты</span>
			</div>
			<div class="title">
				<h2>Контакты</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about	">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<a href="/news">
						<h4>Новости</h4>
					</a>
				</li>
				<li>
					<a href="/hire">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<h4>Контакты</h4>
				</li>
			</ul>
		</nav>
		
	</section>
	<section class="infob">
		<div class="container">
		</div>
	</section>
</div>