<div id="cservice">
	<section class="cservice">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/services">Услуги</a> 
				/
				<span>Веб-разработка</span>
			</div>
			<div class="title">
				<h2>Веб-разработка</h2>
			</div>
			<div class="about s_container">
				<p>
					Наши проекты не только технически отлажены и визуально эффектны, но и способны успешно функционировать.<br/>
					Мы не просто делаем сайты и мобильные приложения, наша стратегия - быть лучшими в создании медиапространств, <br/>
					где эти сайты и приложения будут работать, а мы сможем привлечь аудиторию, обеспечить ее стабильный интерес и рост.
				</p>
			</div>
			<div class="cards gc_black">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text">
							- VBA<br/>
							- C#<br/>
							- .NET
						</p>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text">
							- VBA<br/>
							- C#<br/>
							- .NET
						</p>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text">
							- VBA<br/>
							- C#<br/>
							- .NET
						</p>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text">
							- VBA<br/>
							- C#<br/>
							- .NET
						</p>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text">
							- VBA<br/>
							- C#<br/>
							- .NET
						</p>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<!-- <div class="card empty"></div> -->
			</div>

		</div>
	</section>
	<section class="projects">
		<div class="container">
			<div class="title">
				<h3>Выполненные проекты</h3>
			</div>
			<div class="cards">
				<div class="cards w_a show_text">
					<div class="card w_a">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>FRILY.SE</a></h5>
							<p class="card_text">
								- шведский купонный сервис с возможностью маркетингового исследования по представленным на нём товарам
							</p>
						</div>
						<a href="/service" class="card_link"><span></span></a>
					</div>
				</div>
				<div class="cards">
					<div class="cards w_2_3 show_text">
						<div class="card w_a g_two">
							<img src="holder.js/100px100p" class="holder_image card_photo">
							<div class="card_body">
								<h5 class="card_title"><a>Правовед</a></h5>
								<p class="card_text">
									Этот сервис предназначен для оказания быстрых платных юридических консультаций по любым вопросам банкротства.
								</p>
							</div>
							<a href="/service" class="card_link"><span></span></a>
						</div>
						<div class="card w_1_2 g_three">
							<img src="holder.js/100px100p" class="holder_image card_photo">
							<div class="card_body">
								<h5 class="card_title"><a>АУ-Инфо</a></h5>
								<p class="card_text">
									Онлайн-база арбитражных управляющих России с расширенной информацией и саморегулируемых организаций арбитражных управляющих
								</p>
							</div>
							<a href="/service" class="card_link"><span></span></a>
						</div>
						<div class="card w_1_2 g_four">
							<img src="holder.js/100px100p" class="holder_image card_photo">
							<div class="card_body">
								<h5 class="card_title"><a>Управление проектами ПАУ</a></h5>
								<p class="card_text">
									Ведение проектного управления в юридических компаниях и для арбитражных управляющих
								</p>
							</div>
							<a href="/service" class="card_link"><span></span></a>
						</div>
						<div class="card w_a g_five">
							<img src="holder.js/100px100p" class="holder_image card_photo">
							<div class="card_body">
								<h5 class="card_title"><a>Новостройки Ижевска</a></h5>
								<p class="card_text">
									База новостроек на карте Ижевска, удобная система поиска и каталог застройщиков
								</p>
							</div>
							<a href="/service" class="card_link"><span></span></a>
						</div>
					</div>

					<div class="cards w_1_3 show_text">
						<div class="card w_a g_six">
							<img src="holder.js/100px100p" class="holder_image card_photo">
							<div class="card_body">
								<h5 class="card_title"><a>Hudway</a></h5>
								<p class="card_text">
									Сайт приложения "HUDWAY" предназначенного для повышения безопасности движения в условиях плохой видимости на дороге
								</p>
							</div>
							<a href="/service" class="card_link"><span></span></a>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	</section>
</div>