<div id="cservice">
	<section class="cservice">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/services">Услуги</a> 
				/
				<span>Веб-разработка</span>
			</div>
			<h2 class="title">Веб-разработка</h2>
			<div class="about m_container">
				Наши проекты не только технически отлажены и визуально эффектны, но и способны успешно функционировать.<br/>
				Мы не просто делаем сайты и мобильные приложения, наша стратегия - быть лучшими в создании медиапространств, <br/>
				где эти сайты и приложения будут работать, а мы сможем привлечь аудиторию, обеспечить ее стабильный интерес и рост.

			</div>
			<div class="items prods">
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="/service" class="item_link">Разработка ПО</a>
							<div class="item_info">
								<p>
									- VBA<br/>
									- C#<br/>
									- .NET
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Веб-разработка</a>
							<div class="item_info">
								<p>
									- UX и UI дизайн<br/>
									- HTML, CSS - верстка<br/>
									- PHP - разработка<br/>
									- CEO-оптимизация
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Мобильные приложения</a>
							<div class="item_info">
								<p>
									- iOs<br/>
									- Android<br/>
									- Windows Phone
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Мобильные приложения</a>
							<div class="item_info">
								<p>
									- iOs<br/>
									- Android<br/>
									- Windows Phone
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Мобильные приложения</a>
							<div class="item_info">
								<p>
									- iOs<br/>
									- Android<br/>
									- Windows Phone
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /item -->
			</div>
		</div>
	</section>
	<section class="projects">
		<div class="container">
			<h3 class="title">Выполненные проекты</h3>
			<div class="items prods">
				<div class="item wa">
					<div class="item_photo">
						<div class="item_about">
							<a href="/service" class="item_link">FRILY.SE</a>
							<div class="item_info">
								<p>
									- шведский купонный сервис с возможностью маркетингового исследования по представленным на нём товарам
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="wl">
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">Правовед</a>
								<div class="item_info">
									<p>
										Этот сервис предназначен для оказания быстрых платных юридических консультаций по любым вопросам банкротства.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">АУ-Инфо</a>
								<div class="item_info">
									<p>
										Онлайн-база арбитражных управляющих России с расширенной информацией и саморегулируемых организаций арбитражных управляющих
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">Управление проектами ПАУ</a>
								<div class="item_info">
									<p>
										Ведение проектного управления в юридических компаниях и для арбитражных управляющих
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">Новостройки Ижевска</a>
								<div class="item_info">
									<p>
										База новостроек на карте Ижевска, удобная система поиска и каталог застройщиков
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="wr">
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">HUDWAY</a>
								<div class="item_info">
									<p>
										Сайт приложения "HUDWAY" предназначенного для повышения безопасности движения в условиях плохой видимости на дороге.
									</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- /item -->
			</div>
		</div>
	</section>
</div>