<div id="events" class="pau">
	<div class="header header_breadcrumb">
		<div class="container">
			<div class="menu row between-xs middle-xs">
				<div class="logo_area col-xs-12 col-md center-xs start-md">
					<a href="/">
						<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
							<!-- <img src="images/logo.png" class="holder_image"> -->
						</div>
					</a>
				</div>
				<div class="breadcrumbs col-xs-12 col-md-10 center-xs">
					<a href="/">Главная</a> 
					/
					<a href="/">Продукты</a> 
					/
					<a href="/">Помощник арбитражного управляющего</a> 
					/
					<span>События</span>
				</div>
				
				<div class="col-xs"></div>
			</div>
		</div>
	</div>
	
	<section class="events">
		<div class="title">
			<h2>События</h2>
		</div>
		<div class="container">
			<div class="s_container">
				<div class="events_list items flex_column flex_center">
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title">
							<p>
								<a href="/event">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</a>
							</p>
						</h4>
					</div>
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title"><p>
								<a href="/event">ВС разъяснит, как правильно продавать общее имущество супругов в процедуре банкротства</a>
							</p>
						</h4>
					</div>
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title"><p>
								<a href="/event">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего», а так же как будет выглядеть заголовок в две строки, когда Маша решит его написать</a>
							</p>
						</h4>
					</div>
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title"><p>
								<a href="/event">Не работают телефоны</a>
							</p>
						</h4>
					</div>
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title"><p>
								<a href="/event">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего», а так же как будет выглядеть заголовок в две строки, когда Маша решит его написать</a>
							</p>
						</h4>
					</div>
					<div class="item">
						<div class="item_date">
							25 сентября 2018</div>
						<h4 class="item_title"><p>
								<a href="/event">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</a>
							</p>
						</h4>
					</div>
				</div>

				<div class="pagination">
					<div class="link_page">
						<p>
							<span>1</span>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#">2</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#">3</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#">4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#">5</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#">6</a>
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</div>