<div id="event" class="pau">
	<div class="header header_breadcrumb">
		<div class="container">
			<div class="menu row between-xs middle-xs">
				<div class="logo_area col-xs-12 col-md center-xs start-md">
					<a href="/">
						<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
							<!-- <img src="images/logo.png" class="holder_image"> -->
						</div>
					</a>
				</div>
				<div class="breadcrumbs col-xs-12 col-md-10 center-xs">
					<a href="/">Главная</a> 
					/
					<a href="/product">Помощник арбитражного управляющего</a> 
					/
					<a href="/events">События</a> 
					/
					<span>Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</span>
				</div>
				
				<div class="col-xs"></div>
			</div>
		</div>
	</div>
	
	<section class="event">
		<div class="container">
			<div class="s_container">
				<div class="m_container">
					<div class="title">
						<h1>Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</h1>
					</div>
				</div>
				<div class="text_center">
					<div class="event_date">
						25 сентября 2018
					</div>
				</div>
				<div class="text">
					<p>
						25 июня вышла версия 3.9.8 программы «Помощник арбитражного управляющего».<br/>В новой версии:
					</p>
					<ul class="list_out">
						<li>Витрина данных ПАУ.</li>
						<li>Загрузка всех судебных актов по номеру дела.</li>
						<li>Автоматическое занесение требований кредиторов в реестр.</li>
						<li>Заседание комитета кредиторов.</li>
						<li>и многое другое...</li>
					</ul>
					<iframe width="100%" height="490" src="https://www.youtube.com/embed/aBckWjXRzjg?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

				</div>
				<div class="text text_nopadding">
					<p>
						Подробное описание всех изменений вы можете найти в разделе «<a href="#" target="_blank">Что нового</a>».
					</p><p>
Скачать обновление можно в <a href="#" target="_blank">Центре загрузки</a>. Устанавливайте его по <a href="#" target="_blank">инструкции</a>.
					</p><p>
Обновление доступно бесплатно пользователям с действующей технической поддержкой. Чтобы приобрести новую версию, звоните по телефонам: +7 499 673 03 37 и +7 341 257 04 02 или пишите на электронный адрес <a href="#" target="_blank">info@russianit.ru</a>.
					</p>
				</div>
				<div class="hr"></div>
				<div class="text event_social">
					<p><span class="text_bold">Поделитесь статьей в соцсетях:</span>
						<a href="#" target="_blank">Вконтакте</a>
						<a href="#" target="_blank">Facebook</a>
						<a href="#" target="_blank">Twitter</a>
					</p>
				</div>
			</div>
		</div>
	</section>
</div>

