<div id="hire">
	<section class="chire">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/about">Компания</a> 
				/
				<span>Вакансии</span>
			</div>
			<div class="title">
				<h2>Вакансии</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<a href="/news">
						<h4>Новости</h4>
					</a>
				</li>
				<li>
					<h4>Вакансии</h4>
				</li>
				<li>
					<a href="/contacts">
						<h4>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="hireb">
		<div class="container">
			<div class="about s_container">
				<p>
					У нас всегда есть потребость в толковых специалистах: от новичков, до руководителей. Обязательно напишите нам, если вы хотите работать в нашей компании.
					<br/>
					<br/>
					Даже если сейчас нет открытых вакансий, мы постараемся их найти или сообщить, когда запланировано открытие.
					Мы дружно с конкурентами и часто рекомендуем вакансии в других хорошим компаниях.
				</p>
			</div>
			
		</div>

	</section>
	<section class="whybest bg-gray">
		<div class="container">
			<div class="title">
				<h3>Почему у нас классно работать?</h3>
			</div>

			<div class="cards media ct_2 cts_1">
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Достойная зарплата и премии
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Оплачиваемый отпуск и больничный
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Обучение английскому
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Оплачиваем 50% занятий спортом
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Чай, кофе, печеньки
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Уютный офис
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="hire_items">
		<div class="container">
			<div class="s_container">
				<div class="toggles">
					<div class="toggle">
						<div class="toggle_head">
							<h3>iOs-разработчик</h3>
							<div class="toggle_btn"></div>
						</div>
						<div class="toggle_body">
							<div class="toggle_body_text text">
								<p>Скоро появится...</p>
							</div>
						</div>
					</div>
					<div class="toggle opened">
						<div class="toggle_head">
							<h3>PHP-программист</h3>
							<div class="toggle_btn"></div>
						</div>
						<div class="toggle_body">
							<div class="toggle_body_text text">
								<p>
									Нам нужны опытные и сложившиеся специалисты не совмещающие удаленную работу с основной офисной и доступные для связи в течение рабочего дня. Оплата работы попроектная.
								</p>
								<p>
									Все наши проекты ведутся профессиональными менеджерами, приемку результата и контроль качества выполняет наш техлид, работа идет в устоявшейся среде и по внутренним стандартам.
								</p>
								<div class="title">
									<h4>Чем нужно будет заниматься</h4>
								</div>
								<ul>
									<li>Собирать сложные сайты на 1C-Bitrix, включая написание компонентов и модулей.</li>
									<li>Быстро разворачивать небольшие проекты на Wordpress, включая создание шаблонов и плагинов к нему.</li>
									<li>Разбираться в серверном javascript.</li>
									<li>Вносить небольшие изменения в CSS и HTML без привлечения верстальщика.</li>
								</ul>
								<div class="title">
									<h4>Требования</h4>
								</div>
								<ul>
									<li>Уверенные знания PHP-MySQL</li>
									<li>Опыт работы с PHP-фреймворками, в первую очередь Yii.</li>
									<li>Приветствуется опыт работы с e-commerce системами, например Magento.</li>
									<li>Базовые знания HTML-CSS и JS на случай внесения правок без привлечения верстальщика.</li>
									<li>Желателен опыт использования VCS и таск-трекеров.</li>
									<li>Умение разбираться в чужом коде и писать свой так, чтобы его понимали коллеги.</li>
									<li>Личные качества: стремление к продуктивности, ответственность за обещания.</li>
								</ul>
								<div class="title">
									<h4>Условия</h4>
								</div>
								<ul>
									<li>Интересные проекты, которые позволяют постоянно повышать уровень</li>
									<li>Комфортные условия, уютный офис, наличие кухни</li>
									<li>Гибкий график работы - полная занятость</li>
									<li>Испытательный срок - 1 мес.</li>
								</ul>
								<button class="btn btn-blue" data-title="PHP-программист" id="openNewHire">Откликнуться на вакансию</button>
								<p class="text_info_btn">
									или пишите на 
									<a href="#">hr@russianit.ru</a>
								</p>
								
							</div>
						</div>
					</div>
					<div class="toggle">
						<div class="toggle_head">
							<h3>Веб-дизайнер</h3>
							<div class="toggle_btn"></div>
						</div>
						<div class="toggle_body">
							<div class="toggle_body_text text">
								<p>Скоро появится...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>


	<div class="modal" id="newHire">
		<div class="modal_shadow" data-name="newHire"></div>
		<div class="modal_dialog">
			<div class="modal_content">
				<div class="modal_header">
					<div class="title">
						<h3>Отклик на вакансию <span class="title-info">PHP-программист</span></h3>
					</div>
					<div class="close" data-name="newHire"></div>
				</div>
				<div class="modal_body">
					<div class="cards">
						<div class="card w_4_6 ws_a empty2">
							<form action="" class="form">
								<div class="row">
									<div class="form_title"><label for="name">Имя</label></div>
									<div class="form_input"><input type="text" id="name"></div>
								</div>
								<div class="row">
									<div class="form_title"><label for="phone">Контактная информация</label></div>
									<div class="form_input"><input type="text" id="contact_info" placeholder="Телефон или email"></div>
								</div>
								<div class="row">
									<div class="form_title"></div>
									<div class="form_input"><input type="file" id="file"></div>
								</div>
								<div class="row">
									<div class="form_title"><label for="email">Дополнительно</label></div>
									<div class="form_input"><textarea name="addition" id="addition" cols="30" rows="5" 
										placeholder="Сообщите дополнительную информацию о себе"></textarea></div>
								</div>
								<div class="row">
									<div class="form_title"></div>
									<div class="form_input">
										<button class="btn btn-blue">Отправить</button>
									</div>
								</div>
							</form>
							
						</div>
						<div class="card w_2_6 ws_a empty2 mr-0">
							<div class="contact_manager">
								<div class="title">
									<h4>Наталья Окунева</h4>
								</div>
								<p>HR-менеджер</p>
								<img src="holder.js/100px150" class="holder_image contact_photo">
								<p>"Свяжусь с вами в течение рабочего дня"</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>