<div id="history" class="pau">
	<div class="header header_breadcrumb">
		<div class="container">
			<div class="menu row between-xs middle-xs">
				<div class="logo_area col-xs-12 col-md center-xs start-md">
					<a href="/">
						<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
							<!-- <img src="images/logo.png" class="holder_image"> -->
						</div>
					</a>
				</div>
				<div class="breadcrumbs col-xs-12 col-md-10 center-xs">
					<a href="/">Главная</a> 
					/
					<a href="/product">Помощник арбитражного управляющего</a> 
					/
					<span>История версий</span>
				</div>
				
				<div class="col-xs"></div>
			</div>
		</div>
	</div>
	
	<section class="history">
		<div class="container">
			<div class="s_container">
				<div class="title small_margin">
					<h1>История версий</h1>
				</div>
				<div class="title small_margin">
					<h3>Версия 3.9.8</h3>
				</div>
				<div class="text_center">
					<div class="history_date">
						25 сентября 2018
					</div>
				</div>
				<div class="text">
					<p>
						<span class="text_bold">Добавлено и доработано:</span>
					</p>
					<ul class="list_out list_nomargin">
						<li>Раздел «Заседание комитета кредиторов»;</li>
						<li>Добавлена возможность получать документы суда и черновики требований через сервис Bankro.TECH;</li>
						<li>Добавлена возможность заполнять данные арбитражного управляющего из пакетной генерации;</li>
						<li>Актуализирована и доработана справка по должнику-физическому лицу;</li>
						<li>Добавлена возможность копировать полный адрес у Должника;</li>
						<li>Доработан раздел «Планирование»;</li>
						<li>Доработан раздел «Текущие требования»:</li>
					</ul>
					<ul class="list_out list_none">
						<li>– Доработано клонирование требований с заполнением кредитора;</li>
						<li>– Доработано погашение с распределением по всем требованиям;</li>
						<li>– Добавлено создание строки о вознаграждении ФУ при регистрации процедуры;</li>
					</ul>
					<ul class="list_out list_nomargin">
						<li>Доработан раздел «Делопроизводство»:</li>
					</ul>
					<ul class="list_out list_none">
						<li>– Добавлено подтверждение удаления файла из ФХ при удалении вложения;</li>
						<li>– В журнал регистрации действия добавлен раздел «Делопроизводство»;</li>
					</ul>
					<ul class="list_out list_nomargin">
						<li>Доработан раздел «Реестр требований кредиторов»:</li>
					</ul>
					<ul class="list_out list_none">
						<li>– Автоматическое создание черновиков требований на основании данных, полученных через Bankro.TECH;</li>
						<li>– Клонирование требований;</li>
						<li>– Доработан печать документа «Реестр требований кредиторов»;</li>
						<li>– Доработано начисление процентов в не включенном требовании;</li>
						<li>– Добавлены ссылки на определения суда для требований, созданных из черновиков полученных из Bankro.TECH;</li>
					</ul>
					<ul class="list_out">
						<li>Добавлена ссылка на файл определения о введении процедуры;</li>
						<li>Добалены форма заполнения адреса с возможностью геокодинга;</li>
						<li>В список участников собрания кредиторов добавлен Суд;</li>
						<li>Добавлено формирование текущих требований о вознаграждении при повторном продлении процедуры;</li>
					</ul>
					<p class="indent"></p>
					<p class="small_padding"><span class="text_bold">Усовершенствовано:</span></p>
					<ul class="list_out">
						<li>Усовершенствован текст о Госпошлине в документ «Иск о признании сделки недействительной»;</li>
						<li>Добавлено указание времени заседания суда в документе «Запросе руководителю»;</li>
						<li>В разделе «Контрагенты» доработан поиск как по полному, так и по сокращенному наименованию.</li>
					</ul>
					<p class="indent"></p>
					<p class="small_padding"><span class="text_bold">Видеообзор: Что нового в версии 3.9.8 «Помощника арбитражного управляющего»</span></p>
					<iframe width="100%" height="490" src="https://www.youtube.com/embed/aBckWjXRzjg?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<p class="indent"></p>
				</div>
				<div class="text text_nopadding">
					<p class="small_padding"><span class="text_bold">Другие версии:</span></p>
				</div>
				<div class="pagination">
					<div class="link_page">
						<p>
							<span>3.9.8</span>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.7</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.6</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.5</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.3</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.2</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.9</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.8</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.7</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.6</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.5</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.3</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.2</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.0.4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">3.0</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.8.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.8</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.7.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.7</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.6</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.5</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.4.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.3</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.2.2</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.2.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.2.0</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.1.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.1.0</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0.5</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0.4</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0.3</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0.2</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0.1</a>
						</p>
					</div>
					<div class="link_page">
						<p>
							<a href="#" target="_blank">2.0</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

