<div id="index">
	<section class="slider">
		<div class="container">
			<div class="slider_inner">
				<ul class="slider_wrapper">
					<li class="slide">
						<div class="slide_info">
							<div class="slide_title">Hudway</div>
							<div class="slide_about">уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_info">
							<div class="slide_title">Hudway</div>
							<div class="slide_about">уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_info">
							<div class="slide_title">Hudway</div>
							<div class="slide_about">уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_info">
							<div class="slide_title">Hudway</div>
							<div class="slide_about">уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля</div>
						</div>
					</li>
				</ul>
				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="products bg-gray">
		<div class="container">
			<h3 class="title"><a href="/products">Продукты</a></h3>
			<div class="items_inner">
				<div class="items prods">
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="/product" class="item_link">Помошник арбитражного управляющего</a>
								<div class="item_info"></div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">F-анализ</a>
								<div class="item_info">Система автоматизированного анализа финансового состояния предприятия</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">CPO Эксперт</a>
								<div class="item_info"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<h3 class="title"><a href="#">Услуги</a></h3>
			<div class="items">
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Сайты</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Мобильные приложения</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Разработка ПО</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="company bg-gray">
		<div class="container">
			<h3 class="title"><a href="#">Компания</a></h3>
			<div class="company_about">
				<p>
					Политика фирмы заключается в том, чтобы предоставить клиенту возможность выбора программного продукта,
					 который наибольшим образом будет соответствовать его целям и задачам,
					 во внедрении этого программного продукта, настройке его под конкретные
					 требования клиента, которые почти всегда отличаются своей спецификой, и дальнейшем сопровождении.
				</p>
			</div>
			<div class="items media">
				<div class="item media_item">
					<div class="media_item_photo"></div>
					<div class="media_item_title">2004 год основания компании</div>
				</div>
				<div class="item media_item">
					<div class="media_item_photo"></div>
					<div class="media_item_title">Более 200 заказных проектов</div>
				</div>
				<div class="item media_item">
					<div class="media_item_photo"></div>
					<div class="media_item_title">Более 100 сотрудников</div>
				</div>
			</div>
			<div class="company_info">
				<div class="news">
					<h3 class="title"><a href="#">Новости</a></h3>
					<div class="news_item">
						<div class="news_item_date">21/03</div>
						<a href="#" class="news_item_link">Профи-версия "Печати конвертов!" теперь и на одно рабочее место</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">21/03</div>
						<a href="#" class="news_item_link">С международным женским днем!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">21/03</div>
						<a href="#" class="news_item_link">День рождения! РИТ исполнилось 12 лет!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">21/03</div>
						<a href="#" class="news_item_link">24 августа - вебинар по эффективному использованию "Помошник АУ"</a>
					</div>
				</div>
				<div class="vacancies">
					<h3 class="title"><a href="#">Вакансии</a></h3>
					<a href="#" class="vacancies_link">iOS-разработчик</a>
					<a href="#" class="vacancies_link">Веб-дизайнер</a>
					<a href="#" class="vacancies_link">.NET-разработчик</a>
					<a href="#" class="vacancies_link">Менеджер проектов</a>
				</div>
			</div>
		</div>
	</section>
	<section class="clients">
		<div class="container">
			<h3 class="title">Более <a href="#">1500 клиентов</a> используют наши продукты</h3>
			<div class="items">
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
				<div class="item"><a href="#"><img src="" alt=""></a></div>
			</div>
		</div>
	</section>
	
</div>





