<div id="index">
	<section class="slider">
		<div class="container">
			<div class="slider_inner sinner" data-view="1">
				<ul class="slider_wrapper swrapper">
					<li class="slide">
						<div class="slide_photo">
							<img src="holder.js/100px100p" class="holder_image">
						</div>
						<div class="slide_info">
							<div class="slide_title">
								<h2>Hudway</h2>
							</div>
							<div class="slide_about">
								<p>
									уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля
								</p>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_photo">
							<img src="holder.js/100px100p" class="holder_image">
						</div>
						<div class="slide_info">
							<div class="slide_title">
								<h2>Hudway</h2>
							</div>
							<div class="slide_about">
								<p>
									уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля
								</p>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_photo">
							<img src="holder.js/100px100p" class="holder_image">
						</div>
						<div class="slide_info">
							<div class="slide_title">
								<h2>Hudway</h2>
							</div>
							<div class="slide_about">
								<p>
									уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля
								</p>
							</div>
						</div>
					</li>
					<li class="slide">
						<div class="slide_photo">
							<img src="holder.js/100px100p" class="holder_image">
						</div>
						<div class="slide_info">
							<div class="slide_title">
								<h2>Hudway</h2>
							</div>
							<div class="slide_about">
								<p>
									уникальное мобильное приложение для проекции<br>дороги на лобовое стекло автомобиля
								</p>
							</div>
						</div>
					</li>
				</ul>
				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="products bg-gray">
		<div class="container">
			<div class="title">
				<h3><a href="/products">Продукты</a></h3>
			</div>
			<div class="items_inner sinner" data-view="3" data-hsizer="33">
				<div class="cards swrapper">
					<div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
					<div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>F-анализ</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
					<div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>CPO Эксперт</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>

					<div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div><div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div><div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div><div class="card slide">
						<img src="holder.js/100px100p" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
				</div>

				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<div class="title">
				<h3><a href="/services">Услуги</a></h3>
			</div>
			<div class="cards">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Сайты</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Мобильные приложения</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка ПО</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
			</div>
		</div>
	</section>
	<section class="company bg-gray">
		<div class="container">
			<div class="title">
				<h3><a href="#">Компания</a></h3>
			</div>
			<div class="s_container company_about">
				<p>
					Политика фирмы заключается в том, чтобы предоставить клиенту возможность выбора программного продукта,
					 который наибольшим образом будет соответствовать его целям и задачам,
					 во внедрении этого программного продукта, настройке его под конкретные
					 требования клиента, которые почти всегда отличаются своей спецификой, и дальнейшем сопровождении.
				</p>
			</div>

			<div class="cards media">
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							2004 год основания компании
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Более 200 заказных проектов
						</p>
					</div>
				</div>
				<div class="card empty2">
					<div class="card_m_photo">
						<img src="holder.js/80x80" class="holder_image">
					</div>
					<div class="card_m_about">
						<p class="card_text">
							Более 100 сотрудников
						</p>
					</div>
				</div>
			</div>
			<div class="cards company_info">
				<div class="card empty2 w_2_3 ws_a news">
					<div class="title">
						<h3><a href="/news">Новости</a></h3>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">Профи-версия "Печати конвертов!" теперь и на одно рабочее место</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">С международным женским днем!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">День рождения! РИТ исполнилось 12 лет!</a>
					</div>
					<div class="news_item">
						<div class="news_item_date">
							<p>
								21/03
							</p>
						</div>
						<a href="#" class="news_item_link link">24 августа - вебинар по эффективному использованию "Помошник АУ"</a>
					</div>
				</div>
				<div class="card empty2 w_1_3 ws_a vacancies">
					<div class="title">
						<h3><a href="/hire">Вакансии</a></h3>
					</div>
					<a href="#" class="vacancies_link">iOS-разработчик</a>
					<a href="#" class="vacancies_link">Веб-дизайнер</a>
					<a href="#" class="vacancies_link">.NET-разработчик</a>
					<a href="#" class="vacancies_link">Менеджер проектов</a>
				</div>
			</div>
		</div>
	</section>
	<section class="clients">
		<div class="container">
			<div class="title">
				<h3>
					Более <a href="#">1500 клиентов</a> используют наши продукты
				</h3>
			</div>
			<div class="s_container">
				<div class="cards ct_5">
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
					<div class="card">
						<a href="#">
							<img src="holder.js/100px100p" class="holder_image">
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
</div>





