<div id="index">
	<section class="slider">
		<div class="slider_inner sinner" data-view="1">
			<ul class="slider_wrapper swrapper">
				<li class="slide">
					<div class="slide_photo">
						<div class="slide_photo_img" style="background-image: url(images/slide-1.png)">
						</div>
					</div>
					<div class="slide_info">
						<div class="slide_title">
							<h2>Помощник арбитражного управляющего</h2>
						</div>
						<div class="slide_about">
							<p>
								Автоматизация полного цикла работ<br/>по сопровождению процедур банкротства
							</p>
							<div class="btn btn-outline2">Узнать больше</div>
						</div>
					</div>
				</li>
				<li class="slide">
					<div class="slide_photo">
						<div class="slide_photo_img" style="background-image: url(images/slide-1.png)">
						</div>
					</div>
					<div class="slide_info">
						<div class="slide_title">
							<h2>Помощник арбитражного управляющего</h2>
						</div>
						<div class="slide_about">
							<p>
								Автоматизация полного цикла работ<br/>по сопровождению процедур банкротства
							</p>
							<div class="btn btn-outline2">Узнать больше</div>
						</div>
					</div>
				</li>
				<li class="slide">
					<div class="slide_photo">
						<div class="slide_photo_img" style="background-image: url(images/slide-1.png)">
						</div>
					</div>
					<div class="slide_info">
						<div class="slide_title">
							<h2>Помощник арбитражного управляющего</h2>
						</div>
						<div class="slide_about">
							<p>
								Автоматизация полного цикла работ<br/>по сопровождению процедур банкротства
							</p>
							<div class="btn btn-outline2">Узнать больше</div>
						</div>
					</div>
				</li>
				<li class="slide">
					<div class="slide_photo">
						<div class="slide_photo_img" style="background-image: url(images/slide-1.png)">
						</div>
					</div>
					<div class="slide_info">
						<div class="slide_title">
							<h2>Помощник арбитражного управляющего</h2>
						</div>
						<div class="slide_about">
							<p>
								Автоматизация полного цикла работ<br/>по сопровождению процедур банкротства
							</p>
							<div class="btn btn-outline2">Узнать больше</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="arrows">
				<div class="sel"></div>
				<div class="sel active"></div>
				<div class="sel"></div>
				<div class="sel"></div>
			</div>
		</div>
	</section>
	<section id="main_products" class="products bg-gray">
		<div class="container">
			<div class="title">
				<h3><a href="/products">Продукты</a></h3>
			</div>
			<div class="items_inner">
				<div class="cards ct_3 ctm_1">
					<div class="card slide" data-color="#E96060">
						<img src="images/item/prod1.png" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
					<div class="card slide">
						<img src="images/item/prod2.png" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>F-анализ</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
					<div class="card slide">
						<img src="images/item/prod3.png" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>CPO Эксперт</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>

					<div class="card slide">
						<img src="images/item/prod4.png" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div><div class="card slide">
						<img src="images/item/prod5.png" class="holder_image card_photo">
						<div class="card_body">
							<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
							<p class="card_text">
								Система автоматизированного анализа финансового состояния предприятия
							</p>
						</div>
						<a href="/product" class="card_link"><span></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="services">
		<div class="container">
			<div class="title">
				<h3><a href="/services">Услуги</a></h3>
			</div>
			<div class="s_container services_about">
				<p>
					Мы предлагаем полный комплекс услуг для проектов любого уровня и любой стадии готовности — от начальной, когда есть лишь идея, нуждающаяся в разработке, создании инструментов и продвижении, до заключительной, когда ресурсу необходима только поддержка.
				</p>
			</div>
			<div class="cards ct_3 ctm_1">
				<div class="card">
					<div class="card_body">
						<h5 class="card_title"><a>Сайты и<br/> веб-сервисы</a></h5>
						<p class="card_text">
							- Корпоративные сайты<br/>
							- Интернет-магазины<br/>
							- Промо<br/>
							- Лэндинги<br/>
							- CRM, интеграция
						</p>
					</div>
					<div class="card_icon"></div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<div class="card_body">
						<h5 class="card_title"><a>Мобильные приложения</a></h5>
						<p class="card_text">
							- iOS<br/>
							- Android<br/>
						</p>
					</div>
					<div class="card_icon"></div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<div class="card_body">
						<h5 class="card_title"><a>Разработка программного обеспечения</a></h5>
						<p class="card_text">
							- Бизнес-анализ и консалтинг<br/>
							- Разработка заказных ERP и CRM<br/>
							- Внедрение, развертывание, интеграция и настройка<br/>
						</p>
					</div>
					<div class="card_icon"></div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>

			</div>
		</div>
	</section>
	<section class="company">
		<div class="container">
			<div class="title">
				<h3><a href="#">Компания</a></h3>
			</div>
			<div class="s_container company_about">
				<p>
					Политика фирмы заключается в том, чтобы предоставить клиенту возможность выбора программного продукта,
					 который наибольшим образом будет соответствовать его целям и задачам,
					 во внедрении этого программного продукта, настройке его под конкретные
					 требования клиента, которые почти всегда отличаются своей спецификой, и дальнейшем сопровождении.
				</p>
			</div>

			<div class="cards about_items ct_3 ctm_1">
				<div class="card">
					<div class="card_icon"></div>
					<div class="card_body">
						<p class="card_text">
							
						</p>
						<h2 class="title_big">2004</h2>
						<p class="card_text">
							Год основания компании
						</p>
					</div>
				</div>
				<div class="card">
					<div class="card_icon"></div>
					<div class="card_body">
						<p class="card_text">
							Более
						</p>
						<h2 class="title_big">40</h2>
						<p class="card_text">
							заказных проектов
						</p>
					</div>
				</div>
				<div class="card">
					<div class="card_icon"></div>
					<div class="card_body">
						<p class="card_text">
							Более
						</p>
						<h2 class="title_big">60</h2>
						<p class="card_text">
							сотрудников
						</p>
					</div>
				</div>
			</div>
			<div class="cards link_items ct_2 ctm_1 company_info">
				<div class="card rows news">
					<div class="title_block">
						<h3>Новости компании:</h3>
					</div>
					<div class="social">
						<a href="#" class="social_btn"><span class="social_btn_icon in"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon fb"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon tw"></span></a>
						<a href="#" class="social_btn"><span class="social_btn_icon vk"></span></a>
					</div>
					
				</div>
				<div class="card rows vacancy">
					<div class="title_block">
						<h3>Вакансии</h3>
					</div>
					<div class="vacancy_info">
						<p>Сейчас открыто 5 вакансий.</p>
					</div>
					<div class="btn btn-outline">Подробнее</div>

				</div>
			</div>
		</div>
	</section>
	<section class="clients bg-gwhite">
		<div class="container">
			<div class="title">
				<h3>
					Более <a href="#">1500 клиентов</a> используют наши продукты
				</h3>
			</div>
			<div class="partners">
				<div class="cards ct_4">
					<div class="card"><img src="images/partner/partner1.png" alt=""></div>
					<div class="card"><img src="images/partner/partner2.png" alt=""></div>
					<div class="card"><img src="images/partner/partner3.png" alt=""></div>
					<div class="card"><img src="images/partner/partner4.png" alt=""></div>
				</div>
				<div class="cards ct_3">
					<div class="card"><img src="images/partner/partner5.png" alt=""></div>
					<div class="card"><img src="images/partner/partner6.png" alt=""></div>
					<div class="card"><img src="images/partner/partner7.png" alt=""></div>
				</div>
				<div class="cards ct_4">
					<div class="card"><img src="images/partner/partner8.png" alt=""></div>
					<div class="card"><img src="images/partner/partner9.png" alt=""></div>
					<div class="card"><img src="images/partner/partner10.png" alt=""></div>
					<div class="card"><img src="images/partner/partner11.png" alt=""></div>
				</div>
				<div class="cards ct_3">
					<div class="card"><img src="images/partner/partner12.png" alt=""></div>
					<div class="card"><img src="images/partner/partner13.png" alt=""></div>
					<div class="card"><img src="images/partner/partner14.png" alt=""></div>
				</div>
				
			</div>
		</div>
	</section>
	
</div>





