<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/app.css' />
    <link rel='stylesheet' href='/css/flexboxgrid.min.css' />
  </head>
  <body>
  	<div class="main_container">
		<header class="header bg-gray">
			<div class="container">
				<div class="menu">
					<a href="/">
						<div class="logo"></div>
					</a>
					<nav class="menu_top">
						<ul>
							<li><a href="#">Продукты</a></li>
							<li><a href="#">Услуги</a></li>
							<li><a href="#">Поддержка</a></li>
							<li><a href="#">Компания</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
    {{{body}}}
    <section class="footer_nav bg-gray">
		<div class="container">
			<div class="items">
				<div class="item">
					<h4 class="title"><a href="/products">Продукты</a></h4>
				</div>
				<div class="item">
					<h4 class="title"><a href="#">Услуги</a></h4>
					<a href="#">Веб-разработка</a>
					<a href="#">Разработка ПО</a>
					<a href="#">Мобильные приложения</a>
				</div>
				<div class="item">
					<h4 class="title"><a href="#">Поддержка</a></h4>
					<a href="#">Служба поддержки</a>
					<a href="#">Форум</a>
				</div>
				<div class="item">
					<h4 class="title"><a href="#">Компания</a></h4>
					<a href="#">Новости</a>
					<a href="#">Вакансии</a>
					<a href="#">Контакты</a>
				</div>
			</div>
		</div>
	</section>
</div>
    <div class="footer_container">
	<footer class="footer">
		<div class="container">
			<div class="items">
				<div class="item">
					<p>
						© 2004-2018 Русские информационные технологии
						<br/>
						<a href="#">Политика конфиденциальности</a>					
					</p>
				</div>
				<div class="item">
					<p>
						+7(3412) 43-48-89<br/>
						<a href="#">info@russianit.ru</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	
</div>
  </body>
</html>
