<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width">
    <title>Русские Информационные Технологии</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
  	<div class="main_container">
		<header class="header">
			<div class="container">
				<div class="menu">
					<a href="/">
						<div class="logo">
							<img src="images/logo.png" class="holder_image">
						</div>
					</a>
					<nav class="menu_top">
						<ul>
							<li><a href="/products" class="link">Продукты</a></li>
							<li><a href="/services" class="link">Услуги</a></li>
							<li><a href="/support" class="link">Поддержка</a></li>
							<li><a href="/about" class="link">Компания</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
    {{{body}}}
    <section class="footer_nav bg-gray">
		<div class="container">
			<div class="items">
				<div class="item">
					<h4 class="title"><a href="/products">Продукты</a></h4>
				</div>
				<div class="item">
					<h4 class="title"><a href="/services">Услуги</a></h4>
					<a href="/cservice" class="link">Веб-разработка</a>
					<a href="#" class="link">Разработка ПО</a>
					<a href="#" class="link">Мобильные приложения</a>
				</div>
				<div class="item">
					<h4 class="title"><a href="/support">Поддержка</a></h4>
					<a href="#" class="link">Служба поддержки</a>
					<a href="#" class="link">Форум</a>
				</div>
				<div class="item">
					<h4 class="title"><a href="/about">Компания</a></h4>
					<a href="/news" class="link">Новости</a>
					<a href="/hire" class="link">Вакансии</a>
					<a href="/contacts" class="link">Контакты</a>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="footer_container">
	<footer class="footer">
		<div class="container">
			<div class="items">
				<div class="item">
					<p>
						© 2004-2018 Русские информационные технологии
						<br/>
						<a href="#" class="link">Политика конфиденциальности</a>					
					</p>
				</div>
				<div class="item">
					<p>
						+7(3412) 43-48-89<br/>
						<a href="mailto:info@russianit.ru" class="link">info@russianit.ru</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	
</div>

<script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app.js"></script>
  </body>
</html>
