<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width">
    <title>Русские Информационные Технологии</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
  	<div class="main_container">
		<header class="header">
			<div class="container">
				<div class="menu">
					<a href="/">
						<div class="logo">
							<img src="images/logo.png" class="holder_image">
						</div>
					</a>
					<a href="#" class="menu_mobile"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></a>
					<nav class="menu_top">
						<ul>
							<li><a href="/products" class="link">Продукты</a></li>
							<li><a href="/services" class="link">Услуги</a></li>
							<li><a href="/support" class="link">Поддержка</a></li>
							<li><a href="/about" class="link">Компания</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
    {{{body}}}
    <footer class="footer">
		<div class="container">
			<section class="footer_nav">
				<div class="cards ct_2 empty">
					<div class="cards empty">
						<div class="card w_2_3">
							<div class="logo"><img src="images/logo.png" alt=""></div>
						</div>
						<div class="card w_1_3 columns">
							<div class="title_block">
								<h4>
									<a href="/products">Продукты</a>
								</h4>
							</div>
							<a href="#" class="link">Помощник арбитражного управляющего</a>
							<a href="#" class="link">HUDWAY</a>
							<a href="#" class="link">F-анализ</a>
							<a href="#" class="link">Печать конвертов</a>
							<a href="#" class="link">Пробили.ру</a>
						</div>
					</div>
					<div class="cards empty ct_3">
						<div class="card columns">
							<div class="title_block">
								<h4>
									<a href="/services">Услуги</a>
								</h4>
							</div>
							<a href="/cservice" class="link">Веб-разработка</a>
							<a href="#" class="link">Разработка ПО</a>
							<a href="#" class="link">Мобильные приложения</a>
						</div>
						<div class="card columns">
							<div class="title_block">
								<h4>
									<a href="/support">Поддержка</a>
								</h4>
							</div>
							<a href="#" class="link">Служба поддержки</a>
							<a href="#" class="link">Форум</a>
						</div>
						<div class="card columns">
							<div class="title_block">
								<h4>
									<a href="/about">Компания</a>
								</h4>
							</div>
							<a href="/news" class="link">Новости</a>
							<a href="/hire" class="link">Вакансии</a>
							<a href="/contacts" class="link">Контакты</a>
						</div>
					</div>
				</div>
			</section>
			<section class="footer_o">
				<div class="cards ct_3 empty">
					<div class="card">
						<p>
							© 2004-2018 Русские информационные технологии
							<br/>
							<a href="#" class="link">Политика конфиденциальности</a>					
						</p>
					</div>
					<div class="card rows">
						<div class="f_social">
							<a href="#" class="f_social_btn"><span class="f_social_btn_icon in"></span></a>
							<a href="#" class="f_social_btn"><span class="f_social_btn_icon fb"></span></a>
							<a href="#" class="f_social_btn"><span class="f_social_btn_icon tw"></span></a>
							<a href="#" class="f_social_btn"><span class="f_social_btn_icon vk"></span></a>
						</div>
					</div>
					<div class="card">
						<a href="#" class="link">Презентация компании в PDF, 10 мб</a>
					</div>
				</div>
			</section>
		</div>
    	
    </footer>

</div>

<script src="https://cdn.rawgit.com/imsky/holder/master/holder.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app.js"></script>
  </body>
</html>
