<div id="news">
	<section class="news">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Новости</span>
			</div>
			<div class="title">
				<h2>Новости</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="/about">
						<h4>О компании</h4>
					</a>
				</li>
				<li>
					<h4>Новости</h4>
				</li>
				<li>
					<a href="/vacancies">
						<h4>Вакансии</h4>
					</a>
				</li>
				<li>
					<a href="/contacts">
						<h4>Контакты</h4>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="newsb">
		<div class="s_container">
			<div class="items flex_column flex_center">
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">Профи-версия "Печати конвертов!" теперь и на одно рабочее место</a></h4>
				</div>
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">С международным женским днем</a></h4>
				</div>
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">День рождения! РИТ исполнилось 12 лет!</a></h4>
				</div>
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">Представляем новый веб-сервис</a></h4>
				</div>
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">Обновление ПАУ!</a></h4>
				</div>
				<div class="item">
					<div class="item_date">21/03</div>
					<h4 class="item_title"><a href="/cnews">24 августа - вебинар по эффективному использованию "Помошник АУ"</a></h4>
				</div>
			</div>
		</div>
	</section>
</div>