<div id="price">
	<section class="price">
		<div class="container">
			<a href="/">
				<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
					<!-- <img src="images/logo.png" class="holder_image"> -->
				</div>
			</a>
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/">Продукты</a> 
				/
				<a href="/">Помощник арбитражного управляющего</a> 
				/
				<span>Цены</span>
			</div>
			<div class="title">
				<h2>Цены и тарифы</h2>
			</div>
		</div>
	</section>
	<section class="menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="#rates" class="link_anchor">
						<h4>Тарифы</h4>
					</a>
				</li>
				<li>
					<a href="#bonus" class="link_anchor">
						<h4>Дополнительные составляющие</h4>
					</a>
				</li>
				<li>
					<a href="#support" class="link_anchor">
						<h4>Техподдержка</h4>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<!-- Тарифы -->
	<section class="rates" id="rates">
		<div class="container">
			<div class="list_types">
				<a href="#" class="noactive">Без ограничений</a>
				<a href="#" class="link">Версия за 1 предприятие-банкрот</a>
			</div>
			<div class="row price_list">
				<div class="row price_item price_names col-xs-12 col-md-5 start-md hidden-m">
					<div class="price_item_body">
						<div class="price_item_info">Количество управляющих</div>
						<div class="price_item_info">Количество рабочих мест</div>
						<div class="price_item_info">Сопровождение всех процедур банкротства,<br/>
						 предусмотренных  в ФЗ «О несостоятельности(банкротстве)»<br/>
						  от 26.10.2002 г.</div>
						<div class="price_item_info">Автоматическая подготовка документов. Всего в системе<br/>
						более 400 документов, в том числе и по новой редакции<br/>
						 Закона о банкротстве</div>
						<div class="price_item_info">Автоматическая подготовка профессиональных отчетов,<br/>
						 анализа финансового состояния предприятий, планов ВУ</div>
						<div class="price_item_info">Формирование и ведение реестра кредиторов</div>
						<div class="price_item_info">Ведение делопроизводства</div>
						<div class="price_item_info">Учет доходов и расходов денежных средств, формирование<br/>
						 отчетов об использовании денежных средств</div>
						<div class="price_item_info">Инвентаризация, учет и реализация конкурсной массы</div>
						<div class="price_item_info">Раздел Планирование	</div>
						<div class="price_item_info">Расчет вознаграждения АУ согласно последней редакции<br/>
						 закона о банкротстве</div>
						<div class="price_item_info">Организация и ведение собрания кредиторов</div>
						<div class="price_item_info">Функция печати конвертов, уведомлений, описи вложения</div>
						<div class="price_item_info">Бесплатная техническая поддержка, 1 месяц</div>
						<div class="price_item_info">Взаимодействие с сайтами ЕФРСБ и Арбитр из программы</div>
						<div class="price_item_info">Поиск контрагентов по онлайн-базе Аналитикс</div>
						<div class="price_item_info">Бизнес-справки (оплачиваются отдельно)</div>
						<div class="price_item_info">Экспорт и импорт процедур</div>
						<div class="price_item_info">Печать плана работ по процедурам</div>
						<div class="price_item_info">Создание собственных шаблонов процедур и мероприятий</div>
						<div class="price_item_info">Создание пользовательских шаблонов документов</div>
						<div class="price_item_info">Импорт реестра кредиторов из MS Excel</div>
						<div class="price_item_info">Импорт данных из 1С v7.7 (контрагенты, движение денежных<br/>
						 средств по счетам, конкурсная масса, расходы по счету 71<br/>
						 (расчеты с подотчетными лицами)</div>
						<div class="price_item_info">Раздел «бюджет»</div>
						<div class="price_item_info">Журнал регистрации действий пользователей</div>
						<div class="price_item_info">Нормативно-правовая база по несостоятельности (банкротству)</div>
						<div class="price_item_info">Многоуровневое разграничение прав в программе:<br/>
						 суперпользователь, руководитель процедуры, сотрудник-исполнитель, гость</div>
						<div class="price_item_info">«Плоский» вид на все процедуры в программе:<br/>
						 любой пользователь видит все процедуры, зарегистрированные<br/>
						в базе данных</div>
						<div class="price_item_info">Система контроля и предотвращения изменения<br/>
						 документов</div>
						<div class="price_item_info">Система защиты от внесения фрагментов текста,<br/>
						 относящихся к другим документам</div>
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Лайт»</h4>
								<h3>19 890 Р</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество управляющих</div>
										<div class="title_item_info end-xs col-xs-3">1</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество рабочих мест</div>
										<div class="title_item_info end-xs col-xs-3">1</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Сопровождение всех процедур банкротства,<br/>
									 предусмотренных  в ФЗ «О несостоятельности(банкротстве)»<br/>
									  от 26.10.2002 г.</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка документов. Всего в системе<br/>
									более 400 документов, в том числе и по новой редакции<br/>
									 Закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка профессиональных отчетов,<br/>
									 анализа финансового состояния предприятий, планов ВУ</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Формирование и ведение реестра кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Ведение делопроизводства</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Учет доходов и расходов денежных средств, формирование<br/>
									 отчетов об использовании денежных средств</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Инвентаризация, учет и реализация конкурсной массы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел Планирование	</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Расчет вознаграждения АУ согласно последней редакции<br/>
									 закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Организация и ведение собрания кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Функция печати конвертов, уведомлений, описи вложения</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бесплатная техническая поддержка, 1 месяц</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Взаимодействие с сайтами ЕФРСБ и Арбитр из программы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Поиск контрагентов по онлайн-базе Аналитикс</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бизнес-справки (оплачиваются отдельно)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Экспорт и импорт процедур</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Печать плана работ по процедурам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание собственных шаблонов процедур и мероприятий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание пользовательских шаблонов документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт реестра кредиторов из MS Excel</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт данных из 1С v7.7 (контрагенты, движение денежных<br/>
									 средств по счетам, конкурсная масса, расходы по счету 71<br/>
									 (расчеты с подотчетными лицами)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел «бюджет»</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Журнал регистрации действий пользователей</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Нормативно-правовая база по несостоятельности (банкротству)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Многоуровневое разграничение прав в программе:<br/>
									 суперпользователь, руководитель процедуры, сотрудник-исполнитель, гость</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">«Плоский» вид на все процедуры в программе:<br/>
									 любой пользователь видит все процедуры, зарегистрированные<br/>
									в базе данных</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система контроля и предотвращения изменения<br/>
									 документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система защиты от внесения фрагментов текста,<br/>
									 относящихся к другим документам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								<div class="price_box_item">
									1
								</div>
								<div class="price_box_item">
									1
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
							</div>
						</div>
						<div class="price_footer">
							<div class="price_footer_title">
								<h3>19 890 Р</h3>
							</div>	
							<a href="#" class="btn btn-red-outline">Купить</a>	
						</div>
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="best">
							<div class="best_text">Хит продаж</div>
						</div>
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Профессионал»</h4>
								<h3>28 890 Р</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество управляющих</div>
										<div class="title_item_info end-xs col-xs-3">1</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество рабочих мест</div>
										<div class="title_item_info end-xs col-xs-3">3</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Сопровождение всех процедур банкротства,<br/>
									 предусмотренных  в ФЗ «О несостоятельности(банкротстве)»<br/>
									  от 26.10.2002 г.</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка документов. Всего в системе<br/>
									более 400 документов, в том числе и по новой редакции<br/>
									 Закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка профессиональных отчетов,<br/>
									 анализа финансового состояния предприятий, планов ВУ</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Формирование и ведение реестра кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Ведение делопроизводства</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Учет доходов и расходов денежных средств, формирование<br/>
									 отчетов об использовании денежных средств</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Инвентаризация, учет и реализация конкурсной массы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел Планирование	</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Расчет вознаграждения АУ согласно последней редакции<br/>
									 закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Организация и ведение собрания кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Функция печати конвертов, уведомлений, описи вложения</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бесплатная техническая поддержка, 1 месяц</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Взаимодействие с сайтами ЕФРСБ и Арбитр из программы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Поиск контрагентов по онлайн-базе Аналитикс</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бизнес-справки (оплачиваются отдельно)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Экспорт и импорт процедур</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Печать плана работ по процедурам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание собственных шаблонов процедур и мероприятий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание пользовательских шаблонов документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт реестра кредиторов из MS Excel</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт данных из 1С v7.7 (контрагенты, движение денежных<br/>
									 средств по счетам, конкурсная масса, расходы по счету 71<br/>
									 (расчеты с подотчетными лицами)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел «бюджет»</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Журнал регистрации действий пользователей</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Нормативно-правовая база по несостоятельности (банкротству)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Многоуровневое разграничение прав в программе:<br/>
									 суперпользователь, руководитель процедуры, сотрудник-исполнитель, гость</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">«Плоский» вид на все процедуры в программе:<br/>
									 любой пользователь видит все процедуры, зарегистрированные<br/>
									в базе данных</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система контроля и предотвращения изменения<br/>
									 документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система защиты от внесения фрагментов текста,<br/>
									 относящихся к другим документам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="canceled"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								<div class="price_box_item">
									1
								</div>
								<div class="price_box_item">
									3
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="canceled"></div>
								</div>
							</div>
						</div>
						<div class="price_footer">
							<div class="price_footer_title">
								<h3>28 890 Р</h3>
							</div>	
							<a href="#" class="btn btn-red-outline">Купить</a>	
						</div>
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Управляющая компания»</h4>
								<h3>108 890 Р</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество управляющих</div>
										<div class="title_item_info end-xs col-xs-3">1</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Количество рабочих мест</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">Не ограничено</div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Сопровождение всех процедур банкротства,<br/>
									 предусмотренных  в ФЗ «О несостоятельности(банкротстве)»<br/>
									  от 26.10.2002 г.</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка документов. Всего в системе<br/>
									более 400 документов, в том числе и по новой редакции<br/>
									 Закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Автоматическая подготовка профессиональных отчетов,<br/>
									 анализа финансового состояния предприятий, планов ВУ</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Формирование и ведение реестра кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Ведение делопроизводства</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Учет доходов и расходов денежных средств, формирование<br/>
									 отчетов об использовании денежных средств</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Инвентаризация, учет и реализация конкурсной массы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел Планирование	</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Расчет вознаграждения АУ согласно последней редакции<br/>
									 закона о банкротстве</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Организация и ведение собрания кредиторов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Функция печати конвертов, уведомлений, описи вложения</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бесплатная техническая поддержка, 1 месяц</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Взаимодействие с сайтами ЕФРСБ и Арбитр из программы</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Поиск контрагентов по онлайн-базе Аналитикс</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Бизнес-справки (оплачиваются отдельно)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Экспорт и импорт процедур</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Печать плана работ по процедурам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание собственных шаблонов процедур и мероприятий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Создание пользовательских шаблонов документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт реестра кредиторов из MS Excel</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Импорт данных из 1С v7.7 (контрагенты, движение денежных<br/>
									 средств по счетам, конкурсная масса, расходы по счету 71<br/>
									 (расчеты с подотчетными лицами)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Раздел «бюджет»</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Журнал регистрации действий пользователей</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Нормативно-правовая база по несостоятельности (банкротству)</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Многоуровневое разграничение прав в программе:<br/>
									 суперпользователь, руководитель процедуры, сотрудник-исполнитель, гость</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">«Плоский» вид на все процедуры в программе:<br/>
									 любой пользователь видит все процедуры, зарегистрированные<br/>
									в базе данных</div>
										<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система контроля и предотвращения изменения<br/>
									 документов</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Система защиты от внесения фрагментов текста,<br/>
									 относящихся к другим документам</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="checked"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								<div class="price_box_item">
									<span class="price_box_text">Не ограничено</span>
								</div>
								<div class="price_box_item">
									1
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="3">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
								<div class="price_box_item" rows="2">
									<div class="checked"></div>
								</div>
							</div>
						</div>
						<div class="price_footer">
							<div class="price_footer_title">
								<h3>108 890 Р</h3>
							</div>	
							<a href="#" class="btn btn-red-outline">Купить</a>	
							<a href="#" class="link_btn">Подробнее о редакции</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Дополнительные составляющие -->
	<section class="bonus bg-gwhite block_content" id="bonus">
		<div class="container">
			<div class="title">
				<h3>Дополнительные составляющие</h3>
			</div>
			<div class="row price_list">
				<div class="row price_item price_names col-xs-12 col-md-5 start-md hidden-m">
					<div class="price_item_body">
						<div class="price_item_info">Дополнительный арбитражный управляющий</div>
						<div class="price_item_info">Дополнительное рабочее место</div>
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Лайт»</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительный арбитражный управляющий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												16 890
											</div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительное рабочее место</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												3 380
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								
								<div class="price_box_item">
									<div class="price_box_text">
										16 890
									</div>
								</div>
								<div class="price_box_item">
									<div class="price_box_text">
										3 380
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="best">
							<div class="best_text">Хит продаж</div>
						</div>
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Профессионал»</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительный арбитражный управляющий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												23 890
											</div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительное рабочее место</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												4 540
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								
								<div class="price_box_item">
									<div class="price_box_text">
										23 890
									</div>
								</div>
								<div class="price_box_item">
									<div class="price_box_text">
										4 540
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row price_item price_box col-xs-12 end-md col-md-2">
					<div class="price_box_body">
						<div class="price_header">
							<div class="price_header_title">
								<h4>«Управляющая компания»</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs visible-m start-xs hidden-bm price_info">
								<div class="title_list">
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительный арбитражный управляющий</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												-
											</div>
										</div>
									</div>
									<div class="row title_item">
										<div class="title_item_name start-xs col-xs-8">Дополнительное рабочее место</div>
										<div class="title_item_info end-xs col-xs-3">
											<div class="price_box_text">
												24 890
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="hidden-m center-md middle price_box_info">
								
								<div class="price_box_item">
									<div class="price_box_text">
										-
									</div>
								</div>
								<div class="price_box_item">
									<div class="price_box_text">
										24 890
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="support block_content" id="support">
		<div class="container">
			<div class="title">
				<h3>Техническая поддержка</h3>
			</div>
			<div class="about">
				<div class="text text_center">
					<p>Стоимость технической поддержки вычисляется как процент от <a href="#" target="_blank">стоимости комплектации программы.</a></p>
				</div>
			</div>
			<div class="support_numbers row center-xs">
				<div class="support_number">
					<div class="support_number_title">
						<h3>12</h3>
					</div>
					<div class="support_number_text">
						<p>месяцев<br/>техподдержки</p>
					</div>
				</div>
				<div class="support_number">
					<div class="support_number_title">
						<h3>35%</h3>
					</div>
					<div class="support_number_text">
						<p>от стоимости<br/>программы</p>
					</div>
				</div>
			</div>
			<div class="support_policy">
				<div class="text text_center">
					<p>Техническая поддержка приобретается на условиях публичной оферты.</p>
				</div>
			</div>
			
			<div class="what_get">
				<div class="title">
					<h4>Что вы получаете:</h4>
				</div>
				<div class="row what_get_list">
					<div class="row_what_get_item col-xs-12 col-md-6 text">
						<ul>
							<li>Консультации по техническим и теоретическим вопросам;</li>
							<li>Помощь в настройке и работе с программой;</li>
							<li>Осуществление пожеланий пользователей;</li>
							<li>Обновление нормативно-правовой базы;</li>
						</ul>
					</div>
					<div class="row_what_get_item col-xs-12 col-md-6 text">
						<ul>
							<li>Обновление вашей программы до последней версии;</li>
							<li>Восстановление баз данных;</li>
							<li>Перенос рабочих мест;</li>
							<li>Удаленное подключение к рабочему месту пользователя.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="support_info">
				<div class="m_container">
					<div class="text">
						<div class="text_center">
							<p><span class="text_bold">Доп. условия оказания техподдержки:</span></p>
						</div>
						<ul>
							<li>В момент обращения за технической поддержкой клиент должен обладать 
								<a href="#" target="_blank">последней официально объявленной версией продукта.</a>
							</li>
							<li>Услуги по поддержке клиентов оказываются по телефону, электронной почте.</li>
							<li>В случае действующего соглашения при приобретении дополнительных рабочих мест без технической поддержки срок действия технической поддержки уменьшается пропорционально количеству рабочих мест.</li>
							<li>В случае приобретения дополнительных рабочих мест с технической поддержкой срок действия технической поддержки увеличивается пропорционально количеству рабочих мест.</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>
</div>