<div id="price">
	<section class="price">
		<div class="container">
			<a href="/">
				<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
					<!-- <img src="images/logo.png" class="holder_image"> -->
				</div>
			</a>
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/">Продукты</a> 
				/
				<a href="/">Помощник арбитражного управляющего</a> 
				/
				<span>Цены</span>
			</div>
			<div class="title">
				<h2>Цены и тарифы</h2>
			</div>
		</div>
	</section>
	<section class="bg-gray menu_b">
		<nav class="menu_top">
			<ul>
				<li>
					<a href="#rates" class="link_anchor">
						<h4>Тарифы</h4>
					</a>
				</li>
				<li>
					<a href="#bonus" class="link_anchor">
						<h4>Дополнительные составляющие</h4>
					</a>
				</li>
				<li>
					<a href="#support" class="link_anchor">
						<h4>Техподдержка</h4>
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section class="rates">
		<div class="container">
			<div class="list_types">
				<a href="#" class="noactive">Без ограничений</a>
				<a href="#" class="link">Версия за 1 предприятие-банкрот</a>
			</div>
			<div class="row price_list">
				<div class="row price_item col-xs-12 col-md-2 hidden-s">
					<div class="price_item_body">
						<div class="price_item_info">Количество управляющих</div>
						<div class="price_item_info">Количество рабочих мест</div>
						<div class="price_item_info">Сопровождение всех процедур банкротства, предусмотренных  в ФЗ «О несостоятельности(банкротстве)» от 26.10.2002 г.</div>
						<div class="price_item_info">Автоматическая подготовка документов. Всего в системе</div>
						<div class="price_item_info">более 400 документов, в том числе и по новой редакции Закона о банкротстве</div>
						<div class="price_item_info">Автоматическая подготовка профессиональных отчетов, анализа финансового состояния предприятий, планов ВУ</div>
						<div class="price_item_info">Формирование и ведение реестра кредиторов</div>
						<div class="price_item_info">Ведение делопроизводства</div>
						<div class="price_item_info">Учет доходов и расходов денежных средств, формирование отчетов об использовании денежных средств</div>
						<div class="price_item_info">Инвентаризация, учет и реализация конкурсной массы</div>
						<div class="price_item_info">Раздел Планирование	</div>
						<div class="price_item_info">Расчет вознаграждения АУ согласно последней редакции закона о банкротстве</div>
						<div class="price_item_info">Организация и ведение собрания кредиторов</div>
						<div class="price_item_info">Функция печати конвертов, уведомлений, описи вложения</div>
						<div class="price_item_info">Бесплатная техническая поддержка, 1 месяц</div>
						<div class="price_item_info">Взаимодействие с сайтами ЕФРСБ и Арбитр из программы</div>
						<div class="price_item_info">Поиск контрагентов по онлайн-базе Аналитикс</div>
						<div class="price_item_info">Бизнес-справки (оплачиваются отдельно)</div>
						<div class="price_item_info">Экспорт и импорт процедур</div>
						<div class="price_item_info">Печать плана работ по процедурам</div>
						<div class="price_item_info">Создание собственных шаблонов процедур и мероприятий</div>
						<div class="price_item_info">Создание пользовательских шаблонов документов</div>
						<div class="price_item_info">Импорт реестра кредиторов из MS Excel</div>
						<div class="price_item_info">Импорт данных из 1С v7.7 (контрагенты, движение денежных средств по счетам, конкурсная масса, расходы по счету 71 (расчеты с подотчетными лицами)</div>
						<div class="price_item_info">Раздел «бюджет»</div>
						<div class="price_item_info">Журнал регистрации действий пользователей</div>
						<div class="price_item_info">Нормативно-правовая база по несостоятельности (банкротству)</div>
						<div class="price_item_info">Многоуровневое разграничение прав в программе: суперпользователь, руководитель процедуры, сотрудник-исполнитель, гость</div>
						<div class="price_item_info">«Плоский» вид на все процедуры в программе: любой пользователь видит все процедуры, зарегистрированные</div>
						<div class="price_item_info">в базе данных</div>
						<div class="price_item_info">Система контроля и предотвращения изменения документов</div>
						<div class="price_item_info">Система защиты от внесения фрагментов текста, относящихся к другим документам</div>
					</div>
				</div>
				<div class="row price_item col-xs-12 col-md-2">
					<div class="price_item_body">
						<div class="price_header">Лайт</div>
						<div class="row">
							<div class="col-xs visible-s hidden-bm price_info">test</div>
							<div class="col-xs-3">1</div>
						</div>
					</div>
				</div>
				<div class="row price_item col-xs-12 col-md-2"></div>
				<div class="row price_item col-xs-12 col-md-2"></div>
			</div>
		</div>
	</section>
</div>