<div id="product">
	<section class="header_product">
		<div class="container">
			<div class="menu">
				<a href="/">
					<div class="logo"></div>
				</a>
				<nav class="menu_product">
					<ul>
						<li><a href="#">Возможности</a></li>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Обзор</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
						<li><a href="#" class="btn btn-blue">Купить</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
</div>