<div id="product">
	<section class="header_product">
		<div class="container">
			<div class="menu">
				<a href="/">
					<div class="logo"></div>
				</a>
				<nav class="menu_product">
					<ul>
						<li><a href="#">Возможности</a></li>
						<li><a href="#">Цены</a></li>
						<li><a href="#">Обзор</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
						<li><a href="/buy" class="btn btn-blue">Купить</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<section class="product_info">
		<div class="container">
			<div class="product_info_photo"></div>
			<div class="inner">
				<h2 class="title">Помошник арбитражного управляющего</h2>
				<div class="inner_text">
					<div class="product_info_textout"></div>
					<div class="product_info_text">
						<p>
							Комплексно-правовая система "Помошник арбитражного управляющего" - 
							автоматизация полного цикла работ по сопровождению процедур банкротства -
							от получения определения до отчета в саморегулируемую организацию.
						</p>
						<p>
							Система предназначена для арбитражных управляющих и компаний,
							осуществляющих сопровождение процедур банкротства.
						</p>
					</div>
					
				</div>
				<div class="product_info_box">
					<div class="product_info_price">
						<div class="small_text">Полная версия</div>
						<div class="big_text">от 
							<span class="big_text_2">9890</span> Р
						</div>
						<a href="#">Все цены</a>
					</div>
					<div class="product_info_demo">
						<div class="small_text">Дема-версия</div>
						<div class="big_text_2">
							Бесплатно 45 дней
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<section class="capability bg-gray">
		<div class="container">
			<h2 class="title">Возможности</h2>
			<div class="items_inner">
				<div class="items">
					<div class="item">
						<div class="item_photo"></div>
						<div class="item_about">
							<h4>Оптимизирует работу АУ</h4>
							<p>
								Структурирует информацию, контролирует рабочие процессы,
								позволяет легко находить все необходимые данные.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="item_photo"></div>
						<div class="item_about">
							<h4>Сокращает время рабочего процесса</h4>
							<p>
								Значительно экономит время за счет максимальной автоматизации всех процессов,
								необходимых при проведении процедуры банкротства.
							</p>
						</div>
					</div>
					<div class="item">
						<div class="item_photo"></div>
						<div class="item_about">
							<h4>Содержит нормативную базу
							 по процедурам банкротства</h4>
							<p>
								В программе содержится пополняемая и обновляемая
								нормативно-правовая база РФ. Система не требуетдополнительного использования
								других информационно-правовых систем.
							</p>
						</div>
					</div>
				</div>
				
				<div class="arrows">
						<div class="sel"></div>
						<div class="sel active"></div>
						<div class="sel"></div>
						<div class="sel"></div>
					</div>
			</div>
			
		</div>
	</section>
	<section class="prices">
		<div class="container">
			<h2 class="title">Цены</h2>
			<div class="items items_price">
				<div class="item">
					<div class="item_about">
						<h4>Лайт</h4>
						<div class="small_text">1 рабочее место</div>
						<ul class="list">
							<li>Ведение процедур банкротства</li>
							<li class="noactive">Создание своих шаблонов, документов, мероприятий и процедур</li>
							<li class="noactive">Финансовое планирование бюджета</li>
							<li class="noactive">Нормативно правовая база по банкротству</li>
						</ul>
						<div class="big_text_2">
							19 890 Р
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_about">
						<h4>Профессионал</h4>
						<div class="small_text">3 рабочих мест</div>
						<ul class="list">
							<li>Ведение процедур банкротства</li>
							<li>Создание своих шаблонов, документов, мероприятий и процедур</li>
							<li>Финансовое планирование бюджета</li>
							<li>Нормативно правовая база по банкротству</li>
						</ul>
						<div class="big_text_2">
							28 890 Р
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_about">
						<h4>Управляющая компания</h4>
						<div class="small_text">Рабочие места не ограничены</div>
						<ul class="list">
							<li>Ведение процедур банкротства</li>
							<li>Создание своих шаблонов, документов, мероприятий и процедур</li>
							<li>Финансовое планирование бюджета</li>
							<li>Нормативно правовая база по банкротству</li>
						</ul>
							<div class="big_text_2">
								108 890 Р
							</div>

					</div>
				</div>
			</div>
			<a href="#" class="btn btn-blue all_prices">Все цены</a>
		</div>
	</section>
	<section class="view_service">
		<div class="container">
			<h2 class="title">Обзор сервиса</h2>
			<div class="items items_service">
				<div class="item">
					<div class="item_photo">
						
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="related">
		<div class="container">
			<h2 class="title">Вместе с СРО "Автоматизация" обычно смотрят</h2>
			<div class="items prods">
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="/product" class="item_link">Помошник арбитражного управляющего</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Hudway</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">CPO Эксперт</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="reviews">
		<div class="container">
			<h2 class="title">
				Более 130 крупных компаний выбрали<br/>СРО "Автоматизацию"
			</h2>
			<div class="reviews_inner">
				<ul class="reviews_wrapper">
					<li class="review">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<h4>Иван Клабуков</h4>
									<div class="small_text company_name">Russian IT</div>
								</div>
							</div>
							<div class="row review_info">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					<li class="review">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<h4>Иван Клабуков</h4>
									<div class="small_text company_name">Russian IT</div>
								</div>
							</div>
							<div class="row review_info">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					
				</ul>
				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>


	<section class="promo_product bg-gray">
		<div class="s_container">
			<div class="menu">
				<h2 class="title">Просто попробуйте</h2>
				<nav class="menu_product">
					<ul>
						<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
						<li><a href="/buy" class="btn btn-blue">Купить</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>

</div>