<div id="products">
	
	<section class="block_content products">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Продукты</span>
			</div>
			<div class="title">
				<h3>Продукты</h3>
			</div>
			<div class="cards product-cards ct_3 cts_1">
				<div class="card slide" data-color="#E96060" data-tcolor="#fff">
					<img src="images/item/prod1.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text">
							Система автоматизированного анализа финансового состояния предприятия
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card slide" data-color="#4690CD" data-tcolor="#fff">
					<img src="images/item/prod2.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Hudway</a></h5>
						<p class="card_text">
							Линейка продуктов для безопасного вождения в любых условиях.
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card slide" data-color="#8BB593" data-tcolor="#fff">
					<img src="images/item/prod3.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>F-анализ</a></h5>
						<p class="card_text">
							Крупная система анализа финансового состояния предприятия.
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>

				<div class="card slide" data-color="#5D5A57" data-tcolor="#fff">
					<img src="images/item/prod4.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Печать конвертов</a></h5>
						<p class="card_text">Автоматическая печать конвертов, печать реестров, уведомлений, ведение баз данных контрагентов и проведённых рассылок.</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div><div class="card slide" data-color="#5D5A57" data-tcolor="#fff">
					<img src="images/item/prod5.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text">
							Система автоматизированного анализа финансового состояния предприятия
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
			</div>
		</div>
	</section>
</div>