

<div id="product">

<!-- Шапка продукта -->
	<div class="header-fantom header_product"></div>
	<div class="header header_product h-top">
			<div class="container">
				<div class="menu row between-xs middle-xs">
					<div class="logo_area col-xs-12 col-md center-xs start-md">
						<a href="/">
							<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
								<!-- <img src="images/logo.png" class="holder_image"> -->
							</div>
						</a>
					</div>
					<a href="#" class="menu_mobile"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></a>
					<nav class="menu_topr col-xs-12 col-md-10 center-xs">
						<div class="hidden-bm close"></div>
						<ul class="row center-xs">
							<li><a href="#prices" class="link link_anchor">Цены</a></li>
							<li><a href="#capability" class="link link_anchor">О программе</a></li>
							<li><a href="#event" class="link link_anchor">События</a></li>
							<li><a href="#webinary" class="link link_anchor">Вебинары</a></li>
							<li><a href="#download" class="link link_anchor">Центр загрузок</a></li>
							<li><a href="#knowledge" class="link link_anchor">База знаний</a></li>
							<li><a href="#documents" class="link link_anchor">Документы</a></li>
							<!-- <li><a href="/pau.download.php?link=/upload/files/pau.exe" target="_blank" class="btn btn-outline">Демо-версия</a></li> -->
						</ul>
					</nav>
					<div class="col-xs"></div>
				</div>
			</div>
		</div>

<!-- Текущая версия продукта -->
	<section class="notification pau">
		<p>Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</p>
	</section>

<!-- Информация о продукте / главный слайд -->
	<section class="product_info">
		<div class="container">
			<div class="product row">
				<div class="product_photo col-xs-12 col-md-6">
					<div class="product_photo_out">
					</div>
				</div>
				<div class="product_about col-xs-12 col-md-6">
					<div class="title">
						<h2>Помошник арбитражного управляющего</h2>
					</div>
					<div class="text">
						<p>
							Программа «Помощник арбитражного управляющего» 
							предназначена для арбитражных и финансовых управляющих, 
							их помощников и компаний, осуществляющих сопровождение
							 процедур банкротства.
						</p>
						<div class="row center-xs start-md product_about_info">
							<div class="col-xs-6 info_column">
								<div class="title_block_bold">
									<h3>5 678</h3>
								</div>
								<span class="number_info">человек уже купили «Помощника АУ»</span>
							</div>
							<div class="col-xs-6 info_column">
								<div class="title_block_bold">
									<h3>1 601</h3>
								</div>
								<span class="number_info">человек запускают его ежедневно</span>
							</div>
						</div>
						<div class="block_buy center-xs start-md">
							<div class="row block_buy_version">
								<div class="info_column col-xs">
									<p>Версия 3.9.8 от 25 июня 2018 года  доступна для скачивания</p>
								</div>
								<div class="info_column col-xs-3 block_buy_new">
									<p>
										<a href="http://www.rsit.ru/products/ama/whatsnew.php" target="_blank" class="link">Что нового?</a>
									</p>
								</div>
							</div>
							<div class="row middle-xs">
								<div class="info_column col-xs-12 center-xs start-md col-md block_buy_btn">
									<a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-outline">Купить</a>
								</div>
								<div class="info_column col-xs-12 center-xs col-md block_buy_demo">
									<a href="http://www.rsit.ru/personal/register/" target="_blank" class="link_btn">Скачайте демо-версию</a>
									<div class="text_demo">бесплатно 45 дней!</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>

<!-- Цены -->
<section class="block_content prices" id="prices">
		<div class="container">
			<div class="row price_list">
				<div class="item col-xs-12 col-sm-4 col-md-4">
					<div class="item-shadow"></div>
					<div class="item-feature">
						<div class="item-header">
							<div class="title_block">
								<h3>«Лайт»</h3>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li>
									<div class="row">
										<div class="hr"></div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Делопроизводство</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Работа с имуществом должника</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Учёт доходов и расходов в ходе процедуры</div>
									</div>
								</li>
								<li class="noactive">
									<div class="row">
										<div class="col-xs">Нормативно-правовая база по банкротству</div>
									</div>
								</li>
								<li class="noactive">
									<div class="row">
										<div class="col-xs">Права доступа у разных пользователей</div>
									</div>
								</li>
							</ul>
							<div class="text_center button_buy">
								<a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-red-outline">Купить за 9 890 Р</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="item col-xs-12 col-sm-4 col-md-4">
					<div class="item-feature">
						<div class="item-header">
							<div class="title_block">
								<h3>«Профессионал»</h3>
							</div>
							<div class="best">
								<div class="best_text">Хит продаж</div>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">3</div>
								</div></li>
								<li>
									<div class="row">
										<div class="hr"></div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Делопроизводство</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Работа с имуществом должника</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Учёт доходов и расходов в ходе процедуры</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Нормативно-правовая база по банкротству</div>
									</div>
								</li>
								<li class="noactive">
									<div class="row">
										<div class="col-xs">Права доступа у разных пользователей</div>
									</div>
								</li>
							</ul>
							<div class="text_center button_buy">
								<a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-red-outline">Купить за 28 890 Р</a>
								<a href="http://www.rsit.ru/personal/register/" target="_blank" class="link_demo">Скачайте демо-версию</a>
								<p>бесплатно 45 дней!</p>
							</div>

						</div>
					</div>
					<div class="item-shadow"></div>
				</div>
				<div class="item col-xs-12 col-sm-4 col-md-4">
					<div class="item-feature">
						<div class="item-header row">
							<div class="title_block">
								<h3>«Управляющая компания»</h3>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-5 end-xs">Не ограничено</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li>
									<div class="row">
										<div class="hr"></div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Делопроизводство</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Работа с имуществом должника</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Учёт доходов и расходов в ходе процедуры</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Нормативно-правовая база по банкротству</div>
									</div>
								</li>
								<li>
									<div class="row">
										<div class="col-xs">Права доступа у разных пользователей</div>
									</div>
								</li>
							</ul>
							<div class="text_center button_buy">
								<a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-red-outline">Купить за 101 890 Р</a>
							</div>
							<div class="text_center price_link_more">
								<a href="#" class="link">Подробнее об этой редакции</a>
							</div>
						</div>
					</div>
					<div class="item-shadow"></div>
				</div>
			</div>
			<div class="text_center all_prices_out">
				<a href="/price" class="all_prices">Все тарифы и цены</a>
			</div>
		</div>
	</section>

<!-- О программе -->
	<section class="block_content capability bg-gwhite" id="capability">
		<div class="container">
			<div class="title">
				<h3>О программе</h3>
			</div>
			<div class="features">
				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Готовит документы</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-2.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Планирует</h4>
						</div>
						<div class="item_about">
							<p>Наглядный календарный план мероприятий по каждой процедуре. Напоминания о наступлении срока исполнения предстоящих мероприятий.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-3.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Структурирует</h4>
						</div>
						<div class="item_about">
							<p>Удобное размещение информации о должнике, его имуществе, кредиторах, дебиторах и других контрагентах.</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-4.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Консультирует</h4>
						</div>
						<div class="item_about">
							<p>Всегда под рукой актуальная нормативно-правовая база.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-5.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Ищет и находит</h4>
						</div>
						<div class="item_about">
							<p>Лёгкий онлайн-поиск контрагентов по официальной базе ФНС по названию, ИНН, БИК с их последующим добавлением в свою базу.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-6.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Формирует</h4>
						</div>
						<div class="item_about">
							<p>Ведение реестра кредиторов с возможностью распределения денежных средств по очередям. Формирование конкурсной массы.</p>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-7.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Регистрирует и учитывает</h4>
						</div>
						<div class="item_about">
							<p>Регистрация исходящей и входящей корреспонденции,
							 создание почтовых реестров, реестров договоров и приказов, печать конвертов.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-8.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Организует</h4>
						</div>
						<div class="item_about">
							<p>Полное сопровождение собрания кредиторов: формирование повестки; печать уведомлений, бюллетеней, журнала регистрации, протокола; автоматический подсчёт голосов; отправка сообщений на ЕФРСБ.</p>
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</section>

<!-- Скриншоты -->
	<section class="screen bg-gwhite" id="screen">
		<div class="container">
			<div class="title">
				<h4>Скриншоты</h4>
			</div>
			<div class="qslider screen_list sinner" id="screens" data-view="3">
				<div class="swrapper owl-carousel">
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 1" data-link="/upload/images/item/pau1.png">
							<img src="/upload/images/item/pau1.png" alt="">
						</div>
					</div>
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 2" data-link="/upload/images/item/pau2.png">
							<img src="/upload/images/item/pau2.png" alt="">
						</div>
					</div>
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 3" data-link="/upload/images/item/pau3.png">
							<img src="/upload/images/item/pau3.png" alt="">
						</div>
					</div>
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 4" data-link="/upload/images/item/pau4.png">
							<img src="/upload/images/item/pau4.png" alt="">
						</div>
					</div>
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 5" data-link="/upload/images/item/pau5.png">
							<img src="/upload/images/item/pau5.png" alt="">
						</div>
					</div>
					<div class="item">
						<div id="openNewScreen" data-title="Скриншот 6" data-link="/upload/images/item/pau6.png">
							<img src="/upload/images/item/pau6.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
<!-- Технические требования -->
	<section class="techreq bg-gwhite" id="techreq">
		<div class="container">
			<div class="title">
				<h4>Технические требования</h4>
			</div>
			<div class="s_container">
				<div class="text tech_short">
					<p>
						Программу Помощник арбитражного управляющего рекомендуется устанавливать на компьютер с ОС Windows версии 7 и выше. Минимальные аппаратные требования: процессор частотой 1000 мегагерц, 512 мегабайт ОЗУ, 180 мегабайт свободного места на жестком диске... 
						<a href="#" id="moreTechReq">Читать далее</a>
					</p>
				</div>
			</div>
		</div>
	</section>

<!-- Остались вопросы -->
	<section class="block_content callme" id="callme">
		<div class="container">
			<div class="row callme_list middle-xs">
				<div class="col-md-3 item col-xs-12 center-xs start-md">
					<div class="title middle-xs row">
						<span class="headphones col-xs">
							<object type="image/svg+xml" data="/upload/images/icon/headphones.svg">
							   Your browser does not support SVG
							</object>
						</span>
						<div class="col-xs start-xs">
							<h4>Остались вопросы?</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 item col-xs-12">
					<div class="callme_action">
						<p>
							Отправьте заявку и наши специалисты свяжутся
с вами в самое ближайшее время и ответят на все интересующие вас вопросы.
						</p>
					</div>
				</div>
				<div class="col-md-3 item col-xs-12 center-xs end-md">
					<a href="#" class="btn btn-red-outline button_request" id="button_request">Отправить заявку</a>
				</div>
			</div>
		</div>
	</section>

<!-- События и вебинары -->
	<section class="block_content evs" id="evs">
		<div class="container">
			<div class="row ev_list">
				<div class="col-xs-12 col-md-6 events" id="event">
					<div class="row events_head">
						<div class="col-xs-12 col-md-8 center-xs start-md">
							<div class="title">
								<h3>События</h3>
							</div>
						</div>
						<div class="col-xs-12 col-md-3 center-xs end-md">
							<a href="/news" class="link">Архив событий</a>
						</div>
					</div>
					<div class="events_list">
						<div class="item row">
							<div class="col-xs-12 col-md-3 center-xs start-md date"><p>25 сентября 2018</p></div>
							<div class="col-xs-12 col-md-8 title center-xs start-md">
								<a href="" class="link">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3 center-xs start-md date"><p>25 июня 2018</p></div>
							<div class="col-xs-12 col-md-8 title center-xs start-md">
								<a href="" class="link">Вышла версия 1.3 программы «F-Анализ»</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3 center-xs start-md date"><p>13 марта 2018</p></div>
							<div class="col-xs-12 col-md-8 title center-xs start-md">
								<a href="" class="link">Онлайн оплата без комиссии</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 webinary" id="webinary">
					<div class="title">
						<h3>Вебинары</h3>
					</div>
					<div class="webinary_about">
						<p>
							Для того, чтобы ваше знакомство с программой прошло легко и непринужденно или у вас есть вопросы по каким-либо не изученным разделам, наши специалисты проводят бесплатные ознакомительные вебинары. 
						</p>
					</div>
					<a href="#" id="openNewWebinary" class="link_btn webinary_schedule">расписание вебинаров > </a>
				</div>
			</div>
			<div class="evs_social row">
				<div class="item evs_social_title col-xs-12 col-md-3">
					<div class="title_block_bold">
						<h4>«Помощник АУ» в соцсетях:</h4>
					</div>
				</div>
				<div class="col-xs-12 col-md-3 evs_social_icons">
					<a href="#" target="_blank" class="icon icon_pau-fb">
						<img src="/upload/images/icon/pau-fb.svg" alt="">
					</a>
					<a href="#" target="_blank" class="icon icon_pau-vk">
						<img src="/upload/images/icon/pau-vk.svg">
					</a>
					<a href="#" target="_blank" class="icon icon_pau-tg">
						<img src="/upload/images/icon/pau-tg.svg">
					</a>
				</div>
			</div>
		</div>
	</section>

<!-- Подписка на рассылку -->
	<section class="subscribe">
		<div class="container">
			<div class="row subscribe_list middle-xs">
				<div class="col-md-6 item col-xs-12 center-xs start-md">
					<div class="title middle-xs row">
						<span class="mail col-xs">
							<object type="image/svg+xml" data="/upload/images/icon/mail.svg">
							   Your browser does not support SVG
							</object>
						</span>
						<div class="col-xs">
							<h4>Подпишитесь на рассылку новостей</h4>
						</div>
					</div>
				</div>
				<div class="col-md-6 item col-xs-12 center-xs end-md">
					<div class="row subscribe_form">
						<div class="col-xs-12 col-md-8 start-xs">
							<input type="text" class="subscribe_form_email form_input" placeholder="Ваша электронная почта">
						</div>
						<div class="col-xs-12 col-md-4">
							<a href="#" class="btn btn-red-outline subscribe_send">Подписаться</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- Центр загрузки База знаний -->
	<section class="rsit_base" id="knowdow">
		<div class="container">
			<div class="row list_base">
				<div class="col-xs-12 col-md-6" id="knowledge">
					<div class="item">
						<div class="row item_header middle-xs">
							<div class="col-xs-3 item_header_icon start-xs">
								<div class="icon center_download">
									<object type="image/svg+xml" data="/upload/images/icon/center_download.svg">
									   Your browser does not support SVG
									</object>
								</div>
							</div>
							<div class="col-xs start-xs">
								<div class="title">
									<h4>Центр загрузки</h4>
								</div>
							</div>
						</div>
						<div class="item_body">
							<p>В центре загрузки вы можете скачать последние версии программных продуктов, документацию к программам, обновления нормативной базы и вестники банкротств.</p>
						</div>
						<div class="item_footer">
							<a href="#" target="_blank" class="link_btn">Перейти в ЦЕНТР ЗАГРУЗОК ></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6" id="download">
					<div class="item">
						<div class="row item_header middle-xs">
							<div class="col-xs-3 item_header_icon start-xs">
								<div class="icon center_download">
									<object type="image/svg+xml" data="/upload/images/icon/knowledge.svg">
									   Your browser does not support SVG
									</object>
								</div>
							</div>
							<div class="col-xs start-xs">
								<div class="title">
									<h4>Служба поддержки<br/> и база знаний</h4>
								</div>
							</div>
						</div>
						<div class="item_body">
							<p>Документация по работе в программе «Помощник арбитражного управляющего» доступна в Справочном центре РИТ.
							Полезные инструкции, база знаний, ответы на часто задаваемые вопросы
							и подробное описание работы по каждому разделу программы.
							</p>
						</div>
						<div class="item_footer">
							<a href="#" target="_blank" class="link_btn">Перейти в базу знаний ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="documents" id="documents">
		<div class="container">
			<div class="title">
				<h3>Документы</h3>
			</div>
			<div class="row docs_list">
				<div class="item col-xs-12 col-md-5">
					<div class="title">
						<h4>Договоры</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Лицензионный договор, DOC, 95 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на оказание услуг по технической поддержке, DOC, 100 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на оказание услуг по разовому обновлению, DOC, 98 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на новую комплектацию, DOC, 92 Кб.</a></div>
						<div class="doc_link"><a href="#">Соглашение об обмене данными с Витриной, DOCX, 52 Кб.</a></div>
						<div class="doc_link"><a href="#">Соглашение об обмене данными с Bankro.TECH, DOCX, 24 Кб.</a></div>
					</div>
				</div>
				<div class="item col-xs-12 col-md-4">
					<div class="title">
						<h4>Оферты</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Публичная оферта</a></div>
						<div class="doc_link"><a href="#">Публичная оферта на техническую поддержку </a></div>
						<div class="doc_link"><a href="#">Публичная оферта на разовое обновление</a></div>
						<div class="doc_link"><a href="#">Публичная оферта на новую конфигурацию</a></div>
					</div>
				</div>
				<div class="item col-xs-12 col-md-3">
					<div class="title">
						<h4>Полезные ссылки</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Блок-схемы процедур</a></div>
						<div class="doc_link"><a href="#">Методические пособия</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
<!-- Отправить заявку модальное окно -->
<div class="modal modal_size_small" id="newRequest">
	<div class="modal_shadow" data-name="newRequest"></div>
	<div class="modal_dialog">
		<div class="modal_content">
			<div class="close" data-name="newRequest"></div>
			<div class="modal_header">
				<div class="title">
					<h3>Отправить заявку</h3>
				</div>
			</div>
			<div class="modal_body">
				<div class="form hidden">
					<div class="row">
						<div class="col-xs-12"><input type="text" placeholder="Ваше имя" name="name" id="name" class="form_input"></div>
					</div>
					<div class="row">
						<div class="col-xs-12"><input type="text" placeholder="Ваш телефон" name="name" id="name" class="form_input"></div>
					</div>
					<div class="row">
						<div class="col-xs-12"><input type="text" placeholder="Название вашей компании" name="name" id="name" class="form_input"></div>
					</div>
					<div class="row form_indent"></div>
					<div class="row">
						<div class="col-xs-12">
							<button class="btn btn-red-outline form_button">отправить заявку</button>
						</div>
					</div>
				</div>
				<div class="form">
					<div class="row">
						<div class="form_success"></div>
					</div>
					<div class="row">
						<div class="col-xs-12 center-xs">
							<a href="#" id="close" data-name="newRequest" class="link_btn">Закрыть</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Вебинары и обзоры модальное окно -->
<div class="modal modal_size_middle" id="newWebinary">
	<div class="modal_shadow" data-name="newWebinary"></div>
	<div class="modal_dialog">
		<div class="modal_content">
			<div class="close" data-name="newWebinary"></div>
			<div class="modal_header">
				<div class="title">
					<h3>Вебинары и обзоры</h3>
				</div>
			</div>
			<div class="modal_body">
				<div class="schedule">
					<div class="title_bold small_margin">
						<h4>Расписание вебинаров</h4>
					</div>
					<div class="schedule_list">
						<div class="item row">
							<div class="col-xs-12 col-md-3">
								<p>
									12.09.2018 г. 10:00 (Мск)
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p><span class="text_bold">Знакомство с программой «ПАУ», Наблюдение</span></p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Принять участие</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3">
								<p>
									12.09.2018 г. 10:00 (Мск)
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p><span class="text_bold">Знакомство с программой «ПАУ», Наблюдение</span></p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Принять участие</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3">
								<p>
									12.09.2018 г. 10:00 (Мск)
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p><span class="text_bold">Знакомство с программой «ПАУ», Наблюдение</span></p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Принять участие</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3">
								<p>
									12.09.2018 г. 10:00 (Мск)
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p><span class="text_bold">Знакомство с программой «ПАУ», Конкурсное производство</span></p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Принять участие</a>
							</div>
						</div>
						<div class="item row">
							<div class="col-xs-12 col-md-3">
								<p>
									12.09.2018 г. 10:00 (Мск)
								</p>
							</div>
							<div class="col-xs-12 col-md-6">
								<p><span class="text_bold">Знакомство с программой «ПАУ», Наблюдение</span></p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Принять участие</a>
							</div>
						</div>
					</div>
				</div>
				<div class="reviews">
					<div class="title_bold small_margin">
						<h4>Обзоры программы</h4>
					</div>
					<div class="reviews_list">
						<div class="row item">
							<div class="col-xs-12 col-md-9">
								<p>
									<span class="text_bold">
										Обзор «ПАУ», Конкурсное производство
									</span>
								</p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Смотреть запись</a>
							</div>
						</div>
						<div class="row item">
							<div class="col-xs-12 col-md-9">
								<p>
									<span class="text_bold">
										Обзор, Конкурсное производство
									</span>
								</p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Смотреть запись</a>
							</div>
						</div>
						<div class="row item">
							<div class="col-xs-12 col-md-9">
								<p>
									<span class="text_bold">
										Обзор
									</span>
								</p>
							</div>
							<div class="col-xs-12 col-md-3">
								<a href="#">Смотреть запись</a>
							</div>
						</div>
					</div>
				</div>
				<div class="text_center">
					<a href="#" id="close" data-name="newWebinary" class="link_btn">Закрыть</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Технические требования модальное окно -->
<div class="modal modal_size_big" id="newTech">
	<div class="modal_shadow" data-name="newTech"></div>
	<div class="modal_dialog">
		<div class="modal_content">
			<div class="close" data-name="newTech"></div>
			<div class="modal_header">
				<div class="title">
					<h3>Технические требования</h3>
				</div>
			</div>
			<div class="modal_body">
				<div class="text">
					<p>Программу Помощник арбитражного управляющего рекомендуется устанавливать на компьютер с ОС Windows версии 7 и выше.
					Минимальные аппаратные требования: процессор частотой 1000 мегагерц, 512 мегабайт ОЗУ, 180 мегабайт свободного места на жестком диске.
					</p>
					<p>Для просмотра и печати документов, генерируемых программой, необходим Microsoft Word. Поэтому на том же компьютере, что и программа,
					<span class="text_bold"> должен быть установлен пакет Microsoft Office 2007/2010/2013/2016, обязательно содержащий Access.</span></p>
					<p>Программа поддерживает облачные решения Microsoft Office 365, кроме пакета бизнес базовый, потому что в него не входит установка классических программ Office на компьютер.</p>
					<p>Для работы программы на компьютере <span class="text_bold">должен быть установлен браузер Internet Explorer версии не ниже 10.0.  Рекомендуемая версия — 11.0 и выше.</span></p>
				</div>
				<div class="attention">
					<div class="text">
						<p class="text_bold"><span class="color_red">Внимание!</span> В связи с прекращением поддержки ОС Windows XP корпорацией Майкрософт, мы не можем гарантировать стабильную работу новых версий программы на компьютере с ОС данной версии.</p>
						<p class="text_bold nopadding">MS Access1 не поддерживает работу и синхронизацию в облачных сервисах, 
						поэтому не гарантируем стабильную работу программы ПАУ через облачный сервис.</p>
					</div>
				</div>
				<div class="text">
					<p>Программа оптимизирована под разрешение экрана от 1280 x 720 до 1920 х 1080 при значении параметра «Изменение размера текста, приложение и других элементов» от 100% до 150%. На более высоких разрешениях необходимо установить значение параметра «Изменение размера текста, приложение и других элементов» 100%.</p>
					<p>При установке программы необходимо предварительно установить:</p>
					<ul>
						 <li>
						 	<p class="small_padding">
							 	<a href="http://support.microsoft.com/kb/829558/" target="_blank">Microsoft Jet Driver</a>.
						 	</p>
					        <p>На компьютере под управлением Windows Server 2003 для установки пакета обновления 8 (SP8) используйте файл 
					        	<a href="http://download.microsoft.com/download/0/5/1/0512d21a-6073-4804-9972-870d0f52454a/windowsserver2003-kb829558-x86-rus.exe">WindowsServer2003-KB829558-x86-RUS.exe</a>.
					        </p>
					        <p class="small_padding">На компьютере под управлением Windows ХР для установки пакета обновления 8 (SP8) используйте файл 
					        	<a href="http://download.microsoft.com/download/5/7/8/578da5fa-2914-426f-8a2befe632617d6c/ windowsxp-kb829558-x86-rus.exe">windowsxp-kb829558-x86-rus.exe</a>.
					        </p>
					    </li>
					    <li>
					    	<a href="http://www.microsoft.com/downloads/ru-ru/details.aspx?FamilyID=78cac895-efc2-4f8e-a9e0-3a1afbd5922e" target="_blank">Microsoft Data Access Components (MDAC) 2.8</a>.
					    </li>
					    <li>
					    	<a href="http://www.microsoft.com/downloads/details.aspx?familyid=d0e5dea7-ac26-4ad7-b68c-fe5076bba986&amp;displaylang=ru" target="_blank">Microsoft .NET Framework Version 3.5 SP1</a>.
					    </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Скриншоты модальное окно -->
	<div class="modal newMedia" id="newScreen">
		<div class="modal_shadow" data-name="newScreen">
		</div>
		<div class="close" data-name="newScreen">
		</div>
		<div class="arrows">
			<div class="arrow_left" data-name="newScreen">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
			<div class="arrow_right" data-name="newScreen">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
		</div>
		<div class="modal_dialog">
			<div class="title"><h3>Скриншоты</h3></div>
			<div class="modal_content no-padding">
				<div class="modal_header">
				</div>
				<div class="modal_body photo">
				</div>
			</div>
		</div>
	</div>
	<div class="modal newMedia" id="newVideo">
		<div class="modal_shadow" data-name="newVideo">
		</div>
		<div class="close" data-name="newVideo">
		</div>
		<div class="arrows">
			<div class="arrow_left" data-name="newVideo">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
			<div class="arrow_right" data-name="newVideo">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
		</div>
		<div class="modal_dialog">
			<div class="title"><h3>Обзор сервиса</h3></div>
			<div class="modal_content no-padding">
				<div class="modal_header">
				</div>
				<div class="modal_body video">
				</div>
			</div>
		</div>
	</div>
</div>