<div id="product">
	<section class="header_product">
		<div class="container">
			<div class="menu">
					<div class="logo">
						<a href="/"><img src="holder.js/100px100p" class="holder_image"></a>
					</div>
				<nav class="menu_product">
					<ul>
						<li><a href="#" class="link">Возможности</a></li>
						<li><a href="#" class="link">Цены</a></li>
						<li><a href="#" class="link">Обзор</a></li>
						<li><a href="#" class="link">Отзывы</a></li>
						<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
						<li><a href="/buy" class="btn btn-blue">Купить</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<section class="product_info">
		<div class="container">
			<div class="product_out">
				<div class="product_out_photo">
					<img src="holder.js/100px100p" class="holder_image">
				</div>
			</div>
			<div class="inner">
				<div class="title">
					<h2>
						Помошник арбитражного управляющего
					</h2>
				</div>
				<div class="inner_text">
					<div class="product_info_textout"></div>
					<article class="product_info_text">
						<p>
							Комплексно-правовая система "Помошник арбитражного управляющего" - 
							автоматизация полного цикла работ по сопровождению процедур банкротства -
							от получения определения до отчета в саморегулируемую организацию.
						</p>
						<p>
							Система предназначена для арбитражных управляющих и компаний,
							осуществляющих сопровождение процедур банкротства.
						</p>
					</article>
					
				</div>
				<div class="product_info_box">
					<div class="product_info_price">
						<p>Полная версия</p>
						<div class="big_text">от 
							<h3>9890</h3> Р
						</div>
						<a href="#" class="link">Все цены</a>
					</div>
					<div class="product_info_demo">
						<p>Демо-версия</p>
						<h3>
							Бесплатно 45 дней
						</h3>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<section class="capability bg-gray">
		<div class="container">
			<div class="title">
				<h2>Возможности</h2>
			</div>
			<div class="items_inner sinner" data-view="3">
				<div class="items swrapper">
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Оптимизирует работу АУ</h4>
							<p>
								Структурирует информацию, контролирует рабочие процессы,
								позволяет легко находить все необходимые данные.
							</p>
						</div>
					</div>
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Сокращает время рабочего процесса</h4>
							<p>
								Значительно экономит время за счет максимальной автоматизации всех процессов,
								необходимых при проведении процедуры банкротства.
							</p>
						</div>
					</div>
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Содержит нормативную базу
							 по процедурам банкротства</h4>
							<p>
								В программе содержится пополняемая и обновляемая
								нормативно-правовая база РФ. Система не требуетдополнительного использования
								других информационно-правовых систем.
							</p>
						</div>
					</div>
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Сокращает время рабочего процесса</h4>
							<p>
								Значительно экономит время за счет максимальной автоматизации всех процессов,
								необходимых при проведении процедуры банкротства.
							</p>
						</div>
					</div>
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Сокращает время рабочего процесса</h4>
							<p>
								Значительно экономит время за счет максимальной автоматизации всех процессов,
								необходимых при проведении процедуры банкротства.
							</p>
						</div>
					</div>
					<div class="item slide">
						<img src="holder.js/150x150" class="holder_image">
						<div class="item_about">
							<h4>Сокращает время рабочего процесса</h4>
							<p>
								Значительно экономит время за счет максимальной автоматизации всех процессов,
								необходимых при проведении процедуры банкротства.
							</p>
						</div>
					</div>
				</div>
				
				<div class="arrows">
						<div class="sel"></div>
						<div class="sel active"></div>
						<div class="sel"></div>
						<div class="sel"></div>
					</div>
			</div>
			
		</div>
	</section>
	<section class="prices">
		<div class="container">
			<div class="title">
				<h2>Цены</h2>
			</div>
			<div class="items items_price">
				<div class="item">
					<div class="item_about">
						<h4>Лайт</h4>
						<div class="small_text">1 рабочее место</div>
						<p>
							<ul class="list">
								<li>Ведение процедур банкротства</li>
								<li class="noactive">Создание своих шаблонов, документов, мероприятий и процедур</li>
								<li class="noactive">Финансовое планирование бюджета</li>
								<li class="noactive">Нормативно правовая база по банкротству</li>
							</ul>
						</p>
						<h3>
							19 890 Р
						</h3>
					</div>
				</div>
				<div class="item">
					<div class="item_about">
						<h4>Профессионал</h4>
						<div class="small_text">3 рабочих мест</div>
						<p>
							<ul class="list">
								<li>Ведение процедур банкротства</li>
								<li>Создание своих шаблонов, документов, мероприятий и процедур</li>
								<li>Финансовое планирование бюджета</li>
								<li>Нормативно правовая база по банкротству</li>
							</ul>
						</p>
						<h3>
							28 890 Р
						</h3>
					</div>
				</div>
				<div class="item">
					<div class="item_about">
						<h4>Управляющая компания</h4>
						<div class="small_text">Рабочие места не ограничены</div>
						<p>
							<ul class="list">
								<li>Ведение процедур банкротства</li>
								<li>Создание своих шаблонов, документов, мероприятий и процедур</li>
								<li>Финансовое планирование бюджета</li>
								<li>Нормативно правовая база по банкротству</li>
							</ul>
						</p>
							<h3>
								108 890 Р
							</h3>

					</div>
				</div>
			</div>
			<a href="#" class="btn btn-blue all_prices">Все цены</a>
		</div>
	</section>
	<section class="view_service">
		<div class="container">
			<div class="title">
				<h3>Обзор сервиса</h3>
			</div>
			<div class="items items_service">
				<div class="item">
					<div class="item_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
				</div>
				<div class="item">
					
					<div class="item_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
				</div>
				<div class="item">
					
					<div class="item_photo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="related">
		<div class="container">
			<div class="title">
				<h3>
					Вместе с СРО "Автоматизация" обычно смотрят
				</h3>
			</div>
			<div class="cards">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Hudway</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>CPO Эксперт</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
			</div>

		</div>
	</section>
	<section class="reviews">
		<div class="container">
			<div class="title">
				<h3>
					Более 130 крупных компаний выбрали<br/>СРО "Автоматизацию"
				</h3>
			</div>
			<div class="reviews_inner sinner" data-view="1">
				<ul class="reviews_wrapper swrapper">
					<li class="review slide">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<p>
										<b>Иван Клабуков</b><br/>
										<span class="company_name">Russian IT</span>
									</p>
								</div>
							</div>
							<div class="row review_text">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					<li class="review slide">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<p>
										<b>Иван Клабуков</b><br/>
										<span class="company_name">Russian IT</span>
									</p>
								</div>
							</div>
							<div class="row review_text">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					
				</ul>
				<div class="arrows">
					<div class="sel"></div>
					<div class="sel active"></div>
					<div class="sel"></div>
					<div class="sel"></div>
				</div>
			</div>
		</div>
	</section>


	<section class="promo_product bg-gray">
		<div class="l_container">
			<div class="menu">
				<div class="title">
					<h3>Просто попробуйте</h3>
				</div>
				<nav class="menu_product">
					<ul>
						<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
						<li><a href="/buy" class="btn btn-blue">Купить</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>

</div>