<div id="products">
	
	<section class="products">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Продукты</span>
			</div>
			<h2 class="title">Продукты</h2>
			<div class="items">
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Помошник арбитражного управляющего</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Hudway</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">CPO Эксперт</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">F-анализ</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Печать конвертов</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Управление проектами ПАУ</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Оценка ДТП</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="" class="item_link">Batch Access</a>
							<div class="item_info"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>