<div id="products">
	
	<section class="products">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Продукты</span>
			</div>
			<div class="title">
				<h2>Продукты</h2>
			</div>
			<div class="cards">
				<div class="card c_a">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card c_2_3">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card c_1_3">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card card c_1_3">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
				<div class="card card c_2_3">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>