<div id="product">
	<div class="header header_product h-top">
			<div class="container">
				<div class="menu row between-xs middle-xs">
					<div class="logo_area col-xs-12 col-md center-xs start-md">
						<a href="/">
							<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
								<!-- <img src="images/logo.png" class="holder_image"> -->
							</div>
						</a>
					</div>
					<a href="#" class="menu_mobile"><span class="icon_line"></span><span class="icon_line"></span><span class="icon_line"></span></a>
					<nav class="menu_topr col-xs-12 col-md-6 center-xs">
						<div class="hidden-bm close"></div>
						<ul class="row center-xs">
							<li><a href="#capability" class="link">Возможности</a></li>
							<li><a href="#prices" class="link">Цены</a></li>
							<li><a href="#news" class="link">Новости</a></li>
							<li><a href="#video" class="link">Видео</a></li>
							<li><a href="#reviews" class="link">Отзывы</a></li>
							<!-- <li><a href="/pau.download.php?link=/upload/files/pau.exe" target="_blank" class="btn btn-outline">Демо-версия</a></li> -->
						</ul>
					</nav>
					<div class="head_btn_buy col-xs-12 center-xs col-md end-md">
						<a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-outline">Купить</a>
					</div>
				</div>
			</div>
		</div>
	<section class="product_info">
		<div class="container">
			<div class="product row">
				<div class="product_photo col-xs-12 col-md-6">
					<div class="product_photo_out">
						<img src="/upload/images/item/prod1-big.jpg" class="holder_image">
					</div>
				</div>
				<div class="product_about col-xs-12 col-md-6">
					<div class="title">
						<h2>Помошник арбитражного управляющего</h2>
					</div>
					<div class="text">
						<p>
							Программа «Помощник арбитражного управляющего» 
							предназначена для арбитражных и финансовых управляющих, 
							их помощников и компаний, осуществляющих сопровождение
							 процедур банкротства.
						</p>
						<button class="btn btn-outline">Купить</button>
					</div>
				</div>
			</div>
			<div class="product_info_box row middle-xs">
				<div class="product_info_price col-xs-12 col-md-6">
					<p>Полная версия</p>
					<div class="title_item">
						<h2>от 9 890 Р</h2>
					</div>
					<a href="#prices" class="link">Все цены</a>
				</div>
				<div class="product_info_demo col-xs-12 col-md-6">
						<p>Демо-версия</p>
						<div class="title_item">
							<h2>
								Бесплатно 45 дней
							</h2>
						</div>
						<a href="#prices" class="link">Скачать демо-версию в Центре загрузок</a>
						
				</div>
			</div>
			<div class="product_program_info text_center" style="display: none">
				<div class="product_program_text text">
					<p>
						Последняя версия 3.9.8<br/>
						Выпущена 25 июня 2018
					</p>
				</div>
				<div class="product_program_buttons">
					<a href="http://www.rsit.ru/load/ama/" target="_blank" class="btn btn-blue">Скачать</a>
					<a href="http://www.rsit.ru/products/ama/whatsnew.php" class="btn btn-outline">Что нового</a>
				</div>
				<div class="product_program_requirements"><a href="#" class="link" onclick="openTechReq()">Технические требования</a></div>
			</div>
			
		</div>
	</section>
	<section class="block_content capability bg-gwhite" id="capability">
		<div class="container">
			<div class="title">
				<h3>Возможности</h3>
			</div>
			<div class="features">
				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Готовит документы</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Планирует</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Структурирует</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Готовит документы</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Планирует</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Структурирует</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Готовит документы</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
					<div class="item col-xs-12 col-sm-4 col-md-4">
						<div class="item_icon">
							<object type="image/svg+xml" data="/upload/images/icon/ft-icon-1.svg">
							   Your browser does not support SVG
							</object>
						</div>
						<div class="title_block_bold">
							<h4>Планирует</h4>
						</div>
						<div class="item_about">
							<p>В программе более 600 документов, и они постоянно обновляются и пополняются. Можно добавить собственные шаблоны.</p>
						</div>
					</div>
				</div>

			</div>
			
		</div>
	</section>
	<section class="block_content prices" id="prices">
		<div class="container">
			<div class="title">
				<h3>Цены</h3>
			</div>
			<div class="row price_list">
				<div class="item col-xs-12 col-md-4">
					<div class="item-feature">
						<div class="item-header">
							<div class="title_block">
								<h3>Лайт</h3>
							</div>
							<div class="title_block">
								<h2>19 890 Р</h2>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row"><div class="col-xs">Подготовка документов по имеющимся шаблонам</div></div></li>
								<li><div class="row"><div class="col-xs">Реестр требований кредиторов, текущих платежей</div></div></li>
								<li><div class="row"><div class="col-xs">Делопроизводство</div></div></li>
								<li><div class="row"><div class="col-xs">Собрание кредиторов</div></div></li>
								<li><div class="row"><div class="col-xs">Финансовый анализ</div></div></li>
								<li><div class="row"><div class="col-xs">Работа с имуществом должника</div></div></li>
								<li><div class="row"><div class="col-xs">Учет доходов и расходов в ходе процедуры</div></div></li>
								<li><div class="row"><div class="col-xs">Онлайн-поиск контрагентов</div></div></li>
								<li><div class="row"><div class="col-xs">Публикация сообщений на сайтах ЕФРСБ и Арбитр</div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Импорт данных из MS Excel, 1C</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Экспорт и импорт процедур</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Собственные шаблоны документов и мероприятий</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Планирование бюджета</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Нормативно-правовая база по банкротству</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Разграничение права доступа у разных пользователей</div></div></li>
							</ul>
							<div class="text_center button_buy">
								<a href="" class="btn btn-red">Купить</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="item col-xs-12 col-md-4">
					<div class="item-feature">
						<div class="item-header">
							<div class="title_block">
								<h3>Профессионал</h3>
							</div>
							<div class="title_block">
								<h2>28 890 Р</h2>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row"><div class="col-xs">Подготовка документов по имеющимся шаблонам</div></div></li>
								<li><div class="row"><div class="col-xs">Реестр требований кредиторов, текущих платежей</div></div></li>
								<li><div class="row"><div class="col-xs">Делопроизводство</div></div></li>
								<li><div class="row"><div class="col-xs">Собрание кредиторов</div></div></li>
								<li><div class="row"><div class="col-xs">Финансовый анализ</div></div></li>
								<li><div class="row"><div class="col-xs">Работа с имуществом должника</div></div></li>
								<li><div class="row"><div class="col-xs">Учет доходов и расходов в ходе процедуры</div></div></li>
								<li><div class="row"><div class="col-xs">Онлайн-поиск контрагентов</div></div></li>
								<li><div class="row"><div class="col-xs">Публикация сообщений на сайтах ЕФРСБ и Арбитр</div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Импорт данных из MS Excel, 1C</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Экспорт и импорт процедур</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Собственные шаблоны документов и мероприятий</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Планирование бюджета</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Нормативно-правовая база по банкротству</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Разграничение права доступа у разных пользователей</div></div></li>
							</ul>
							<div class="text_center button_buy">
								<a href="" class="btn btn-red">Купить</a>
							</div>
						</div>
						
					</div>
				</div>
				<div class="item col-xs-12 col-md-4">
					<div class="item-feature">
						<div class="item-header row">
							<div class="title_block">
								<h3>Управляющая компания</h3>
							</div>
							<div class="title_block">
								<h2>130 890 Р</h2>
							</div>
						</div>
						<div class="item-body">
							<ul>
								<li><div class="row">
									<div class="col-xs start-xs">Количество управляющих</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row">
									<div class="col-xs start-xs">Количество рабочих мест</div>
									<div class="col-xs-3 end-xs">1</div>
								</div></li>
								<li><div class="row"><div class="col-xs">Подготовка документов по имеющимся шаблонам</div></div></li>
								<li><div class="row"><div class="col-xs">Реестр требований кредиторов, текущих платежей</div></div></li>
								<li><div class="row"><div class="col-xs">Делопроизводство</div></div></li>
								<li><div class="row"><div class="col-xs">Собрание кредиторов</div></div></li>
								<li><div class="row"><div class="col-xs">Финансовый анализ</div></div></li>
								<li><div class="row"><div class="col-xs">Работа с имуществом должника</div></div></li>
								<li><div class="row"><div class="col-xs">Учет доходов и расходов в ходе процедуры</div></div></li>
								<li><div class="row"><div class="col-xs">Онлайн-поиск контрагентов</div></div></li>
								<li><div class="row"><div class="col-xs">Публикация сообщений на сайтах ЕФРСБ и Арбитр</div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Импорт данных из MS Excel, 1C</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Экспорт и импорт процедур</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Собственные шаблоны документов и мероприятий</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Планирование бюджета</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Нормативно-правовая база по банкротству</div></div></li>
								<li class="noactive"><div class="row"><div class="col-xs">Разграничение права доступа у разных пользователей</div></div></li>
							</ul>
							<div class="text_center price_link_more">
								<a href="#" class="link_tdu">ПОДРОБНЕЕ об этой редакции</a>
							</div>
							<div class="text_center button_buy">
								<a href="#" class="btn btn-red">Купить</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="text_center">
				<a href="#" class="btn btn-outline all_prices">Все тарифы и цены</a>
			</div>
		</div>
	</section>
	<section class="block_content callme" id="callme">
		<div class="container">
			<div class="row callme_list middle-xs">
				<div class="col-md-4 item col-xs-12 center-xs start-md">
					<div class="title">
						<h3><a href="#" class="link_tdu">Остались вопросы?</a></h3>
					</div>
				</div>
				<div class="col-md-4 item col-xs-12">
					<div class="callme_action">
						<p>
							Отправьте заявку и наши специалисты свяжутся
с вами в самое ближайшее время и ответят на все интересующие вас вопросы.
						</p>
					</div>
				</div>
				<div class="col-md-4 item col-xs-12 center-xs end-md">
					<a href="#" class="btn btn-outline-blue">Отправить заявку</a>
				</div>
			</div>
		</div>
	</section>

	<section class="block_content news" id="news">
		<div class="container">
			<div class="title">
				<h3>Новости</h3>
			</div>
			<div class="news_list">
				<div class="item row">
					<div class="col-xs-12 col-md-4 center-xs end-md date"><p>25 сентября 2018</p></div>
					<div class="col-xs-12 col-md-8 title center-xs start-md">
						<a href="" class="link">Вышла версия 3.9.8 программы «Помощник арбитражного управляющего»
</a>
					</div>
				</div>
				<div class="item row">
					<div class="col-xs-12 col-md-4 center-xs end-md date"><p>25 июня 2018</p></div>
					<div class="col-xs-12 col-md-8 title center-xs start-md">
						<a href="" class="link">Вышла версия 1.3 программы «F-Анализ»</a>
					</div>
				</div>
				<div class="item row">
					<div class="col-xs-12 col-md-4 center-xs end-md date"><p>13 марта 2018</p></div>
					<div class="col-xs-12 col-md-8 title center-xs start-md">
						<a href="" class="link">Онлайн оплата без комиссии</a>
					</div>
				</div>
				<div class="item row">
					<div class="col-xs-12 col-md-4 center-xs end-md date"><p>25 сентября 2018</p></div>
					<div class="col-xs-12 col-md-8 title center-xs start-md">
						<a href="" class="link">Внимание! Не работают телефоны. ААААА!</a>
					</div>
				</div>
				<div class="item row">
					<div class="col-xs-12 col-md-4 center-xs end-md date"><p>25 сентября 2018</p></div>
					<div class="col-xs-12 col-md-8 title center-xs start-md">
						<a href="" class="link">Мир, труд, май и День Победы. Режим работы в праздничные дни.</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="block_content reviews" id="reviews">
		<div class="container">
			<div class="title">
				<h3>
					Более 130 крупных компаний выбрали<br/>СРО "Автоматизацию"
				</h3>
			</div>
			<div class="rslider reviews_inner sinner" data-view="1">
				<ul class="items reviews_wrapper swrapper owl-carousel">
					<li class="review slide">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<div class="title_item">
										<h4>Иван Клабуков</h4>
									</div>
									<p>
										<span class="company_name">Russian IT</span>
									</p>
								</div>
							</div>
							<div class="row review_text">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					<li class="review slide">
						<div class="s_container">
							<div class="row review_about">
								<div class="avatar">
									<div class="review_photo"></div>
								</div>
								<div class="col-md-8 review_info">
									<div class="title_item">
										<h4>Иван Клабуков</h4>
									</div>
									<p>
										<span class="company_name">Russian IT</span>
									</p>
								</div>
							</div>
							<div class="row review_text">
								<p>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!<br/>
									Автоматизация разговаривает с тобой на твоем языке: без сложной терминологии.
									Все просто и доступно. Плюс удобный интерфейс сайта и нереально
									крутой подход к работе. Её невозможно не любить!
								</p>
							</div>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</section>


	<section class="block_content promo_product bg-gray">
		<div class="container">
			<div class="l_container">
				<div class="menu">
					<div class="title">
						<h3>Просто попробуйте</h3>
					</div>
					<nav class="menu_product">
						<ul>
							<li><a href="#" class="btn btn-outline">Демо-версия</a></li>
							<li><a href="/buy" class="btn btn-blue">Купить</a></li>
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
	</section>

</div>
<div class="modal" id="newVideo">
		<div class="modal_shadow" data-name="newVideo">
		</div>
		<div class="close" data-name="newVideo">
		</div>
		<div class="arrows">
			<div class="arrow_left" data-name="newVideo">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
			<div class="arrow_right" data-name="newVideo">
				<div class="arrow_info">
					<span class="arrow"></span>
					<span class="counter">1/8</span>		
				</div>
			</div>
		</div>
		<div class="modal_dialog">
			<div class="title"><h3>Обзор сервиса</h3></div>
			<div class="modal_content no-padding">
				<div class="modal_header">
				</div>
				<div class="modal_body video">
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.content_top {
display:none
}
</style>