<div id="service">
	<section class="block_content service">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/services">Услуги</a> 
				/
				<a href="/cservice">Веб-разработка</a> 
				/
				<span>Frily.se - шведский купонный сервис</span>
			</div>
			<div class="cards promo show_text">
				<div class="card w_a">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<div class="title_item">
							<h3>Frily.se</h3>
						</div>
						<p class="card_text">
							шведский купонный сервис с возможностью маркетингового исследования по представленным на нем товарам
						</p>
					</div>
					<div class="card_tags">
						<a href="#" class="tag">html5</a>
						<a href="#" class="tag">jquery</a>
					</div>
				</div>
			</div>
			<div class="s_container brief text">
					<h4>Задача:</h4>
				<p>
					Создать удобный для потребителя купонный сервис и прозрачный инструмент для маркетинговых исследований для клиента.
				</p>
					<h4>Решение:</h4>
				<p>
					Сделали удобный сайт, разделенный на 2 части. Лицевая - для потребителей и внутренняя для клиента.
					На лицевой части все максимально упрощено, чтобы человек мог получить интересующую его услугу.
					И еще пара абзацев интересно написанного текста, который расскажет о работе сервиса.
				</p>
			</div>
		</div>
	</section>
	<section class="about_client bg-gray">
		<div class="container">
			<div class="s_container">
				<div class="items">
					<div class="logo">
						<img src="holder.js/100px100p" class="holder_image">
					</div>
					<div class="info">
						<p>
							Несколько слов о клиенте, чтобы читающий о проекте человек понимал не только задачу, но и узнал чем занимается компания клиента, какой у нее опыт, положение на рынке и так далее.
							
						</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<section class="textb text block_content">
		<div class="container">
			<div class="s_container">
				<img src="holder.js/100px500" class="holder_image">
				<div class="title">
					<h1>Заголовок 1</h1>
				</div>
				<div class="title">
					<h2>Заголовок 2</h2>
				</div>
				<div class="title">
					<h3>Заголовок 3</h3>
				</div>
				<div class="title">
					<h4>Заголовок 4</h4>
				</div>
				<div class="title">
					<h5>Заголовок 5</h5>
				</div>
				<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
				<img src="holder.js/100px580" class="holder_image">
				<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
				<img src="holder.js/100px500" class="holder_image">
			</div>
			
		</div>
		<div class="container">
			<div class="arrows">
				<a href="#" class="link left">< Предыдущая работа</a>
				<a href="#" class="link right">Следующая работа ></a>
			</div>
		</div>
	</section>
	<section class="block_content similar">
		<div class="container">
			<div class="title">
				<h3>Смотрите также</h3>
			</div>
			<div class="cards product-cards ct_3 cts_1">
				<div class="card slide" data-color="#E96060" data-tcolor="#fff">
					<img src="images/item/prod1.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
						<p class="card_text">
							Система автоматизированного анализа финансового состояния предприятия
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card slide" data-color="#4690CD" data-tcolor="#fff">
					<img src="images/item/prod2.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Hudway</a></h5>
						<p class="card_text">
							Линейка продуктов для безопасного вождения в любых условиях.
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>
				<div class="card slide" data-color="#8BB593" data-tcolor="#fff">
					<img src="images/item/prod3.png" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>F-анализ</a></h5>
						<p class="card_text">
							Крупная система анализа финансового состояния предприятия.
						</p>
					</div>
					<a href="/product" class="card_link"><span></span></a>
				</div>

				
			</div>
		</div>
	</section>
</div>