<div id="service">
	<section class="service">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/services">Услуги</a> 
				/
				<a href="/cservice">Веб-разработка</a> 
				/
				<span>Frily.se - шведский купонный сервис</span>
			</div>
			<div class="promo">
				<div class="photo">
					<div class="items">
						<div class="about">
							<div class="title">Frily.se</div>
							<div class="info">
								<p>
									шведский купонный сервис с возможностью маркетингового исследования по представленным на нем товарам
								</p>
							</div>
						</div>
						<div class="tags">
							<a href="#" class="tag">html5</a>
							<a href="#" class="tag">jquery</a>
						</div>
					</div>
				</div>
			</div>
			<div class="m_container brief">
				<h4 class="title">Задача:</h4>
				<p>
					Создать удобный для потребителя купонный сервис и прозрачный инструмент для маркетинговых исследований для клиента.
				</p>
				<h4 class="title">Решение:</h4>
				<p>
					Сделали удобный сайт, разделенный на 2 части. Лицевая - для потребителей и внутренняя для клиента.
					На лицевой части все максимально упрощено, чтобы человек мог получить интересующую его услугу.
					И еще пара абзацев интересно написанного текста, который расскажет о работе сервиса.
				</p>
			</div>
		</div>
	</section>
	<section class="about_client bg-gray">
		<div class="m_container">
			<div class="items">
				<div class="logo"></div>
				<div class="info">
					<p>
						Несколько слов о клиенте, чтобы читающий о проекте человек понимал не только задачу, но и узнал чем занимается компания клиента, какой у нее опыт, положение на рынке и так далее.
						
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="text">
		<div class="m_container">
			<img src="" alt="">
			<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
			<img src="" alt="">
			<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
			<img src="" alt="">
		</div>
		<div class="container">
			<div class="arrows">
				<a href="#" class="left">< Предыдущая работа</a>
				<a href="#" class="right">Следующая работа ></a>
			</div>
		</div>
	</section>
	<section class="similar">
		<div class="container">
			<h3 class="title">Смотрите также</h3>
			<div class="items prods">
				<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">АУ-Инфо</a>
								<div class="item_info">
									<p>
										Онлайн-база арбитражных управляющих России с расширенной информацией и саморегулируемых организаций арбитражных управляющих
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">Управление проектами ПАУ</a>
								<div class="item_info">
									<p>
										Ведение проектного управления в юридических компаниях и для арбитражных управляющих
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="item_photo">
							<div class="item_about">
								<a href="" class="item_link">Новостройки Ижевска</a>
								<div class="item_info">
									<p>
										База новостроек на карте Ижевска, удобная система поиска и каталог застройщиков
									</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>
</div>