<div id="service">
	<section class="service">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<a href="/services">Услуги</a> 
				/
				<a href="/cservice">Веб-разработка</a> 
				/
				<span>Frily.se - шведский купонный сервис</span>
			</div>
			<div class="cards promo show_text">
				<div class="card w_a">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h2 class="card_title">Frily.se</h2>
						<p class="card_text">
							шведский купонный сервис с возможностью маркетингового исследования по представленным на нем товарам
						</p>
					</div>
					<div class="card_tags">
						<a href="#" class="tag">html5</a>
						<a href="#" class="tag">jquery</a>
					</div>
				</div>
			</div>
			<div class="s_container brief">
				<div class="title">
					<h4>Задача:</h4>
				</div>
				<p>
					Создать удобный для потребителя купонный сервис и прозрачный инструмент для маркетинговых исследований для клиента.
				</p>
				<div class="title">
					<h4>Решение:</h4>
				</div>
				<p>
					Сделали удобный сайт, разделенный на 2 части. Лицевая - для потребителей и внутренняя для клиента.
					На лицевой части все максимально упрощено, чтобы человек мог получить интересующую его услугу.
					И еще пара абзацев интересно написанного текста, который расскажет о работе сервиса.
				</p>
			</div>
		</div>
	</section>
	<section class="about_client bg-gray">
		<div class="s_container">
			<div class="items">
				<div class="logo">
					<img src="holder.js/100px100p" class="holder_image">
				</div>
				<div class="info">
					<p>
						Несколько слов о клиенте, чтобы читающий о проекте человек понимал не только задачу, но и узнал чем занимается компания клиента, какой у нее опыт, положение на рынке и так далее.
						
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="text">
		<div class="s_container">
			<img src="holder.js/100px500" class="holder_image">
			<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
			<img src="holder.js/100px580" class="holder_image">
			<p>Абцаз текста об интересных решениях внедренных в этом проекте.</p>
			<img src="holder.js/100px500" class="holder_image">
		</div>
		<div class="container">
			<div class="arrows">
				<a href="#" class="link left">< Предыдущая работа</a>
				<a href="#" class="link right">Следующая работа ></a>
			</div>
		</div>
	</section>
	<section class="similar">
		<div class="container">
			<div class="title">
				<h3>Смотрите также</h3>
			</div>
			<div class="cards show_text">
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>АУ-Инфо</a></h5>
						<p class="card_text">
							Онлайн-база арбитражных управляющих России с расширенной информацией и саморегулируемых
							организаций арбитражных управляющих
						</p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Управление проектами ПАУ</a></h5>
						<p class="card_text">
							Ведение проектного управления в юридических компаниях и для арбитражных управляющих
						</p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<img src="holder.js/100px100p" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Новостройки Ижевска</a></h5>
						<p class="card_text">
							База новостроек на карте Ижевска, удобная система поиска и каталог застройщиков

						</p>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>

			</div>
		</div>
	</section>
</div>