<div id="services">
	
	<section class="services">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Услуги</span>
			</div>
			<h2 class="title">Услуги</h2>
			<div class="items prods">
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="/service" class="item_link">Разработка ПО</a>
							<div class="item_info">
								<p>
									- VBA<br/>
									- C#<br/>
									- .NET
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="/cservice" class="item_link">Веб-разработка</a>
							<div class="item_info">
								<p>
									- UX и UI дизайн<br/>
									- HTML, CSS - верстка<br/>
									- PHP - разработка<br/>
									- CEO-оптимизация
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="item_photo">
						<div class="item_about">
							<a href="#" class="item_link">Мобильные приложения</a>
							<div class="item_info">
								<p>
									- iOs<br/>
									- Android<br/>
									- Windows Phone
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /item -->
			</div>
		</div>
	</section>
</div>