<div id="support">
	<section class="support">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Главная</a> 
				/
				<span>Поддержка</span>
			</div>
			<div class="title">
				<h2>Поддержка</h2>
			</div>
			<div class="about s_container">
				<p>
					У вас есть вопрос, идея или у вас не работает программа - воспользуйтесь нашей службой 
					или спросите у наших специалистов или коллег на нашем форуме.
				</p>
			</div>
			<div class="cards ct_2 cts_1">
				<div class="card">
					<div class="card_body_c">
						<h3 class="card_title"><a>Служба поддержки</a></h3>
					</div>
					<a href="/s_support" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<div class="card_body_c">
						<h3 class="card_title"><a>Форум</a></h3>
					</div>
					<a href="/service" class="card_link"><span></span></a>
				</div>
				<div class="card">
					<div class="card_body_c">
						<h4 class="card_text">Звоните</h4>
						<h3 class="card_title">+7 (3412) 43-03-37</h3>
						<p class="card_text">Пн.-Пт. с 8 до 17</p>
					</div>
				</div>
				<div class="card">
					<div class="card_body_c">
						<h4 class="card_text">Пишите</h4>
						<h3 class="card_title"><a>support@russianit.ru</a></h3>
					</div>
					<a href="mailto:support@russianit.ru" class="card_link"><span></span></a>
				</div>
			</div>
		</div>
	</section>
	<section class="techsup">
		<div class="container">
			<div class="title">
				<h3>Техподдержка продуктов</h3>
			</div>
			<div class="cards product-cards">
				<div class="card w_1_2 ws_a">
					<img src="holder.js/80x80" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Помошник арбитражного управляющего</a></h5>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card w_1_2 ws_a mr-0">
					<img src="holder.js/80x80" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>F-анализ</a></h5>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card w_1_2 ws_a">
					<img src="holder.js/80x80" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Печать конвертов</a></h5>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>
				<div class="card w_1_2 ws_a mr-0">
					<img src="holder.js/80x80" class="holder_image card_photo">
					<div class="card_body">
						<h5 class="card_title"><a>Печать конвертов</a></h5>
					</div>
					<a href="/cservice" class="card_link"><span></span></a>
				</div>

			</div>
			
		</div>
	</section>
</div>