<div id="uprcompany">
    <section class="redaction block_content">
        <div class="container">
            <div class="row redaction_list">
                <div class="item col-xs-12 col-md-6">
                    <div class="item_video">
                        <iframe width="100%" height="350" src="https://www.youtube.com/embed/aBckWjXRzjg?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="item col-xs-12 col-md-6">
                    <div class="item_content">
                        <div class="title_bold">
                            <h2>Редакция «Управляющая компания»</h2>
                        </div>
                        <div class="item_info">
                            <p>«Помощник арбитражного управляющего» в редакции Управляющая компания обладает самим обширным функционалом. Основное преимущество данной редакции — регистрация не привязывается к параметрам управляющего. Это даёт <span class="text_bold">возможность добавить в программу не ограниченное Создание новой процедуры.</span></p>
                        </div>
                        <a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-red-outline">Купить за 101 890 Р</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="more block_content bg-gwhite">
        <div class="container">
            <div class="s_container">
                <div class="more_about">
                    <div class="title">
                        <h3>Подробнее о редакции</h3>
                    </div>
                    <div class="text">
                        <p>
                            Особенно ощутимы плюсы редакции Управляющая компания для пользователей, работающих в программе командой. Для удобства каждому пользователю можно назначить роль, определяющую его возможности в программе. По умолчанию доступ в программу осуществляется с неограниченными правами Суперпользователя. Только Суперпользователь может добавлять новых пользователей, определяя их права на создание и изменение записей в программе, это могут быть Руководитель, Сотрудник и Гость.
                        </p>
                    </div>
                    <div class="text text_center">
                        <a class="link_btn" data-fancybox href="https://www.youtube.com/embed/Xv4XjDKNN6s">Как настроить права пользователей</a>
                    </div>
                </div>
            </div>
            <div class="more_feature">
                <div class="title">
                    <h4>Возможности Руководителя, Сотрудника и Гостя</h4>
                </div>
                <div class="row price_list">
                    <div class="row price_item price_names col-xs-12 col-md-5 start-md hidden-m">
                        <div class="price_item_body">
                            <div class="price_item_info">Создание новой процедуры</div>
                            <div class="price_item_info">Изменение и добавление новых данных
                                <br/> в свойствах процедуры</div>
                            <div class="price_item_info">Изменение и добавление данных в свойствах
                                <br/> должника</div>
                            <div class="price_item_info">Перевод процедуры (например, из Наблюдения
                                <br/> в Конкурсное производство)</div>
                            <div class="price_item_info">Удаление процедуры</div>
                            <div class="price_item_info">Формирование документов</div>
                            <div class="price_item_info">Создание текущих требований, требований
                                <br/> кредиторов и погашений</div>
                            <div class="price_item_info">Изменение имеющихся записей, созданных
                                <br/> другим пользователем</div>
                            <div class="price_item_info">Работа с конкурсной массой</div>
                            <div class="price_item_info">Финансовый анализ</div>
                            <div class="price_item_info">Добавление и изменение доходов и расходов</div>
                            <div class="price_item_info">Постановка задач в разделе Планирование</div>
                        </div>
                    </div>
                    <div class="row price_item price_box col-xs-12 end-md col-md-2">
                        <div class="price_box_body">
                            <div class="price_header">
                                <div class="price_header_title">
                                    <h4>Руководитель</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs visible-m start-xs hidden-bm price_info">
                                    <div class="title_list">
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Формирование документов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторов и погашений</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем </div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-m center-md middle price_box_info">
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row price_item price_box col-xs-12 end-md col-md-2">
                        <div class="price_box_body">
                            <div class="price_header">
                                <div class="price_header_title">
                                    <h4>Сотрудник</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs visible-m start-xs hidden-bm price_info">
                                    <div class="title_list">
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Формирование документов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторови погашений</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем </div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-m center-md middle price_box_info">
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row price_item price_box col-xs-12 end-md col-md-2">
                        <div class="price_box_body">
                            <div class="price_header">
                                <div class="price_header_title">
                                    <h4>Гость</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs visible-m start-xs hidden-bm price_info">
                                    <div class="title_list">
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="price_box_text">
                                                    <div class="canceled"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Формирование документов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторов и погашений</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем </div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="canceled"></div>
                                            </div>
                                        </div>
                                        <div class="row title_item">
                                            <div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
                                            <div class="title_item_info end-xs col-xs-3">
                                                <div class="checked"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-m center-md middle price_box_info">
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item" rows="2">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="canceled"></div>
                                    </div>
                                    <div class="price_box_item">
                                        <div class="checked"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s_container">
                    <a href="http://rsit.ru/buy/product/ama/" target="_blank" class="btn btn-red-outline big">Купить редакцию управляющая компания за 101 890 Р</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Центр загрузки База знаний -->
    <section class="rsit_base" id="knowdow">
        <div class="container">
            <div class="row list_base">
                <div class="col-xs-12 col-md-6" id="knowledge">
                    <div class="item">
                        <div class="row item_header middle-xs">
                            <div class="col-xs-3 item_header_icon start-xs">
                                <div class="icon center_download">
                                    <object type="image/svg+xml" data="/upload/images/icon/center_download.svg">
                                        Your browser does not support SVG
                                    </object>
                                </div>
                            </div>
                            <div class="col-xs start-xs">
                                <div class="title">
                                    <h4>Центр загрузки</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item_body">
                            <p>
                                В&nbsp;центре загрузки вы&nbsp;можете скачать актуальные версии программных продуктов и&nbsp;обновления.
                            </p>
                        </div>
                        <div class="item_footer">
                            <a href="http://www.rsit.ru/load/ama/" target="_blank" class="link_btn">Перейти в ЦЕНТР ЗАГРУЗОК &gt;</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6" id="download">
                    <div class="item">
                        <div class="row item_header middle-xs">
                            <div class="col-xs-3 item_header_icon start-xs">
                                <div class="icon center_download">
                                    <object type="image/svg+xml" data="/upload/images/icon/knowledge.svg">
                                        Your browser does not support SVG
                                    </object>
                                </div>
                            </div>
                            <div class="col-xs start-xs">
                                <div class="title">
                                    <h4>База знаний</h4>
                                </div>
                            </div>
                        </div>
                        <div class="item_body">
                            <p>
                                Документация по&nbsp;каждому разделу программы, полезные инструкции и&nbsp;ответы на&nbsp;часто задаваемые вопросы.
                            </p>
                        </div>
                        <div class="item_footer">
                            <a href="http://support.russianit.ru/categories/20006512" target="_blank" class="link_btn">Перейти в базу знаний &gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Документы -->
    <section class="documents" id="documents">
        <div class="container">
            <div class="title">
                <h3>Документы</h3>
            </div>
            <?
                $APPLICATION->IncludeFile($APPLICATION->GetCurDir().'sect_documents.php', Array(), Array(
                    "NAME"      => "документы", 
                ));
            ?>
        </div>
    </section>
</div>
<!-- Видео -->
<div class="modal newMedia" id="newVideo">
    <div class="modal_shadow" data-name="newVideo">
    </div>
    <div class="close" data-name="newVideo">
    </div>
    <div class="arrows">
        <div class="arrow_left" data-name="newVideo">
            <div class="arrow_info">
                <span class="arrow"></span> <span class="counter">1/8</span>
            </div>
        </div>
        <div class="arrow_right" data-name="newVideo">
            <div class="arrow_info">
                <span class="arrow"></span> <span class="counter">1/8</span>
            </div>
        </div>
    </div>
    <div class="modal_dialog">
        <div class="title">
            <h3>Обзор сервиса</h3>
        </div>
        <div class="modal_content no-padding">
            <div class="modal_header">
            </div>
            <div class="modal_body video">
            </div>
        </div>
    </div>
</div>
<style>
#prodmenu_logo {
    background: url(/upload/images/item/prod-pau.svg) no-repeat center;
    background-size: cover;
}
</style>