<div id="uprcompany">
	<div class="header header_breadcrumb">
		<div class="container">
			<div class="menu row between-xs middle-xs">
				<div class="logo_area col-xs-12 col-md center-xs start-md">
					<a href="/">
						<div class="logo" style="background: url(/upload/images/item/prod1.png) no-repeat left center;background-size: contain">
							<!-- <img src="images/logo.png" class="holder_image"> -->
						</div>
					</a>
				</div>
				<div class="breadcrumbs col-xs-12 col-md-10 center-xs">
					<a href="/">Главная</a> 
					/
					<a href="/">Продукты</a> 
					/
					<a href="/">Помощник арбитражного управляющего</a> 
					/
					<span>Цены</span>
				</div>
				
				<div class="col-xs"></div>
			</div>
		</div>
	</div>
	<section class="redaction block_content">
		<div class="container">
			<div class="row redaction_list">
				<div class="item col-xs-12 col-md-6">
					<div class="item_video">
						<iframe width="100%" height="350" src="https://www.youtube.com/embed/aBckWjXRzjg?rel=0&amp;controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
				<div class="item col-xs-12 col-md-6">
					<div class="item_content">
						<div class="title_bold">
							<h2>Редакция «Управляющая компания»</h2>
						</div>
						<div class="item_info">
							<p>«Помощник арбитражного управляющего» в редакции Управляющая компания обладает самим обширным функционалом. Основное преимущество данной редакции — регистрация не привязывается к параметрам управляющего.
	Это даёт <span class="text_bold">возможность добавить в программу не ограниченное Создание новой процедуры.</span></p>
						</div>
						<a href="#" class="btn btn-red-outline">Купить за 101 890 Р</a>
						
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<section class="more block_content bg-gwhite">
		<div class="container">
			<div class="s_container">
				<div class="more_about">
					<div class="title">
						<h3>Подробнее о редакции</h3>
					</div>
					<div class="text">
						<p>
							Особенно ощутимы плюсы редакции Управляющая компания для пользователей, работающих в программе командой. Для удобства каждому пользователю можно назначить роль, определяющую его возможности
	в программе. По умолчанию доступ в программу осуществляется с неограниченными правами Суперпользователя. Только Суперпользователь может добавлять новых пользователей, определяя их права на создание и изменение записей в программе, это могут быть Руководитель, Сотрудник и Гость.
						</p>
					</div>
					<div class="text text_center"><a href="#" class="link_btn">Как настроить права пользователей</a></div>
					
				</div>
			</div>
			<div class="more_feature">
				<div class="title">
					<h4>Возможности Руководителя, Сотрудника и Гостя</h4>
				</div>
			
				<div class="row price_list">
					<div class="row price_item price_names col-xs-12 col-md-5 start-md hidden-m">
						<div class="price_item_body">
							<div class="price_item_info">Создание новой процедуры</div>
							<div class="price_item_info">Изменение и добавление новых данных <br/> в свойствах процедуры</div>
							<div class="price_item_info">Изменение и добавление данных в свойствах<br/>  должника</div>
							<div class="price_item_info">Перевод процедуры (например, из Наблюдения<br/>  в Конкурсное производство)</div>
							<div class="price_item_info">Удаление процедуры</div>
							<div class="price_item_info">Формирование документов</div>
							<div class="price_item_info">Создание текущих требований, требований <br/> кредиторов и погашений</div>
							<div class="price_item_info">Изменение имеющихся записей, созданных<br/>  другим пользователем</div>
							<div class="price_item_info">Работа с конкурсной массой</div>
							<div class="price_item_info">Финансовый анализ</div>
							<div class="price_item_info">Добавление и изменение доходов и расходов</div>
							<div class="price_item_info">Постановка задач в разделе Планирование</div>
						</div>
					</div>
					<div class="row price_item price_box col-xs-12 end-md col-md-2">
						<div class="price_box_body">
							<div class="price_header">
								<div class="price_header_title">
									<h4>Руководитель</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs visible-m start-xs hidden-bm price_info">
									<div class="title_list">
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
											<div class="title_item_info end-xs col-xs-3">
													<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Формирование документов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторов и погашений</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем	</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="hidden-m center-md middle price_box_info">
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
					<div class="row price_item price_box col-xs-12 end-md col-md-2">
						<div class="price_box_body">
							<div class="price_header">
								<div class="price_header_title">
									<h4>Сотрудник</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs visible-m start-xs hidden-bm price_info">
									<div class="title_list">
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
											<div class="title_item_info end-xs col-xs-3"><div class="canceled"></div></div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
											<div class="title_item_info end-xs col-xs-3"><div class="checked"></div></div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
											<div class="title_item_info end-xs col-xs-3">
													<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Формирование документов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторови погашений</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем	</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="hidden-m center-md middle price_box_info">
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
					<div class="row price_item price_box col-xs-12 end-md col-md-2">
						<div class="price_box_body">
							<div class="price_header">
								<div class="price_header_title">
									<h4>Гость</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs visible-m start-xs hidden-bm price_info">
									<div class="title_list">
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание новой процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление новых данных в свойствах процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="price_box_text">
													<div class="canceled"></div>
												</div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение и добавление данных в свойствах должника</div>
											<div class="title_item_info end-xs col-xs-3">
													<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Перевод процедуры (например, из Наблюдения в Конкурсное производство)</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Удаление процедуры</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Формирование документов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Создание текущих требований, требований кредиторов и погашений</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Изменение имеющихся записей, созданных другим пользователем	</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Работа с конкурсной массой</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Финансовый анализ</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Добавление и изменение доходов и расходов</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="canceled"></div>
											</div>
										</div>
										<div class="row title_item">
											<div class="title_item_name start-xs col-xs-8">Постановка задач в разделе Планирование</div>
											<div class="title_item_info end-xs col-xs-3">
												<div class="checked"></div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="hidden-m center-md middle price_box_info">
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item" rows="2">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="canceled"></div>
									</div>
									<div class="price_box_item">
										<div class="checked"></div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="s_container">
					<a href="#" target="_blank" class="btn btn-red-outline big">Купить редакцию управляющая компания за 101 890 Р</a>
					
				</div>
			</div>
		</div>
	</section>

	<!-- Центр загрузки База знаний -->
	<section class="rsit_base block_content" id="knowdow">
		<div class="container">
			<div class="row list_base">
				<div class="col-xs-12 col-md-6" id="knowledge">
					<div class="item">
						<div class="row item_header middle-xs">
							<div class="col-xs-3 item_header_icon start-xs">
								<div class="icon center_download">
									<object type="image/svg+xml" data="/upload/images/icon/center_download.svg">
									   Your browser does not support SVG
									</object>
								</div>
							</div>
							<div class="col-xs start-xs">
								<div class="title">
									<h4>Центр загрузки</h4>
								</div>
							</div>
						</div>
						<div class="item_body">
							<p>В центре загрузки вы можете скачать последние версии программных продуктов, документацию к программам, обновления нормативной базы и вестники банкротств.</p>
						</div>
						<div class="item_footer">
							<a href="#" target="_blank" class="link_btn">Перейти в ЦЕНТР ЗАГРУЗОК ></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6" id="download">
					<div class="item">
						<div class="row item_header middle-xs">
							<div class="col-xs-3 item_header_icon start-xs">
								<div class="icon center_download">
									<object type="image/svg+xml" data="/upload/images/icon/knowledge.svg">
									   Your browser does not support SVG
									</object>
								</div>
							</div>
							<div class="col-xs start-xs">
								<div class="title">
									<h4>Служба поддержки<br/> и база знаний</h4>
								</div>
							</div>
						</div>
						<div class="item_body">
							<p>Документация по работе в программе «Помощник арбитражного управляющего» доступна в Справочном центре РИТ.
							Полезные инструкции, база знаний, ответы на часто задаваемые вопросы
							и подробное описание работы по каждому разделу программы.
							</p>
						</div>
						<div class="item_footer">
							<a href="#" target="_blank" class="link_btn">Перейти в базу знаний ></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="documents" id="documents">
		<div class="container">
			<div class="title">
				<h3>Документы</h3>
			</div>
			<div class="row docs_list">
				<div class="item col-xs-12 col-md-5">
					<div class="title">
						<h4>Договоры</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Лицензионный договор, DOC, 95 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на оказание услуг по технической поддержке, DOC, 100 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на оказание услуг по разовому обновлению, DOC, 98 Кб.</a></div>
						<div class="doc_link"><a href="#">Договор на новую комплектацию, DOC, 92 Кб.</a></div>
						<div class="doc_link"><a href="#">Соглашение об обмене данными с Витриной, DOCX, 52 Кб.</a></div>
						<div class="doc_link"><a href="#">Соглашение об обмене данными с Bankro.TECH, DOCX, 24 Кб.</a></div>
					</div>
				</div>
				<div class="item col-xs-12 col-md-4">
					<div class="title">
						<h4>Оферты</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Публичная оферта</a></div>
						<div class="doc_link"><a href="#">Публичная оферта на техническую поддержку </a></div>
						<div class="doc_link"><a href="#">Публичная оферта на разовое обновление</a></div>
						<div class="doc_link"><a href="#">Публичная оферта на новую конфигурацию</a></div>
					</div>
				</div>
				<div class="item col-xs-12 col-md-3">
					<div class="title">
						<h4>Полезные ссылки</h4>
					</div>
					<div class="doc_links">
						<div class="doc_link"><a href="#">Блок-схемы процедур</a></div>
						<div class="doc_link"><a href="#">Методические пособия</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>