@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Gerbera.ttf) format("truetype"), url(fonts/Gerbera.otf) format("otf"); }

@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Gerbera_Medium.ttf) format("truetype"), url(fonts/Gerbera_Medium.otf) format("otf"); }

@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 900;
  src: url(fonts/Gerbera_Bold.ttf) format("truetype"), url(fonts/Gerbera_Bold.otf) format("otf"); }

@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Gerbera_Light.ttf) format("truetype"), url(fonts/Gerbera_Light.otf) format("otf"); }

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .grid .gd-xs-1 {
    width: 100%;
    position: relative; }
  .grid .gd-xs-2 {
    width: 50%;
    position: relative; }
  .grid .gd-s-1 {
    position: relative; }
  .grid .gd-s-2 {
    position: relative; }
  .grid .gd-s-3 {
    position: relative; }
  .grid .gd-m-1 {
    position: relative; }
  .grid .gd-m-2 {
    position: relative; }
  .grid .gd-m-3 {
    position: relative; }
  .grid .gd-m-4 {
    position: relative; }
  .grid .gd-l-1 {
    position: relative; }
  .grid .gd-l-2 {
    position: relative; }
  .grid .gd-l-3 {
    position: relative; }
  .grid .gd-l-4 {
    position: relative; }
  @media (min-width: 580px) {
    .grid .gd-s-1 {
      width: 100%; }
    .grid .gd-s-2 {
      width: 50%; }
    .grid .gd-s-3 {
      width: 33.33%; } }
  @media (min-width: 768px) {
    .grid .gd-m-1 {
      width: 100%; }
    .grid .gd-m-2 {
      width: 50%; }
    .grid .gd-m-3 {
      width: 33.33%; }
    .grid .gd-m-4 {
      width: 25%; }
    .grid .gd-m-5 {
      width: 75%; } }
  @media (min-width: 992px) {
    .grid .gd-l-1 {
      width: 100%; }
    .grid .gd-l-2 {
      width: 50%; }
    .grid .gd-l-3 {
      width: 33.33%; }
    .grid .gd-l-4 {
      width: 25%; } }

.order-xs-0 {
  order: 0; }

.order-xs-1 {
  order: 1; }

.order-xs-2 {
  order: 2; }

.order-xs-3 {
  order: 3; }

.order-xs-4 {
  order: 4; }

.order-xs-5 {
  order: 5; }

@media (min-width: 768px) {
  .order-xs-0 {
    order: 0; }
  .order-xs-1 {
    order: 0; }
  .order-xs-2 {
    order: 0; }
  .order-xs-3 {
    order: 0; }
  .order-xs-4 {
    order: 0; }
  .order-xs-5 {
    order: 0; } }

.order-ms-0 {
  order: 0; }

.order-ms-1 {
  order: 1; }

.order-ms-2 {
  order: 2; }

.order-ms-3 {
  order: 3; }

.order-ms-4 {
  order: 4; }

.order-ms-5 {
  order: 5; }

@media (min-width: 992px) {
  .order-ms-0 {
    order: 0; }
  .order-ms-1 {
    order: 0; }
  .order-ms-2 {
    order: 0; }
  .order-ms-3 {
    order: 0; }
  .order-ms-4 {
    order: 0; }
  .order-ms-5 {
    order: 0; } }

@media (max-width: 579px) {
  .hidden-xs {
    display: none; } }

@media (max-width: 767px) {
  .hidden-s {
    display: none; } }

@media (max-width: 991px) {
  .hidden-m {
    display: none; } }

@media (max-width: 1199px) {
  .hidden-l {
    display: none; } }

@media (min-width: 991px) {
  .hidden-bl {
    display: none; } }

@media (min-width: 767px) {
  .hidden-bm {
    display: none; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: Arial;
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: #171717;
  background: #e5e5e5; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  color: #0079e8;
  transition: all .2s ease; }
  a:hover {
    text-decoration: underline; }

ul {
  list-style: none; }

ol {
  padding-left: 15px; }

img {
  display: block;
  margin: auto; }

h1 {
  font-size: 60px;
  text-align: center; }

h2 {
  font-size: 26px;
  color: inherit;
  margin: 0 0 25px;
  font-family: 'Arial';
  font-weight: 300; }
  @media (min-width: 768px) {
    h2 {
      font-size: 30px;
      margin: 0 0 35px; } }

h2.title {
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #424242; }

h3 {
  font-size: 22px;
  text-align: center;
  color: inherit;
  font-family: 'Arial';
  font-weight: 300;
  margin: 0 0 45px;
  padding-top: 40px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 30px;
      margin: 0 0 35px; } }

h3.title {
  font-size: 40px;
  padding-top: 60px;
  padding-bottom: 20px; }

h4 {
  font-size: 18px;
  color: inherit;
  font-family: 'Arial';
  font-weight: 700;
  margin: 0 0 15px; }
  @media (min-width: 768px) {
    h4 {
      margin: 0 0 20px; } }

p {
  font-size: 12px;
  line-height: 20px; }
  @media (min-width: 768px) {
    p {
      font-size: 16px;
      line-height: 32px; } }

/*base classes*/
.main_container {
  width: 1400px;
  margin: 0 auto;
  background: #FFFFFF; }

.footer_container {
  width: 1400px;
  margin: 0 auto; }

.container {
  margin: auto;
  padding: 0 55px;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out; }
  .container.no-padding {
    padding: 0; }
  .container.no-padding-right {
    padding: 0 0 0 25px; }
  @media (min-width: 768px) {
    .container {
      padding: 0 110px; }
      .container.no-padding-right {
        padding: 0 0 0 55px; } }

.bg-black {
  background: #171717; }
  .bg-black-o8 {
    background: rgba(0, 0, 0, 0.8); }
  .bg-black-o9 {
    background: rgba(0, 0, 0, 0.9); }
  .bg-black-o65 {
    background: rgba(0, 0, 0, 0.65); }

.bg-gray {
  background: #f3f3f3; }

.bg-dgrey {
  background: #424242; }

.c-white {
  color: #FFFFFF; }

.c-black {
  color: #171717; }

.italic {
  font-style: italic; }

.btn {
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  outline: none;
  border: none;
  font-family: 'Arial';
  font-weight: 400; }
  .btn-blue {
    background: #0079e8;
    color: #FFFFFF;
    width: 210px;
    padding: 11px 0 8px;
    font-size: 16px; }
  .btn-black {
    background: #000000;
    color: #FFFFFF;
    padding: 10px; }

header {
  position: relative;
  height: 80px;
  width: 100%; }
  header .container {
    height: 100%; }
    header .container .menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: 100%; }
      header .container .menu .logo {
        padding-top: 5px;
        float: left;
        width: 150px;
        height: 40px;
        border: 1px solid #e5e5e5; }
      header .container .menu .menu_top {
        float: right;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        header .container .menu .menu_top ul {
          margin: 0;
          padding: 0; }
          header .container .menu .menu_top ul li {
            float: left;
            margin: 0 0 0 60px; }

footer {
  position: relative;
  height: 80px;
  width: 100%; }
  footer .container {
    height: 100%; }
    footer .container .items {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 40px 0; }
      footer .container .items .item p {
        font-size: 14px; }

.footer_nav .items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0; }
  .footer_nav .items .item {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start; }
    .footer_nav .items .item .title {
      padding-bottom: 10px;
      margin: 0;
      font-weight: normal; }

#index .slider_inner {
  margin: 60px 0;
  border: 1px solid #f3f3f3;
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  #index .slider_inner .arrows {
    position: absolute;
    z-index: 50;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    #index .slider_inner .arrows .sel {
      border: 1px solid #cfcfcf;
      border-radius: 15px;
      width: 15px;
      height: 15px;
      background: #FFFFFF;
      margin: 0 10px;
      cursor: pointer; }
    #index .slider_inner .arrows .active {
      background: #cfcfcf;
      cursor: default; }

#index .slider_wrapper {
  width: calc(100%*4);
  height: 100%;
  transition: all 0.5s ease-in-out; }
  #index .slider_wrapper .slide {
    float: left;
    height: 100%;
    width: 100%; }
    #index .slider_wrapper .slide_info {
      margin: 120px 0 0 40px; }
    #index .slider_wrapper .slide_title {
      width: 300px;
      font-size: 50px;
      line-height: 60px;
      color: #424242;
      padding-bottom: 20px;
      border-bottom: 1px solid #cfcfcf; }
    #index .slider_wrapper .slide_about {
      font-size: 14px;
      line-height: 25px;
      margin-top: 20px; }

#index .products .items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 0 60px; }
  #index .products .items_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0 0 60px; }
    #index .products .items_inner .arrows {
      position: absolute;
      z-index: 50;
      bottom: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%; }
      #index .products .items_inner .arrows .sel {
        border: 1px solid #cfcfcf;
        border-radius: 15px;
        width: 15px;
        height: 15px;
        background: #FFFFFF;
        margin: 0 10px;
        cursor: pointer; }
      #index .products .items_inner .arrows .active {
        background: #cfcfcf;
        cursor: default; }
  #index .products .items .item {
    width: 100%;
    border: 1px solid #cfcfcf;
    margin: 0 20px;
    height: 350px; }
    #index .products .items .item_photo {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
      #index .products .items .item_photo:before {
        content: 'Логотип, фотография или скриншот';
        color: #cfcfcf;
        text-align: center;
        padding-bottom: 20px; }
    #index .products .items .item_about {
      padding: 0 30px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #index .products .items .item_link {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px; }
      #index .products .items .item_link a {
        display: block;
        height: 100%; }
    #index .products .items .item_info {
      font-size: 14px;
      color: #424242; }

#index .services .items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 0 60px; }
  #index .services .items .item {
    width: 100%;
    border: 1px solid #cfcfcf;
    margin: 0 20px;
    height: 250px; }
    #index .services .items .item_photo {
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column row;
      align-items: flex-end;
      justify-content: flex-start; }
    #index .services .items .item_about {
      height: 80px;
      padding: 0 30px; }
    #index .services .items .item_link {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px; }
      #index .services .items .item_link a {
        display: block;
        height: 100%; }

#index .company_about {
  color: #424242;
  width: 800px;
  margin: 0px auto 40px; }
  #index .company_about p {
    font-size: 14px;
    line-height: 25px; }

#index .company .media {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0 0 60px; }
  #index .company .media_item {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    #index .company .media_item_photo {
      height: 80px;
      width: 80px;
      border: 1px solid #cfcfcf; }
    #index .company .media_item_title {
      font-size: 16px;
      line-height: 30px;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      color: #424242; }
      #index .company .media_item_title a {
        display: block;
        height: 100%; }

#index .company_info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 40px; }
  #index .company_info .news {
    flex: 1 auto; }
    #index .company_info .news h3.title {
      text-align: left;
      padding-bottom: 0; }
    #index .company_info .news_item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 10px 0; }
      #index .company_info .news_item_date {
        color: #424242;
        font-size: 16px; }
      #index .company_info .news_item_link {
        font-size: 16px;
        margin-left: 40px; }
  #index .company_info .vacancies {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    #index .company_info .vacancies h3.title {
      text-align: left;
      padding-bottom: 0; }
    #index .company_info .vacancies_link {
      font-size: 16px;
      padding: 10px 0; }

#index .clients .items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 1000px;
  padding-bottom: 40px; }
  #index .clients .items .item {
    border: 1px solid #cfcfcf;
    width: 180px;
    height: 80px;
    margin: 20px 0; }
    #index .clients .items .item a {
      width: 100%;
      height: 100%;
      display: block; }

#products .products {
  padding: 40px 0; }
  #products .products .breadcrumbs {
    margin: 0 auto;
    color: #cfcfcf;
    text-align: center; }
  #products .products .items {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    padding: 0 0 60px; }
    #products .products .items .item:nth-child(1) {
      flex: 1 100%; }
    #products .products .items .item:nth-child(2) {
      flex: 2 60%; }
    #products .products .items .item:nth-child(3) {
      flex: 2 30%; }
    #products .products .items .item:nth-child(4) {
      flex: 3 auto; }
    #products .products .items .item:nth-child(5) {
      flex: 3 auto; }
    #products .products .items .item:nth-child(6) {
      flex: 3 auto; }
    #products .products .items .item:nth-child(7) {
      flex: 2 30%; }
    #products .products .items .item:nth-child(8) {
      flex: 2 60%; }
    #products .products .items .item {
      border: 1px solid #cfcfcf;
      margin: 20px;
      height: 350px; }
      #products .products .items .item_photo {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        #products .products .items .item_photo:before {
          content: 'Логотип, фотография или скриншот';
          color: #cfcfcf;
          text-align: center;
          padding-bottom: 20px; }
      #products .products .items .item_about {
        padding: 0 30px;
        height: 120px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      #products .products .items .item_link {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px; }
        #products .products .items .item_link a {
          display: block;
          height: 100%; }
      #products .products .items .item_info {
        font-size: 14px;
        color: #424242; }
