.about
	padding: 30px 0 0
	.breadcrumbs
		margin-bottom: 30px

.infob
	padding: 40px 0 30px
	.media2
		align-items: flex-start
		.card:first-child
			height: auto
			color: #{$dark_gray}
			h4
				font-style: italic
		.card:nth-child(2)
			padding-top: 30%
	.about_text
		color: #{$dark_gray}
.short_info
	.cards
		padding: 0
		.card
			height: 160px
			background: transparent
			margin: 0
			.card_title
				margin-bottom: 0
.leadership
	.cards
		.card
			&_title
				margin-bottom: 0
			&_body_u
				height: 120px
.company
	&_info
		&.link_items
			padding-bottom: 40px
			align-items: stretch
			.card
				border: 1px solid #{$cgray}
				// height: 101px
				align-items: center
				height: auto
				justify-content: space-between
				padding: 29px 40px 27px
				.title
					&_block
						height: 45px
						padding-right: 10px
						h3
							font-weight: 600
							line-height: 45px
			.vacancy
				.title
					&_block
				&_info
					padding: 0 20px
					p
						line-height: 45px
						font-family: $roboto
@media (min-width: '#{$small}px') and (max-width: '#{$medium}px')
	.leadership
		.cards
			.card
				&_body_u
					height: auto
					margin-bottom: 20px
@media (max-width: '#{$small}px')
	.infob
		margin-bottom: 40px
		.media2
			.card
				&:nth-child(2)
					padding-top: 75%
	.leadership
		.cards
			align-items: stretch
			.card
				margin-bottom: 20px
				&_body_u
					padding-bottom: 60px
					height: auto
					margin-bottom: 20px
				.social
					position: absolute
					bottom: 0
					width: auto
	.company
		&_info
			&.link_items
				// margin: 0 -20px
				padding-bottom: 0
				.card
					border-radius: 0
					border: none
					border-top: 1px solid #{$cgray}
					height: auto
					justify-content: center
					padding: 0
					margin-bottom: 0
					padding-bottom: 40px
					.social
						margin-top: 20px
					.vacancy
						&_info
							p
								line-height: 33px
								margin-bottom: 13px