.about
	padding: 0px 0 0
	.breadcrumbs
		margin-bottom: 30px
		color: black

.menu_b
	.menu_top
		// height: 80px

.infob
	.media2
		align-items: flex-start
		.card:first-child
			height: auto
			color: #{$dark_gray}
			h4
				font-style: italic
		.card:nth-child(2)
			padding-top: 30%
	.about_text
		color: black
		p
			font-size: 16px
			line-height: 27px
	&_photo
		img
			width: 100%
	&_text
		padding: 30px 0 30px 40px
		.text
			max-width: 600px
			.title
				&_block
					&_bold
						margin-bottom: 35px
	.gallery
		padding-bottom: 60px
		.owl-dots
			z-index: 50
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			width: 100%
			.owl-dot
				width: 20px
				height: 20px
				border-bottom: 2px solid #{$dot_noactive}
				margin: 0 10px
				outline: none
				cursor: pointer
				&:hover
					border-bottom: 2px solid #{$kgray}
			.active
				border-bottom: 2px solid #{$dot_active}
				cursor: default
				&:hover
					border-bottom: 2px solid #{$dot_active}

		&_images
			.item
				cursor: pointer
			&_screen
				img
					width: 100%

	#main_img_block img
		width: 100%
	#main_text_block
		padding-left: 40px
	#other_comp_img_block
		margin-top: 69px
		.img_blocks img
			width: 427px
			height: 400px
	#rectangle_block
		margin-top: 30px
		.rectangles
			width: 20px
			height: 2px
			border: 1px solid gray
			margin-left: 10px
	#title_team
		margin-top: 135px

.team
	.about
		&_text
			padding-bottom: 60px
/* Числа о компании */
.s_info
	.item
		&_body
			position: relative
			height: 160px
			margin-bottom: 30px
			&_info
				position: relative
				z-index: 7
				padding-top: 15px
		.icon
			position: absolute
			width: 116px
			height: 116px
			top: 0
			left: 50%
			margin-left: -58px
		&:nth-child(1)
			.icon
				background: #{$cpink}
				transform: rotate(4deg)
				-webkit-transform: rotate(4deg)
				-ms-transform: rotate(4deg)
		&:nth-child(2)
			.icon
				background: #{$cblue}
				transform: rotate(-25deg)
				-webkit-transform: rotate(-25deg)
				-ms-transform: rotate(-25deg)
		&:nth-child(3)
			.icon
				background: #{$cyellow}
				transform: rotate(95deg)
				-webkit-transform: rotate(95deg)
				-ms-transform: rotate(95deg)
		&:nth-child(4)
			.icon
				background: #{$clblue}
				transform: rotate(30deg)
				-webkit-transform: rotate(30deg)
				-ms-transform: rotate(30deg)


.short_info
	&_list
		padding-bottom: 60px
		.card_body_c
			width: 116px
			height: 116px
		#card_body_1
			transform: rotate(94.5deg)
			background: #FFEDFD
		#card_body_1_text
			transform: rotate(-94.5deg)
		#card_body_2
			transform: rotate(31.78deg)
			background: #F0FAF4
		#card_body_2_text
			transform: rotate(-31.78deg)
		#card_body_3
			transform: rotate(94.5deg)
			background: #FFF2E3
		#card_body_3_text
			transform: rotate(-94.5deg)
		#card_body_4
			transform: rotate(30deg)
			background: rgba(213,246,253,0.7)
		#card_body_4_text
			transform: rotate(-30deg)
		.text_big_2
			font-size: 60px
			font-family: $proxima_regular
			font-weight: bold
			color: #{$kgray}
			width: 315px
			left: calc(-116px + 25%)
			position: relative
		.card_body_texts
			width: 116px
			height: 116px
			text-align: center
			padding-top: 20px
		.card_text
			position: relative
			width: 315px
			left: calc(-116px + 25%)
			padding-top: 10px
			font-family: $ibm_sans

// Руководители
.leadership
	.container
		.liders
			&_list
				.item
					max-width: 166px
					margin: 0 40px 60px
					&_photo
						img
							margin: 0 0 30px
					&_body
						.title
							&_block
								&_bold
									margin-bottom: 0
									h4
										font-weight: bold
.company
	padding-bottom: 60px
	&_info
		&.link_items
			padding-bottom: 0px
			align-items: stretch
			.card
				border: 1px solid #{$cgray}
				// height: 101px
				align-items: center
				height: auto
				justify-content: space-between
				padding: 29px 40px 27px
				.title
					&_block
						height: 45px
						padding-right: 10px
						h3
							font-weight: 600
							line-height: 45px
			.vacancy
				.title
					&_block
				&_info
					padding: 0 20px
					p
						line-height: 45px
						font-family: $roboto
@media (min-width: '#{$small}px') and (max-width: '#{$medium}px')
	.leadership
		.cards
			.card
				&_body_u
					height: auto
					margin-bottom: 20px

@media (max-width: '#{$medium}px')
	.infob
		&_text
			padding: 0 0 40px
@media (max-width: '#{$small}px')
	.infob
		margin-bottom: 40px
		.media2
			.card
				&:nth-child(2)
					padding-top: 75%
	.s_info
		.item
			&_body
				&_info
					padding-top: 30px
	.leadership
		.cards
			align-items: stretch
			.card
				margin-bottom: 20px
				&_body_u
					padding-bottom: 60px
					height: auto
					margin-bottom: 20px
				.social
					position: absolute
					bottom: 0
					width: auto
	.company
		&_info
			&.link_items
				// margin: 0 -20px
				padding-bottom: 0
				.card
					border-radius: 0
					border: none
					border-top: 1px solid #{$cgray}
					height: auto
					justify-content: center
					padding: 0
					margin-bottom: 0
					padding-bottom: 40px
					.social
						margin-top: 20px
					.vacancy
						&_info
							p
								line-height: 33px
								margin-bottom: 13px

