.about
	padding: 30px 0 0
	.breadcrumbs
		margin-bottom: 30px
.link
	&:hover
		text-decoration: none
		opacity: .7
.infob
	padding-bottom: 40px
	.contact
		&_list
			.item
				padding: 0 20px 20px
				&:nth-child(2)
					// flex-basis: 225px
					// width: 225px
					// max-width: 100%
	.email
		&_list
			margin-bottom: 30px
			a
				font: bold 16px/27px #{$ibm_sans}
				color: #{$blue}
	.social
		&_list
			margin-bottom: 30px
		&_item
			display: inline-block
			width: 30px
			height: 30px
			margin: 0  10px
			a
				display: block
				&:hover
					opacity: .7
				.icon
					width: 30px
					height: 30px
			&.in
				.icon
					background: url(#{$svg_path}/csoc-icon-1.svg) no-repeat center
					background-size: 30px auto
			&.fb
				.icon
					background: url(#{$svg_path}/csoc-icon-2.svg) no-repeat center
					background-size: 30px auto
			&.tw
				.icon
					background: url(#{$svg_path}/csoc-icon-3.svg) no-repeat center
					background-size: 30px auto
			&.vk
				.icon
					background: url(#{$svg_path}/csoc-icon-4.svg) no-repeat center
					background-size: 30px auto
.map
	padding: 0 0 60px
	&_area
		width: 100%
		#map
			width: 100%
			height: 350px
		&_photo
			width: 100%
