.cservice
	.about
		margin-bottom: 40px
		color: #{$dark_gray}
	.cards
		.card
.projects
	.container
		&>.cards
			padding-bottom: 60px
	.cards
		padding-bottom: 0
		.g_one
			grid-area: one
			padding-top: 33%
		.g_two
			grid-area: two
			padding-top: 50%
		.g_three
			grid-area: three
		.g_four
			grid-area: four
		.g_five
			grid-area: five
			padding-top: 50%
		.g_six
			height: calc(100% - 20px)
		.card
			margin-bottom: 20px
			&_body
				position: absolute
				top: auto
				right: 30px
				left: 30px
				bottom: 30px
				height: auto

/* Small device style */
@media (max-width: '#{$small}px')
	.projects
		.cards
			.cards
				margin-right: 0
			.g_one
				padding-top: 33%
			.g_two
				padding-top: 33%
			.g_three
				padding-top: 33%
			.g_four
				padding-top: 33%
			.g_five
				padding-top: 33%
			.g_six
				padding-top: 33%
