.cservice
	padding: 40px 0 0
	.about
		margin-bottom: 40px
		color: #{$dark_gray}
	.cards
		.card
			padding-top: 70%
.projects
	.cards
		grid-template-areas: "one one one" "two two six" "three four six" "five five six"
		.g_one
			grid-area: one
			padding-top: 33%
		.g_two
			grid-area: two
			padding-top: 50%
		.g_three
			grid-area: three
		.g_four
			grid-area: four
		.g_five
			grid-area: five
			padding-top: 50%
		.g_six
			grid-area: six
	.items
		display: flex
		flex-flow: row wrap
		align-items: stretch
		justify-content: stretch
		padding: 0 0 60px
		.wl
			flex: 0 1 790px
			display: flex
			flex-flow: row wrap
			align-items: stretch
			justify-content: stretch
			.item
				&:nth-child(1)
					flex: 0 100%
				&:nth-child(2)
					flex: 0 0 355px
				&:nth-child(3)
					flex: 0 0 355px
				&:nth-child(4)
					flex: 0 1 100%
		.wr
			height: 1130px
			display: flex
			flex-flow: row wrap
			align-items: stretch
			justify-content: stretch
			flex: 0 0 390px
			.item
				flex: 0 1 390px
				height: 100%
		.item
			width: auto
			flex: 0 1 350px
			&.wa
				flex: 0 1 100%
			&_info
				height: auto