.cservice
	.about
		margin-bottom: 40px
		color: #{$dark_gray}
	.cards
		.card
			min-height: 150px
			padding-top: 17%
.projects
	.container
		&>.cards
			padding-bottom: 60px
	.cards
		padding-bottom: 0
		.g_one
			grid-area: one
			padding-top: 33%
		.g_two
			grid-area: two
			padding-top: 50%
		.g_three
			grid-area: three
		.g_four
			grid-area: four
		.g_five
			grid-area: five
			padding-top: 50%
		.g_six
			height: calc(100% - 20px)
		.card
			&_photo
				left: 0
				top: 0
				width: 100%
				height: 100%
