.event
	padding: 30px 0 0
	.breadcrumbs
		margin-bottom: 30px
.eventb
	padding: 40px 0 0
.events
	&_info
	&_date
		color: #{$egray}
		text-align: center
	&_body
		padding-top: 30px
			

.text
	padding: 0 0 60px
	img
		width: 100%
		min-height: 500px
		border: 1px solid #{$dgray}
	p
		padding-top: 1rem
		padding-bottom: 2rem
		color: #{$dark_gray}
	.arrows
		margin-top: 40px
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: flex-end
		.link
			line-height: 60px
		.center
			padding: 0 20px
@media (max-width: '#{$small}px')
	.text
		.s_container
			padding: 0 55px
		.m_container
			padding: 0 55px
@media (max-width: '#{$xsmall}px')
	.text
		.arrows
			.center
				padding: 0