.chire
	.breadcrumbs
		margin-bottom: 30px
.hireb
	padding-bottom: 40px
	.about
		color: #{$dark_gray}
		margin-bottom: 30px
// Почему мы лучше, пункты
.whybest
	.features
		padding-bottom: 40px
		.feature
			&_list
			&_row
				margin-bottom: 40px
				.item
					.icon
						margin-bottom: 20px
// Список вакансий
.hire_items
    padding: 70px 0 80px
    .toggles
    	background: #{$white}
.contact_manager
	border: 1px solid #{$dgray}
	padding: 15px 30px
	.title
		margin-bottom: 10px
		h4
			margin: 0
			padding: 0
	.contact_photo
		margin: 10px 0
/* Medium device styles */
@media (max-width: '#{$medium}px')
	.hire_items
		.title
			&_block
				margin-top: 0
				text-align: left
