.slider
	&_inner
		margin: 0
		width: 100%
		height: 700px
		overflow: hidden
		position: relative
		.owl-dots
			position: absolute
			z-index: 50
			bottom: 20px
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			width: 100%
			.owl-dot
				width: 20px
				height: 20px
				border-bottom: 2px solid #{$white}
				margin: 0 10px
				outline: none
				cursor: pointer
				&:hover
					border-bottom: 2px solid #{$white_o_5}
			.active
				border-bottom: 2px solid #{$white_o_3}
				cursor: default
	&_wrapper
		padding-bottom: 0
		.slide
			position: relative
			&_link
                position: absolute
                left: 0
                top: 0
                z-index: 6
                width: 100%
                height: 100%
			&[data-slide="1"]
				.slide
					&_photo
						&:after
							background: #{$white}
						&_img
							background: url(#{$img_path}/item/main_banner2.jpg) no-repeat
							background-size: contain
							background-position: center
							background-repeat: no-repeat
					&_title
						margin-bottom: 35px
						h2
							color: #{$slide_title}
					&_hr
						background: #{$slide_hr}
						height: 1px
						width: 100px
						margin-bottom: 35px
					&_info
						// height: 100%
						z-index: 7
						position: relative
						padding: 0
						height: 54px
						.btn
							// position: absolute
							margin-top: 548px
							width: 200px
							z-index: 8
					&_about
						&_text
							font: 34px/52px #{$proxima_bold}
							color: #{$slide_title}
							span
								color: #{$slide_red}
			&_photo
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				&:after
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					content: ' '
					background: #{$red}
					mix-blend-mode: multiply
				&_img
					width: 100%
					height: 100%
					background-size: cover
			&_info
				padding-top: 207px
				position: relative
				z-index: 5
			&_title
				width: 300px
				padding-bottom: 20px
				h2
					// font-size: 50px
					// line-height: 60px
					font-family: #{$proxima_bold};
					font-size: 43px
					line-height: 50px
					font-weight: 900
					margin: 0
					color: #{$white}

			&_about
				margin-top: 20px
				p
					font-family: #{$ibm_sans}, sans-serif
					font-size: 20px
					line-height: 34px
					color: #{$white}
	.arrow
		&_left
			background: url(#{$svg_path}/sl-icon-l.svg) center no-repeat
			width: 60px
			height: 100%
			background-size: auto 44px
			position: absolute
			left: 0
			top: 0
			z-index: 50
			cursor: pointer
		&_right
			background: url(#{$svg_path}/sl-icon-r.svg) center no-repeat
			width: 60px
			height: 100%
			background-size: auto 44px
			position: absolute
			right: 0
			top: 0
			z-index: 50
			cursor: pointer

.services
	background: #{$gwhite}
	&_about
		color: #{$dark_gray}
		margin: 0px auto 40px
	.lindent
		margin-left: 12px
	.card
		height: 400px
		box-shadow: 0px 0px 24px #{$black_o_1}
		&:nth-child(1)
			background: #{$sblue}
			.card_icon
				background-image: url(#{$svg_path}/se-icon-1.svg);
		&:nth-child(2)
			background: #{$sgreen}
			.card_icon
				background-image: url(#{$svg_path}/se-icon-2.svg);
		&:nth-child(3)
			background: #{$sred}
			.card_icon
				background-image: url(#{$svg_path}/se-icon-3.svg);
		&_body
			top: 30px
			right: 30px
			left: 30px
			.card_title
				margin-bottom: 35px
				margin-top: 0
				max-width: 150px
				a
					color: #{$white}
			.card_text
				color: #{$white}
				height: auto
				max-height: 100%
		&_icon
			position: absolute
			bottom: 30px
			left: 30px
			background: url(#{$img_path}/is-icon-1.png) no-repeat left bottom
			background-size: 40px 42px
			width: 40px
			height: 42px
.company
	&_about
		color: #{$dark_gray}
		margin: 0px auto 60px
	.cards.about_items
		.card
			background: transparent
			height: 140px
			&_icon
				position: absolute
				width: 116px
				height: 116px
				top: 15px
				left: 50%
				margin-left: -58px
			&_body
				position: relative
				top: 0
				left: 0
				max-width: 100%
				width: 100%
				text-align: center
				.card_text
					height: 32px
					width: 100%
					padding: 0
					max-height: 100%
					color: #{$gblack}
			&:nth-child(1)
				.card_icon
					background: #{$cyellow}
					transform: rotate(30deg)
					-webkit-transform: rotate(30deg)
					-ms-transform: rotate(30deg)
			&:nth-child(2)
				.card_icon
					background: #{$cblue}
					transform: rotate(-30deg)
					-webkit-transform: rotate(-30deg)
					-ms-transform: rotate(-30deg)
			&:nth-child(3)
				.card_icon
					background: #{$cpink}
					transform: rotate(95deg)
					-webkit-transform: rotate(95deg)
					-ms-transform: rotate(95deg)
	&_info.link_items
		padding-bottom: 40px
		align-items: stretch
		.card
			border: 1px solid #{$cgray}
			// height: 101px
			align-items: center
			height: auto
			justify-content: space-between
			padding: 29px 40px 27px
			.title
				&_block
					height: 45px
					padding-right: 10px
					h3
						font-weight: 600
						line-height: 45px
		.vacancy
			.title
				&_block
			&_info
				padding: 0 20px 0 0
				p
					line-height: 45px
					font-family: $roboto
.clients
	.partners
		padding-top: 30px
		padding-bottom: 60px
		.ct_4
			justify-content: space-between
		.ct_3
			justify-content: center
			.card
				width: 155px
				text-align: center
				margin: 0
				&:nth-child(2)
					margin: 0px 235px
		.cards
			align-items: center
			.card
				height: auto
				background: transparent


@media (min-width: '#{$large}px') and (max-width: '#{$blarge}px')
	.slider
		&_wrapper
			.slide
				&[data-slide="1"]
					.slide
						&_photo
							&_img
						&_info
							padding: 0 60px
@media (min-width: '#{$small}px') and (max-width: '#{$large}px')
	.slider
		&_wrapper
			.slide
				&[data-slide="1"]
					.slide
						&_photo
							&_img
						&_info
							padding: 0 40px
	.company
		&_info.link_items
			.card
				// padding: 10px 40px
				// height: 130px
	.clients
		.partners
			.ct_3
				.card
					&:nth-child(2)
						margin: 0 100px
@media (max-width: '#{$small}px')
	.slider
		&_inner
			height: 568px
		&_wrapper
			.slide
				&[data-slide="1"]
					.slide
						&_photo
							&_img
								background: url(#{$img_path}/item/main_banner2.jpg) no-repeat
								background-size: auto 534px
								background-position: center
						&_info
							padding: 0 55px
							.btn
								font-size: 14px
								height: 45px
								line-height: 45px
								margin-top: 520px
								width: 100%
				&_info
					padding: 190px 20px 0
					height: 100%
				&_title
					max-width: 300px
					width: auto
					h2
						font-size: 30px
						line-height: 28px
				&_about
					p
						max-height: 70px
						font-size: 16px
						line-height: 23px
				.btn-outline2
					position: absolute
					bottom: 55px
					width: auto
					left: 20px
					right: 20px

				&[data-slide="1"]
					.slide
						&_photo
							&_img
								background-position: left center
								background-size: auto 100%
								background-position: no-repeat
						&_info
							.btn
								font-size: 14px
								height: 45px
								line-height: 45px
								bottom: 30px
		.arrow
			&_left
				display: none
			&_right
				display: none
	.services
		&_about
			margin-bottom: 17px
		.cards
			.card
				height: 345px
				&_title
					font-size: 20px
					line-height: normal
					margin-bottom: 24px
		.cards
			.card
				padding-top: 50%
				min-height: 150px
	.company
		&_about
			margin-bottom: 44px
		.about_items
			.card
				display: flex
				flex-flow: row nowrap
				justify-content: flex-start
				align-items: center
				margin-bottom: 30px
		&_info
			&.link_items
				// margin: 0 -20px
				padding-bottom: 0
				.card
					border-radius: 0
					border: none
					border-top: 1px solid #{$cgray}
					height: auto
					justify-content: center
					padding: 0
					margin-bottom: 0
					padding-bottom: 40px
					.social
						margin-top: 20px
					.vacancy
						&_info
							p
								line-height: 33px
								margin-bottom: 13px
	.clients
		.partners
			.cards
				padding-bottom: 0
				.card
					margin: 0
					margin-bottom: 30px
					img
						max-width: 100%
						height: 24px
			.cards.ct_4
				.card
					&:nth-child(1)
						width: 100%
						margin-right: 0
					&:nth-child(2)
						width: calc(1/2*100% - (1 - 1/2)*20px)
						margin: 0 20px 30px 0
					&:nth-child(3)
						width: calc(1/2*100% - (1 - 1/2)*20px)
						margin-right: 0
					&:nth-child(4)
						width: 100%
						margin-right: 0
			.cards.ct_3
				.card
					&:nth-child(1)
						width: calc(1/2*100% - (1 - 1/2)*20px)
						margin: 0 20px 30px 0
					&:nth-child(2)
						width: calc(1/2*100% - (1 - 1/2)*20px)
						margin: 0 0 30px 0
					&:nth-child(3)
						width: 100%
						margin-right: 0
					&:nth-child(4)
						width: 100%
						margin-right: 0
@media (max-width: '#{$xsmall}px')
	.slider
		&_inner
			.owl
				&-dots
					bottom: -20px
		&_wrapper
			.slide
				&[data-slide="1"]
					.slide
						&_photo
							&_img
								background: url(#{$img_path}/item/mobile_main_banner2.jpg) no-repeat
								background-size: auto 534px
								background-position: center
						&_info
							padding: 0 20px