.header
	&_product
		.link
			color: #{$button_blue}
			&:hover
				color: #{$sblue}
.link
	color: #{$button_red}
	&:hover
		text-decoration: none
		color: #{$red}
.product_info
	position: relative
	.product
		position: relative
		display: flex
		flex-direction: row wrap
		justify-content: center
		align-items: stretch
		height: auto
		&_photo
			width: 50%
			height: 516px
			position: relative
			&_out
				position: absolute
				width: 823px
				left: -144px
				top: -41px
		&_about
			position: relative
			z-index: 2
			width: 50%
			height: 516px
			display: flex
			flex-flow: column wrap
			align-items: flex-start
			justify-content: center
			padding-left: 10px
			.text
				max-width: 500px
			.title
				h2
					text-align: left
					font-family: #{$proxima_bold}
	&_box
		margin-bottom: 60px
		flex: 1 100%
		height: 140px
		position: relative
		box-shadow: 0 0 24px #{$black_o_1}
		width: 100%
		z-index: 3
		background: #{$white}
		color: #{$dark_gray}
	&_price
		text-align: center
		position: relative
		.title
			&_item
				h2
					text-align: center
		&:after
			content: ' '
			position: absolute
			right: 0
			height: 100%
			top: 0
			width: 1px
			background: #{$cgray}
	&_demo
		text-align: center
		position: relative
		.title
			&_item
				h2
					text-align: center
	.product_program
		&_info
			padding-bottom: 40px
		&_buttons
			margin-bottom: 20px

.capability
	.features
		.item
			margin: 0 0 60px 0
			&_icon
				width: 32px
				height: 32px
				position: relative
				margin-bottom: 34px
			&_about
				p
					font: 14px/24px #{$ibm_sans}

.prices
	.price_list
		margin-bottom: 40px
		.item
			&:first-child
				.item-body
					border: 1px solid #{$cgray}
					border-top: none
			&:nth-child(2)
				.item-header
					background: #{$price_two}
				.item-body
					border-bottom: 1px solid #{$cgray}
			&:last-child
				.item-header
					background: #{$price_three}
				.item-body
					border: 1px solid #{$cgray}
					border-top: none
			&-feature
				margin-left: -1rem
				margin-right: -1rem
			&-header
				background: #{$price_one}
				padding: 0px 30px 0 30px
				height: 135px
				display: flex
				flex-flow: column wrap
				align-items: flex-start
				justify-content: center
				.title
					&_block
						h2
							color: #{$white}
						h3
							color: #{$white}
			&-body
				position: relative
				min-height: 760px
				padding-bottom: 170px
				padding-top: 60px
				ul
					list-style: none
					li
						font: 13px/22px #{$ibm_sans}
						margin-bottom: 9px
						&.noactive
							color: #{$noactive}
						&:before
							display: none
				.price_link_more
					position: absolute
					margin: 40px auto 0
					width: 100%
					a
				        text-transform: uppercase
				        font: 12px/18px #{$proxima_bold}
				.button_buy
					position: absolute
					margin: 0 auto
					width: 100%
					bottom: 36px
					
	.all_prices
		margin: 0px auto
		width: auto
		padding: 0
		width: 360px
		height: 60px
		line-height: 60px
		font-size: 16px
		color: #{$price_three}
		border-color: #{$price_three}
	.redaction
		width: auto
.callme
	&_list
		min-height: 120px
		margin-bottom: 60px
		box-shadow: 0 0 24px #{$black_o_1}
		padding: 0 40px
		.item
			&:nth-child(2)
				text-align: center
				p
					font-size: 14px
					line-height: 20px
		.title
			margin-bottom: 0
			h3
				text-align: left
				a
					color: #{$button_blue}
					text-transform: normal
.news
	&_list
		.item
			.date
				color: #{$date_gray}

.view_service
	h2.title
		margin-bottom: 0
	.items_service
		.item
			border: 1px solid #{$dgray}
			cursor: pointer
			padding-top: 20%
			position: relative
			&_photo
				width: 100%
				height: 100%
				position: absolute
				overflow: hidden
				left: 0
				top: 0
				img
					width: auto
					min-width: 100%
					height: 100%

.related
.reviews
	&_inner
		margin: 20px 0
		padding-bottom: 80px
		width: 100%
		overflow: hidden
		position: relative
		.owl-dots
			position: absolute
			z-index: 50
			bottom: -40px
			display: flex
			flex-direction: row
			align-items: center
			justify-content: center
			width: 100%
			.owl-dot
				border: 1px solid #{$dgray}
				border-radius: 15px
				width: 15px
				height: 15px
				background: #{$white}
				margin: 0 10px
				cursor: pointer
			.active
				background: #{$dgray}
				cursor: default
	&_wrapper
		.review
			height: 100%
			width: 100%
			.avatar
				width: 100px
				flex: 0 0 auto
			&_about
				display: flex
				flex-direction: row
				align-items: space-around
				justify-content: flex-start
				p
					margin: 0
					padding: 0
				
			&_photo
				border: 1px solid #{$dgray}
				width: 80px
				height: 100px
				position: relative
				&:before
					content: 'Фото'
					position: absolute
					left: 0
					top: 35px
					width: 100%
					text-align: center
					color: #{$dgray}
			&_info
				display: flex
				flex-flow: column nowrap
				align-items: flex-start
				justify-content: center
				color: #{$dark_gray}
				.company_name
					font-style: italic
			&_text
				margin-top: 20px
				color: #{$dark_gray}

.promo_product
	position: relative;
	height: auto;
	width: 100%;
	padding: 20px 0
	.l_container
		height: 100%
		.menu
			display: flex
			flex-direction: row
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			height: 100%
			.title
				margin-bottom: 0
				h2
					text-align: left
			.menu_product
				ul
					margin: 0 20px
					padding: 0
					display: flex
					flex-direction: row
					flex-wrap: wrap
					align-items: center
					li
						float: left
						margin: 0 0 0px 40px
.p_price
	margin-bottom: 60px
/* Medium device styles */
@media (max-width: '#{$medium}px')
	.product
		&_info
			&_textout
				display: none
			&_box
				margin: 0 0 30px
				height: auto
				padding: 20px 0
				position: relative
			&_price
				&:after
					position: relative
					width: auto
					top: auto
					bottom: 0px
					margin: 15px 27px
					height: 1px
					display: block
			.product_out_photo
				position: relative
				top: 0
				margin-top: 30px
				min-height: 300px
				width: 100%
			.inner_text
				flex-flow: column wrap
	.promo_product
		.l_container
			.menu
				padding-bottom: 35px
				flex-direction: column
				.title
					width: 100%
					margin-bottom: 25px
					h3
						width: 100%
						text-align: center
				.menu_product
					ul
						li
							margin: 0 0 10px 0
							width: 100%
							.btn
								display: block
								width: 100%
	.prices
		.price_list
			.item
				&-body
					border: 1px solid #{$cgray}
					border-top: none
	.callme
		&_list
			padding: 30px 0
			.item
				padding-bottom: 20px
			.title
				h3
					text-align: center
	.reviews
		&_inner
			.review
				.s_container
					padding: 0


/* Small device styles */
@media (max-width: '#{$small}px')
	.product
		&_out
			&_photo
				position: relative
				padding-top: 0
				min-height: auto
				img
					position: relative
	.view_service
		.items_service
			.item
				padding-top: 40%
				margin-bottom: 10px
	.reviews
		&_inner
			.review
				.s_container
					padding: 0
					width: 100%

@media (max-width: '#{$xsmall}px')
	.product_info
		&_box
			flex-flow: column wrap
		&_price
			width: 100%
			padding: 30px
			border-right: none
			border-bottom: 2px solid #{$dgray}
		&_demo
			padding: 30px
			width: 100%
	.prices
		.items_price
			.card
				height: auto
				&_body
					left: 0
					top: 0
					right: 0
					position: relative
					margin: 30px
					h3
						position: relative
						