.products
	padding: 40px 0		
	.items
		display: flex
		flex-flow: row wrap
		align-items: stretch
		padding: 0 0 60px
		.item:nth-child(1)
			flex: 1 100%
			.item_photo
				padding-top: 25%
		.item:nth-child(2)
			width: 66%
			.item_photo
				padding-top: 38%
		.item:nth-child(3)
			width: 32%
			.item_photo
				padding-top: 78.6%
		.item:nth-child(4)
		    width: 32%
		.item:nth-child(5)
		    width: 32%
		.item:nth-child(6)
		    width: 32%
		.item:nth-child(7)
		    width: 32%
		    .item_photo
		    	padding-top: 78.6%
		.item:nth-child(8)
		    width: 66%
		    .item_photo
		    	padding-top: 38%
		.item
			width: auto
			margin-bottom: 2vw