.header
	&_product
		.link
			color: #{$link_red}
			&:hover
				color: #{$button_red}
.link
	color: #{$button_red}
	&:hover
		text-decoration: none
		color: #{$red}
.notification
	background: #{$notification_red}
	color: #{$white}
	width: 100%
	height: 30px
	text-align: center
	p
		font-size: 14px
		line-height: 28px
// main product block
.product_info
	position: relative
	.product
		position: relative
		display: flex
		flex-direction: row wrap
		justify-content: flex-start
		align-items: stretch
		height: auto
		padding: 87px 0 60px
		&_photo
			width: 50%
			height: 516px
			position: relative
			&_out
				background: url(/upload/images/item/prod1-big.jpg) no-repeat center
				width: 100%
				height: 100%
		&_about
			position: relative
			z-index: 2
			width: 50%
			display: flex
			flex-flow: column wrap
			align-items: flex-start
			justify-content: center
			padding-left: 10px
			.text
				max-width: 610px
			.title
				h2
					text-align: left
					font-family: #{$proxima_bold}
			&_info
				margin-bottom: 2rem
				.info_column
					padding: 0
				.title
					&_block
						&_bold
							margin-bottom: 0
				.number_info
					font-size: 14px
	.block_buy
		background: #{$gwhite}
		border-radius: 5px
		-webkit-border-radius: 5px
		-moz-border-radius: 5px
		padding: 30px
		max-width: 568px
		margin-left: -30px
		color: #{$gblack}
		&_version
			p
				font-size: 14px
				line-height: 24px
			.block_buy_new
				flex-basis: 100px
				text-align: right
		&_btn
			.btn
				display: inline-block
		&_demo
			text-align: center
			.text_demo
				font: 12px/20px #{$ibm_sans}

.capability
	.features
		.item
			margin: 0 0 60px 0
			&_icon
				width: 32px
				height: 32px
				position: relative
				margin-bottom: 34px
			&_about
				p
					font: 14px/24px #{$ibm_sans}
// Prices block
.prices
	.price_list
		margin-bottom: 40px
		.item
			position: relative
			padding: 0
			&-shadow
				box-shadow: 0px 0px 24px #{$black_o_1}
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				z-index: 5
			&:first-child
				.item-body
				.item-feature
					border-radius: 8px 0 0 8px
				.item-shadow
					border-radius: 8px 0 0 8px
					
			&:nth-child(2)
				margin-left: -1px
				margin-right: -1px!important
				position: relative
				z-index: 10
				margin-top: -35px
				border-radius: 8px
				margin-bottom: -35px
				.best
					position: absolute
					right: 0
					top: 0
					overflow: hidden
					width: 111px
					height: 111px
					&_text
						color: #{$white}
						background: #{$price_three}
						width: 157px
						height: 25px
						font: 14px/24px #{$ibm_sans}
						text-align: center
						transform: rotate(45deg)
						position: absolute
						right: -38px
						top: 34px
				.item-header
					.title
						&_block
							margin-bottom: 24px
							h3
								font-size: 26px
								line-height: 40px
								margin-bottom: 0px
				.item-feature
					border-radius: 8px
					padding-top: 59px
				.item-shadow
					border-radius: 8px

			&:last-child
				.item-body
				.item-feature
					border-radius: 0 8px 8px 0
				.item-shadow
					border-radius: 0 8px 8px 0
			&-feature
				padding: 30px
				border-radius: 8px 0 0 8px
				width: 100%
				height: 100%
				background: #{$white}
				position: relative
				left: 0
				top: 0
				z-index: 6
			&-header
				.title
					&_block
						margin-bottom: 28px
						h2
							color: #{$gblack}
						h3
							color: #{$gblack}
							font-size: 20px
							line-height: 30px
			&-body
				position: relative
				ul
					list-style: none
					li
						font: 14px/24px #{$ibm_sans}
						margin-bottom: 9px
						.row
							div
								margin: 0
								padding: 0
							.hr
								width: 100%
								background: #{$hr_gray}
								margin: 17px 0 27px
							.end-xs
								color: #{$button_red}
								font-size: 16px
								font-weight: 600
						&.noactive
							color: #{$noactive}
						&:before
							display: none
				.price_link_more
					width: 100%
					margin-top: 22px
					a
				        text-transform: uppercase
				        font: 14px/18px #{$proxima_bold}
				        color: #{$price_three}
				.button_buy
					width: 100%
					bottom: 36px
					.btn
						margin: 23px auto 0
					.link_demo
						font: 14px/18px #{$proxima_bold}
						text-align: center
						letter-spacing: 0.2em
						text-decoration: underline
						color: #{$price_three}
						margin-top: 30px
						display: block
						text-transform: uppercase
					p
						font-size: 14px

	.all_prices
		margin: 40px auto 0
		display: block
		width: auto
		padding: 0
		line-height: 24px
		font-size: 16px
		font: 18px/24px #{$proxima_bold}
		color: #{$price_three}
		text-transform: uppercase
		text-decoration: underline
		&_out
			margin: 70px 0 40px
	.redaction
		width: auto
// Скриншоты
.screen
	&_list
		padding-bottom: 60px
		margin: 0 -10px
		.item
			cursor: pointer
			#openNewScreen
				margin: 0 10px
			img
				width: 100%
// Технические требования
.techreq
	padding-bottom: 40px
	.tech
		&_short
			a
				color: #{$button_red}
		&_full
			display: none
			.attention
				color: #{$button_red}
				line-height: 50px
			ul
				margin-left: 30px
				li
					padding: 0 0 7px 30px
// Оставить заявку
.callme
	&_list
		margin-bottom: 60px
		padding: 30px
		background: #{$gwhite}
		.item
			&:nth-child(2)
				text-align: center
				p
					font-size: 14px
					line-height: 20px
		.headphones
			width: 60px
			flex-basis: 60px
			max-width: 60px
			height: 38px
			display: inline-block
		.title
			margin-bottom: 0
			h4
				text-align: left
				display: inline-block
				a
					color: #{$button_blue}
					text-transform: normal
		.button
			&_request
				width: 230px
		.callme_action
			max-width: 600px
			margin: 0px auto
// События и вебинары
.evs
	margin-bottom: 40px
	.ev_list
	.title
		h3
			text-align: left
	.events
		.link
			font: 13px/22px #{$ibm_sans}
		&_list
			.item
				.date
					color: #{$date_gray}
	.webinary
		margin-bottom: 30px
		&_about
			padding-bottom: 40px
		&_schedule
	&_social
		display: flex
		&_title
			display: block
			color: #{$gblack}
			flex-basis: auto
		&_icons
			display: block
			a
				display: inline-block
				width: 30px
				height: 30px
			.icon
				margin-left: 20px
// Подписаться на рассылку
.subscribe
	&_list
		margin-bottom: 60px
		padding: 30px
		background: #{$gwhite}
		.item
			&:nth-child(2)
				text-align: center
				p
					font-size: 14px
					line-height: 20px
		.mail
			width: 60px
			flex-basis: 60px
			max-width: 60px
			height: 26px
			display: inline-block
		.title
			margin-bottom: 0
			h4
				text-align: left
				display: inline-block
				a
					color: #{$button_blue}
					text-transform: normal
	&_form
		&_email
			margin-left: -20px
// Центр загрузки и База знаний
.rsit_base
	.list_base
		margin-bottom: 80px
		.item
			padding: 30px
			position: relative
			box-shadow: 0px 0px 24px #{$black_o_1}
			background: #{$white}
			height: 315px
			border-radius: 8px
			&:first-child
				margin-right: 20px
			&_header
				margin-bottom: 30px
				&_icon
					flex-basis: auto
					max-width: auto
					.icon
						display: flex
						flex-flow: row wrap
						align-items: center
						justify-content: center
				.title
					margin-bottom: 0
					margin-left: 30px
					h4
						text-align: left
				.icon
					background: #{$price_three}
					width: 70px
					height: 70px
			&_body
			&_footer
				position: absolute
				bottom: 30px
				left: 30px
.documents
	.docs_list
		margin-bottom: 60px
		.title
			margin-bottom: 28px
			h4
				text-align: left
		.doc_links
			.doc_link
				a
					font: 16px/35px #{$ibm_sans}
					color: #{$button_red}
.promo_product
	position: relative;
	height: auto;
	width: 100%;
	padding: 20px 0
	.l_container
		height: 100%
		.menu
			display: flex
			flex-direction: row
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			height: 100%
			.title
				margin-bottom: 0
				h2
					text-align: left
			.menu_product
				ul
					margin: 0 20px
					padding: 0
					display: flex
					flex-direction: row
					flex-wrap: wrap
					align-items: center
					li
						float: left
						margin: 0 0 0px 40px
.p_price
	margin-bottom: 60px
/* Medium device styles */
@media (max-width: '#{$medium}px')
	.product
		&_info
			.product
				padding: 20px 0 20px
				&_about
					padding-left: 0
					&_info
						// margin: auto
			.block
				&_buy
					margin: auto
					max-width: 100%
					&_btn
						margin-bottom: 10px
						.btn
							width: 100%
	.prices
		.price_list
			.item
				&-header
					.title
						&_block
							h3
								font-size: 20px
				&:nth-child(2)
					.item-header
						.title
							&_block
								h3
									font-size: 20px
	.screen
		&_list
			.item
				margin-bottom: 20px
	.callme
		&_list
			margin-bottom: 40px
			.title
				margin-bottom: 28px
			.callme
				&_action
					margin-bottom: 30px
			.button
				&_request
					width: 100%
	.evs
		padding-top: 0
		.title
			h3
				text-align: center
		.ev
			&_list
				.events
					margin-bottom: 40px
		&_social
			&_icons
				.icon
					margin-right: 20px
					margin-left: 0
	.subscribe
		&_list
			.title
				margin-bottom: 28px
		&_form
			&_email
				margin-left: 0
				margin-bottom: 14px
	.rsit_base
		.list_base
			.item
				&:first-child
					margin-right: 0
					margin-bottom: 20px
	.documents
		.docs_list
			.title
				margin-bottom: 14px
				margin-top: 14px	

/* Small device styles */
@media (max-width: '#{$small}px')
	.notification
		&.pau
			padding: 0 20px
			height: auto
	.product
		&_info
			.container
				padding: 0
			.product
				&_about
					padding: 0 55px
	.prices
		.price_list
			.item
				z-index: 1
				&-shadow
					box-shadow: 0 0 8px #{$black_o_1}
				&:nth-child(2)
					margin: 20px auto
					z-index: 1
					.item-header
						.title
							&_block
								h3
									font-size: 24px
				&-header
					.title
						&_block
							margin-top: 0
							h3
								text-align: left
				&-body
					.button
						&_buy
							p
								font-size: 12px
							.link
								&_demo
									font-size: 12px
		.all_prices
			font-size: 14px
			&_out
				margin-top: 40px
	.rsit_base
		.list_base
			.item
				height: auto
				padding-bottom: 80px

/* XSmall device styles */
@media (max-width: '#{$xsmall}px')	
	.product
		&_info
			.product
				&_about
					padding: 0 20px
	.rsit_base
		.list_base
			.item
				&_header
					.icon
						width: 50px
						height: 50px
						object
							width: 16px
