.service
	padding: 40px 0
	.promo
		margin-top: 30px
		.card_body
			max-width: 450px
	.brief
		margin-top: 40px
		color: #{$dark_gray}
		.title
			margin-bottom: 10px
		p
			margin-bottom: 40px
.about_client
	.items
		padding: 40px 0
		.logo
			width: 350px
			height: 80px
			border: 1px solid #{$dgray}
		.info
			margin-left: 20px
			color: #{$dark_gray}
			display: flex
			flex-flow: row wrap
			justify-content: flex-start
			align-items: center

.text
	margin: 40px 0
	img
		width: 100%
		min-height: 500px
		border: 1px solid #{$dgray}
	p
		padding-top: 1rem
		padding-bottom: 2rem
		color: #{$dark_gray}
	.arrows
		margin-top: 40px
		display: flex
		flex-flow: row nowrap
		justify-content: space-between
		align-items: flex-end