@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans')

@font-face
	font-family: 'ProximaNova-Reg';
	font-style: normal;
	font-weight: 400;
	src: url(#{$font_path}/ProximaNova-Regular.ttf) format('truetype'), url(#{$font_path}/ProximaNova-Regular.otf) format('otf'), url(#{$font_path}/ProximaNova-Regular.eot) format('eot'), url(#{$font_path}/ProximaNova-Regular.woff) format('woff')

@font-face
	font-family: 'ProximaNova-Bold';
	font-style: normal;
	font-weight: 900;
	src: url(#{$font_path}/ProximaNova-Bold.ttf) format('truetype'), url(#{$font_path}/ProximaNova-Bold.otf) format('otf'), url(#{$font_path}/ProximaNova-Bold.eot) format('eot'), url(#{$font_path}/ProximaNova-Bold.woff) format('woff')


@font-face
	font-family: 'HelveticaRegular';
	font-style: normal;
	font-weight: 400;
	src: url(#{$font_path}/HelveticaRegular.ttf) format('truetype'), url(#{$font_path}/HelveticaRegular.eot) format('eot'), url(#{$font_path}/HelveticaRegular.woff) format('woff')


@font-face
	font-family: 'Gerbera';
	font-style: normal;
	font-weight: 700;
	src: url(#{$font_path}/Gerbera_Medium.ttf) format('truetype'), url(#{$font_path}/Gerbera_Medium.otf) format('otf');

@font-face
	font-family: 'Gerbera';
	font-style: normal;
	font-weight: 900;
	src: url(#{$font_path}/Gerbera_Bold.ttf) format('truetype'), url(#{$font_path}/Gerbera_Bold.otf) format('otf');

@font-face
	font-family: 'Gerbera';
	font-style: normal;
	font-weight: 300;
	src: url(#{$font_path}/Gerbera_Light.ttf) format('truetype'), url(#{$font_path}/Gerbera_Light.otf) format('otf');

@font-face
	font-family: 'Gerbera';
	font-style: normal;
	font-weight: 300;
	src: url(#{$font_path}/Gerbera_Light.ttf) format('truetype'), url(#{$font_path}/Gerbera_Light.otf) format('otf');