*
    margin: 0;
    padding: 0;
    box-sizing: border-box;

html, body
    height: 100%;

body
    font-family: Arial;
    font-size: 14px;
    line-height: 25px;
    font-weight: normal;
    color: $black;
    background: $cgray
    font-size: #{$base + 'px'}

a
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    outline: none;
    color: $blue;
    transition: all .2s ease;
    &:hover
        text-decoration: underline

ul
    list-style: none;

ol
    padding-left: 15px;

img
    display: block;
    margin: auto;
h2
    font-weight: 600
.title 
    h2
        text-align: center
        color: #{$kgray}
        margin-top: 1rem
        font-weight: 600
        
.title
    margin-bottom: 35px
.title 
    h3
        padding: 0
        margin: 0
        font-weight: 600
        // font-size: 40px
        // line-height: 44px
        // font-weight: bold
        text-align: center
        color: #{$kgray}

@media (min-width: '#{$small}px') and (max-width: '#{$mlarge}px')
    h2
        font-size: 2.2rem
    h3
        font-size: 1.8rem
    p
        font-size: 0.8rem
    .link
        font-size: 0.8rem

/*base classes*/



.main_container
    background: #{$white}
.footer_container
    width: 100%
    margin: 0 auto
.s_container
    width: 54vw
    min-width: 600px
    margin: 0 auto
.m_container
    width: 40vw
    margin: 0 auto
.x_container
    width: 30vw
    margin: 0 auto

.container
    margin: auto;
    padding: 0 55px;
    transition: all 0.5s ease-in-out
    -o-transition: all 0.5s ease-in-out
    -moz-transition: all 0.5s ease-in-out
    -webkit-transition: all 0.5s ease-in-out
    -ms-transition: all 0.5s ease-in-out
    &.no-padding
        padding: 0;
    &.no-padding-right
        padding: 0 0 0 25px;
    @media (min-width: '#{$small}px')
        padding: 0 110px;
        &.no-padding-right
            padding: 0 0 0 55px;

.bg
    &-black
        background: $black;
        &-o8
            background: $black_o_8
        &-o9
            background: $black_o_9
        &-o65
            background: $black_o_65
    &-gray
        background: $gray;
    &-dgrey
        background: $dark_gray;

.c
    &-white
        color: $white;
    &-black
        color: $black;

.italic
    font-style: italic;

.btn
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    font-family: 'Arial';
    font-weight: bold;
    &-blue
        background: $blue;
        color: $white;
        width: 180px;
        padding: 11px 0 8px;
        font-size: 16px;
    &-outline
        border: 2px solid $blue;
        color: $blue
        background: $white
        padding: 11px 0 8px
        font-size: 16px
        width: 180px
    &-black
        background: #000000;
        color: $white;
        padding: 10px;
    &:hover
        text-decoration: none
.small_text
    font-size: 14px
.big_text
    font-size: 30px
    line-height: 50px
.big_text_2
    line-height: 50px
    font-size: 40px
.breadcrumbs
    margin: 0 auto
    color: #{$dgray}
    text-align: center
.items
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    flex-wrap: nowrap
    padding: 0 0 60px
    .item
        width: 32%
        padding: 0
.prods
    .item
        border: 1px solid #{$dgray}
        width: 32%
        padding: 0
        cursor: pointer
        &:hover
            .item_info
                max-height: 200px
        &_photo
            width: 100%
            padding-top: 78.5%
            min-height: 250px
            display: flex
            flex-direction: column
            justify-content: flex-end
            position: relative
            &:before
                content: 'Фотография'
                color: #{$dgray}
                text-align: center
                position: absolute
                top: 40%
                width: 100%
        &_about
            padding: 0 30px 20px
            max-width: 400px
            display: flex
            flex-direction: column
            justify-content: center
            position: absolute
            left: 0
            bottom: 0
        &_link
            font-size: 25px
            line-height: 30px
            margin-bottom: 10px
            a
                height: 100%
            &:hover
                text-decoration: none
        &_info
            font-size: 14px
            color: #{$dark_gray}
            max-height: 0
            overflow: hidden
            transition: all 0.5s ease-in-out;
            p
                font-size: 14px
                line-height: 22px
.cards
    display: flex
    flex-direction: row
    align-items: stretch
    justify-content: space-between
    flex-wrap: wrap
    padding: 0 0 60px
    .card
        border: 1px solid #{$dgray}
        width: 32%
        padding: 0
        cursor: pointer
        margin-bottom: 2%
        position: relative
        padding-top: 32%
        &.c_a
            width: 100%
        &.c_2_3
            width: 66%
        &.c_1_3
            width: 32%

        &:hover
            .item_info
                max-height: 200px
        &_photo
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
        &_body
            position: absolute
            left: 20px
            bottom: 10px
            max-width: 300px
            .card_text
                color: #{$dark_gray}
                max-height: 0
                overflow: hidden
                transition: all 0.5s ease-in-out;
        &_link
            span
                position: absolute
                left: 0
                top: 0
                z-index: 1
                width: 100%
                height: 100%    