.header
	position: absolute;
	top: 0
	left: 0
	height: auto;
	padding: 40px 0
	width: 100%;
	&_product
		border-top: 1px solid #{$cgray}
		border-bottom: 1px solid #{$cgray}
		.container
			height: 100%
			.menu
				.logo
					background: #{$cgray}
					border: 1px solid #{$cgray}
				&_product
					display: block
					margin-top: 20px
				ul
					li
						a
							color: #{$black}
						.btn
							font-size: 12px
							letter-spacing: 0.1em
							color: #{$white}
							&.btn-outline
								color: #{$blue}
								&:hover
									color: #{$white}
	&_main
		z-index: 2
	&.h-top
		position: relative
		padding: 10px 0
		.container
			.menu
				.logo
					background: url('#{$svg_path}/logo-2.svg') center no-repeat
					background-size: 180px auto
				&_top
					ul
						li
							a
								color: #{$black}
	.container
		height: 100%
		.menu
			display: flex
			flex-direction: row
			flex-wrap: wrap
			align-items: center
			justify-content: space-between
			height: 100%
			.logo
				float: left;
				width: 180px
				height: 60px
				background: url('#{$svg_path}/logo.svg') center no-repeat
				background-size: 180px auto
				img
					width: 100%
					height: auto
			&_topr
				float: right
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				ul
					margin: 0
					padding: 0
					display: flex
					flex-direction: row
					flex-wrap: wrap
					li
						margin: 0 40px 0 0
						line-height: 60px
						&:last-child
							margin-right: 0
						a
							font-family: 'HelveticaRegular'
							font-size: 16px
							&:hover
								opacity: .8
								text-decoration: none
			&_top
				float: right
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				.close
					background: url('#{$svg_path}/close.svg') center no-repeat
					background-size: 16px auto
					width: 32px
					height: 32px
					cursor: pointer
					position: absolute
					top: 30px
					right: 30px
				ul
					margin: 0
					padding: 0
					li
						float: left
						margin: 0 0 0 60px
						line-height: 60px
						a
							font-family: 'HelveticaRegular'
							font-size: 16px
							color: #{$white}
							&:hover
								opacity: .8
								text-decoration: none
@media (max-width: '#{$small}px')
	.header
		padding: 0
        // transition: all 0.5s ease-in-out;
        // -o-transition: all 0.5s ease-in-out
        // -moz-transition: all 0.5s ease-in-out
        // -webkit-transition: all 0.5s ease-in-out
        // -ms-transition: all 0.5s ease-in-out
		&.fix-header
			position: fixed
			z-index: 110
			background: #{$white}
			box-shadow: 0px 0px 24px #{$black_o_3}
			.container
				padding: 0px 20px
				.menu
					&_mobile
						top: 20px
					.logo
						background: url('#{$svg_path}/logo-2.svg') left center no-repeat
						background-size: 120px auto
						height: 40px
		&_main.h-top.fix-header
			.container
				.menu
					&_mobile
						.icon
							&_line
								background: #{$kgray}
		&_main.fix-header
			padding: 10px 0
			.container
				.menu
					&_mobile
						top: 20px
						.icon
							&_line
								background: #{$kgray}
		&_main.h-top
			.container
				.menu
					&_mobile
						.icon
							&_line
								background: #{$kgray}

		&.h-top
			.container
				.menu
					&_top
						ul
							li
								a
									color: #{$white}
		.container
			transition: unset
			padding: 15px 20px
			.menu
				align-items: flex-start
				&_mobile
					position: absolute
					right: 30px
					top: 35px
					.icon
						&_line
							width: 23px
							height: 2px
							margin-bottom: 7px
							display: block
							background: #{$white}
				&_topr
					ul
						li
							margin: 0 40px 0 0
							height: 40px
							line-height: 40px
							margin-bottom: 5px
							&:last-child
								margin-right: 0
				&_top
					display: none
					position: fixed
					top: 0
					left: 0
					width: 100%
					height: 100%
					z-index: 50
					background: #{$kgray}
					.close
						z-index: 2
					ul
						position: absolute
						top: 30px
						left: 30px
						right: 30px
						li
							width: 100%
							height: 60px
							line-height: 60px
							margin-left: 0
							margin-right: 60px
							// border-bottom: 1px solid #{$white_o_3}
							a
								font-size: 22px
								color: #{$white}


/* XSmall device styles */
@media (max-width: '#{$xsmall}px')
	.header
		.container
			.menu
				&_topr
					width: 100%
					ul
						li
							width: 100%
							margin-right: 0