$img_path: '/upload/images';
$svg_path: '/upload/images/icon';
$sprite_path: '/upload/images/icons/svg/defs.svg';
$font_path: 'fonts';

//fonts
$proxima_bold: 'ProximaNova-Bold'
$proxima_regular: 'ProximaNova-Reg'
$ibm_sans: 'IBM Plex Sans'
$roboto: 'Roboto'

//@media
$xsmall: 580;
$small: 768;
$medium: 992;
$large: 1200;
$mlarge: 1320;
$blarge: 1440;

//colors
$black: #171717;
$white: #FFFFFF;
$white_o_3: rgba(255,255,255,.3);
$white_o_4: rgba(255,255,255,.4);
$white_o_5: rgba(255,255,255,.5);
$white_o_65: rgba(255,255,255,.65);
$white_o_8: rgba(255,255,255,.8);
$white_o_9: rgba(255,255,255,.9);
$gwhite: #FBFBFB;
$mblack: #1A1A1A;
$gblack: #333333;
$black_o_1: rgba(0,0,0,.1);
$black_o_3: rgba(0,0,0,.3);
$black_o_4: rgba(0,0,0,.4);
$black_o_5: rgba(0,0,0,.5);
$black_o_65: rgba(0,0,0,.65);
$black_o_8: rgba(0,0,0,.8);
$black_o_9: rgba(0,0,0,.9);
$gray: #E5E5E5;
$dark_gray: #373737;
$blue: #2D9CDB;
$dark_blue: #384B61;
$cgray: #E4E4E4;
$dgray: #cfcfcf;
$kgray: #465868;
$egray: #a9a9a9;
$noactive: #BCBCBC
$shadow_gray: rgba(0, 0, 0, 0.09);

$sblue: #7EA9EA;
$sgreen: #34ADA6;
$sred: #EA7E7E; 
$red: #E96060;

$date_gray: #959595
$hr_gray: #E9E9E9

//buttons
$button_red: #DB0306;
$button_blue: #41688C;

$input_border: #DFDFDF

// prices red
$price_one: #FF9B9B
$price_two: #F17979
$price_three: #D8595A
$notification_red: #EB7F80
$link_red: #E44244

$cyellow: #FFF2E3
$cblue: #F0FAF4
$cpink: #FFEDFD